<mat-dialog-content class="mat-typography">
  <div class="text-center" style="padding-top: 25px;"><p class="title-projet-page">Nouvel événement</p></div>
  <div class="row"><div class="col"><hr class="entreprise"></div></div><!--row-->
  <div *ngIf="agenda">
    <form [formGroup]="agendaFormGroup">

      <div style="margin-bottom: 8px;">
        <mat-form-field class="example-full-width">
          <mat-label>Titre</mat-label>
          <input matInput  formControlName="title" [(ngModel)]="agenda.title">
        </mat-form-field>
      </div><!--div-->

      <div class="row" style="margin-bottom: 8px;">
        <div class="col">
          <mat-form-field class="example-full-width">
            <mat-label>Début</mat-label>
            <input matInput  type="datetime-local" formControlName="start" [(ngModel)]="agenda.start">
          </mat-form-field>
          <p>{{start}}</p>
          
        </div>
        <div class="col">
          <mat-form-field class="example-full-width">
            <mat-label>Fin</mat-label>
            <input matInput  type="datetime-local" formControlName="end" [(ngModel)]="agenda.end">
          </mat-form-field>
          <p>{{end}}</p>
        </div>
      </div><!--div-->
      <div style="margin-bottom: 8px;">
        <mat-form-field class="example-full-width">
          <mat-label>Couleur</mat-label>
          <input matInput type="color" formControlName="color"  [(ngModel)]="agenda.color">
        </mat-form-field>
      </div><!--div-->

    </form>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
   <button mat-button mat-dialog-close style="margin-right: 10px;">Fermer</button>
   <button mat-button cdkFocusInitial style=" background: #0829cf !important;color:#fff" (click)="updateAgenda()">Valider</button>
</mat-dialog-actions>
