
<div class="container">
  <div class="content-top-child">
    <div class="row projet-layout-row">
        <div class="col-12 col-lg-4 col-xl-3 projet-summary-col">

          <div class="card card-projet">
            <img src="{{projet.photo}}" *ngIf="projet?.photo" class="card-img-top card-img-projet" alt="...">
            <img src="assets/images/ppr.png" *ngIf="!projet?.photo" class="card-img-projet" alt="...">

            <div class="card-body" style="padding-top: 40px;">
              <p class="user-title">Nom du responsable projet</p>
              <p class="user-title">{{contact?.genre}} {{contact?.nom}} {{contact?.prenom}}</p>
              <div align="center" style="margin-bottom:40px;"><hr class="projet"></div>

              <p class="title-projet" style="margin-bottom:20px;">{{projet?.projet}}</p>
              <p class="title-projet" style="margin-bottom:20px;">{{entreprise?.societe}}</p>

              <div class="progress progress-projet" role="progressbar" aria-label="Basic example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="margin-bottom:10px;">
                <div class="progress-bar" [ngStyle]="{'width': (projet?.etat=='En attente') ? '0%' : (projet?.etat=='En cours') ? '50%' : (projet?.etat=='Clôturé') ? '100%' : '0%'}"></div>
              </div>
              <p class="pr-projet" *ngIf="projet?.etat=='En attente'">0%</p>
              <p class="pr-projet" *ngIf="projet?.etat=='En cours'">50%</p>
              <p class="pr-projet" *ngIf="projet?.etat=='Clôturé'">100%</p>


              <div class="row">

                <div class="col">
                  <div class="card" style="margin-bottom:10px">
                    <div class="card-body">
                      <p align="center"><i class="fa-solid fa-location-dot"  style="font-size: 25px;color:#28628B"></i></p>
                      <p class="pr-title-projet">{{projet?.rue}},{{projet?.postal}} {{projet?.ville}}</p>
                    </div>
                  </div>
                  <p class="pr-title-etat">Lieu</p>
                </div><!--col-->
            </div><!--row-->
            </div><!--card-body-->
          </div>

        </div><!--col-->
        <div class="col-12 col-lg-8 col-xl-9 projet-tabs-col">
          <div class="row">
            <div class="col">
              <p class="title-col">Date Création du projet</p>
              <p class="infos-col">{{projet?.createdDate |date :'dd MMMM yyyy'}}</p>
            </div>
            <div class="col">
              <p class="title-col">Code Projet</p>
              <p class="infos-col">{{projet?.code_projet}}</p>
            </div>
            <div class="col">
              <p class="title-col">Code Commande Client</p>
              <p class="infos-col">{{projet?.code_client}}</p>
            </div>
          </div><!--row-->
          <div><hr class="fiche"></div>
          <div class="row">
            <div class="col">
              <p class="title-col">Fin contrat</p>
              <p class="infos-col">{{projet?.date_fin_contrat |date :'dd MMMM yyyy'}}</p>
            </div>
            <div class="col">
              <p class="title-col">Pays</p>
              <p class="infos-col">{{projet?.pays}}</p>
            </div>
            <div class="col">
              <p class="title-col">Budget Prévisionnel</p>
              <p class="infos-col">{{projet?.budget}} {{projet?.devise}}</p>
            </div>
          </div><!--row-->
        </div>
    </div><!--container-->
  </div>
</div>

