
<div class="container">

  <div class="content-top-child">

    <div class="row justify-content-md-center">
      <div class="col-lg-10 col-md-10 col-md-auto">
        <div class="row">
          <div class="col">
            <p class="title-col">Date Contrat</p>
            <p class="infos-col">14 Février 2020</p>
          </div>
          <div class="col">
            <p class="title-col">Code Projet</p>
            <p class="infos-col">KAP-123JKIU56</p>
          </div>
          <div class="col">
            <p class="title-col">Code Commande Client</p>
            <p class="infos-col">12MBVN</p>
          </div>
        </div><!--row-->
      </div><!--10-->
    </div><!--row-->
    <div><hr class="fiche"></div>
    <div class="row justify-content-md-center">
      <div class="col-lg-10 col-md-10 col-md-auto">
        <div class="row">
          <div class="col">
            <p class="title-col">Service Koonda</p>
            <p class="infos-col">MLKA</p>
          </div>
          <div class="col">
            <p class="title-col">Type Service</p>
            <p class="infos-col">Fourniture / Pose</p>
          </div>
          <div class="col">
            <p class="title-col">Réseau</p>
            <p class="infos-col">Structure Modulaire</p>
          </div>
        </div><!--row-->
      </div><!--10-->
    </div><!--row-->
    <div><hr class="fiche"></div>
    <div class="row justify-content-md-center" style="margin-bottom: 50px;">
      <div class="col-lg-6 col-md-6 col-md-auto">
        <div class="row">
          <div class="col">
            <p class="title-col">Pays</p>
            <p class="infos-col">France</p>
          </div>
          <div class="col">
            <p class="title-col">Budget Prévisionnel</p>
            <p class="infos-col">316 596, 00 €</p>
          </div>
        </div><!--row-->
      </div><!--10-->
    </div><!--row-->
    <div align="right">
      <p><img src="assets/images/userp.png" style="margin-right: 10px;"> <span class="infos-resp">Nom du responsable du projet</span></p>
    </div>
  </div><!--content-top-->

</div><!--container-->

