
<div class="container">

  <div class="content-top-child">

    <div class="row justify-content-md-center">
      <div class="col-lg-10 col-md-10 col-md-auto">
        <div class="row">
          <div class="col">
            <p class="title-col">Date Contrat</p>
            <p class="infos-col">{{projet?.createdDate |date :'dd MMMM yyyy'}}</p>
          </div>
          <div class="col">
            <p class="title-col">Code Projet</p>
            <p class="infos-col">{{projet?.code_projet}}</p>
          </div>
          <div class="col">
            <p class="title-col">Code Commande Client</p>
            <p class="infos-col">{{projet?.code_client}}</p>
          </div>
        </div><!--row-->
      </div><!--10-->
    </div><!--row-->
    <div><hr class="fiche"></div>
    <div class="row justify-content-md-center">
      <div class="col-lg-10 col-md-10 col-md-auto">
        <div class="row">
          <div class="col">
            <p class="title-col">Service Koonda</p>
            <p class="infos-col">MLKA</p>
          </div>
          <div class="col">
            <p class="title-col">Type Service</p>
            <p class="infos-col">{{projet?.service}}</p>
          </div>
          <div class="col">
            <p class="title-col">Réseau</p>
            <p class="infos-col">Structure Modulaire</p>
          </div>
        </div><!--row-->
      </div><!--10-->
    </div><!--row-->
    <div><hr class="fiche"></div>
    <div class="row justify-content-md-center" style="margin-bottom: 50px;">
      <div class="col-lg-6 col-md-6 col-md-auto">
        <div class="row">
          <div class="col">
            <p class="title-col">Pays</p>
            <p class="infos-col">{{projet?.pays}}</p>
          </div>
          <div class="col">
            <p class="title-col">Budget Prévisionnel</p>
            <p class="infos-col">{{projet?.budget}} {{projet?.devise}}</p>
          </div>
        </div><!--row-->
      </div><!--10-->
    </div><!--row-->

    <div class="row" style="margin-bottom: 30px;">
      <div class="col">
        <div class="card card-etude">
          <div class="card-body">
             <div class="row">
                <div class="col"><p class="box-title">Activités</p></div>
                <div class="col"> <p class="dot-box-title">Voir Tout >>></p></div>
             </div><!--row-->

             <div>
              <div class="row">
                <div class="col-8">
                  <p>
                    <img src="assets/images/userp.png" style="margin-right: 10px;"> <span style="font-size: 13px;font-weight:500;">M. DUPONT</span>
                   </p>
                   <p class="dot-card1-user">Demande d'intervention</p>
                </div>
                <div class="col-4">
                  <p class="dot-card-time">5 min</p>
                </div>
               </div><!--row-->

               <div class="row" style="position: relative;bottom: 28px;">
                <div class="col">
                  <div class="card card-dot-green">
                    <div class="card-body">
                      <img src="assets/images/pdf.png" style="margin-bottom: 4px;">
                      <p class="dot-box-file">Nom du Fichier</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card card-dot-blue">
                    <div class="card-body">
                      <img src="assets/images/doc.png" style="margin-bottom: 4px;">
                      <p class="dot-box-file">Nom du Fichier</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card card-dot-red">
                    <div class="card-body">
                      <img src="assets/images/pdf.png" style="margin-bottom: 4px;">
                      <p class="dot-box-file">Nom du Fichier</p>
                    </div>
                  </div>
                </div>
               </div><!--row-->
             </div>
             <div>
              <div class="row">
                <div class="col-8">
                  <p>
                    <img src="assets/images/userp.png" style="margin-right: 10px;"> <span style="font-size: 13px;font-weight:500;">Mme PARIS</span>
                   </p>
                   <p class="dot-card1-user">Demande d'intervention</p>
                   <p style="position: absolute;bottom: 10px;left: 64px;">
                    <button type="button" class="btn btn-etude">Mettre le nom du lôt ici...</button>
                   </p>
                </div>
                <div class="col-4">
                  <p class="dot-card-time">2 min</p>
                </div>
               </div><!--row-->
             </div>


          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card-etude">
          <div class="card-body">
            <div class="row">
              <div class="col"><p class="box-title">Statistiques</p></div>
              <div class="col" align="right" style="position: absolute;top: 5px;">
                <button mat-button [matMenuTriggerFor]="menu" class="dot-box-title">Sélectionner</button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item>Électricité</button>
                  <button mat-menu-item>Plomberie</button>
                  <button mat-menu-item>Autre</button>
                </mat-menu>
              </div>
           </div><!--row-->

           <div class="row">
            <div class="col">
              <img src="assets/images/stat1.png">
            </div>
            <div class="col">
              <img src="assets/images/stat2.png">
            </div>
         </div><!--row-->


          </div>
        </div>
      </div>
    </div><!--row-->

    <div align="right">
      <p><img src="assets/images/userp.png" style="margin-right: 10px;"> <span class="infos-resp">{{projet?.responsable}}</span></p>
    </div>
  </div><!--content-top-->

</div><!--container-->

