<app-navbar>
  <div class="container">
    <div class="content-top">
      <div class="row">
        <div class="col">
          <h2 class="content-title">Demande de Devis</h2>
        </div>
        <div class="col">
           <div align="right" *ngIf="devis">
            <!--<button mat-raised-button color="primary" style="margin-right: 10px;" *ngIf="!devis?.isFacture" (click)="convertToFacture()">Facture</button>-->
            <button mat-raised-button color="accent" style="margin-right: 10px;"  (click)="openDialogSigne(devis?._id)" *ngIf="!devis?.signature">Envoyer par mail</button>
            <button mat-raised-button [routerLink]="'/devis/' + devis?._id+'/devis'">Aperçu</button>
           </div>
        </div>
      </div>
    </div><!--content-->
    <mat-divider style="margin-bottom: 30px;"></mat-divider>
    <div style="margin-bottom: 30px;">
      <div class="row">
         <div class="col">
           <h2>{{devis?.numero}}</h2>
         </div>
      </div>
      <div class="row">
        <div class="col">
           <div class="row">
              <div class="col-2">
                <p>Client</p>
              </div>
              <div class="col-10">
                  <p>{{devis?.entreprise?.societe}}</p>
                  <p>{{devis?.entreprise?.rue}} {{devis?.entreprise?.rue}}</p>
                  <p>{{devis?.entreprise?.pays}} {{devis?.entreprise?.postal}}</p>
              </div>
           </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col-2">
              <p>Projet</p>
            </div>
            <div class="col-10">
                <p>{{devis?.projet?.projet}}</p>
            </div>
         </div>
         <div class="row">
          <div class="col-2">
            <p style="font-weight: bold;">TOTAL</p>
          </div>
          <div class="col-10">
              <p>{{total}} €</p>
          </div>
       </div>
        </div>
      </div>
    </div>
    <div>
      <mat-tab-group backgroundColor="primary">
        <mat-tab label="Lignes de la commande">
          <form [formGroup]="produitForm">
            <div class="row" style="padding-top: 30px;">
              <div class="col-4">
                <mat-form-field class="example-full-width">
                  <mat-label style="font-size: 13px !important;color: #000 !important;">Produits</mat-label>
                  <input  matInput type="text"  formControlName="name" [matAutocomplete]="auto" required style="font-size: 13px;">
                  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">
                    <mat-option *ngFor="let p of produitFiltres | async" [value]="p?.name">
                      {{p?.name}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                <div *ngIf="produitForm.get('name').hasError(champ_validation.input[0].type) && (produitForm.get('name').dirty || produitForm.get('name').touched)">
                  <p class="error_field">{{champ_validation.input[0].message}}</p>
                </div>
              </div>
              <div class="col-2">
                <div *ngIf="isProduit">
                  <mat-form-field class="example-full-width">
                    <mat-label style="font-size: 13px !important;color: #000 !important;">Quantite</mat-label>
                    <input  matInput type="number" formControlName="quantite" [(ngModel)]="qte" required style="font-size: 13px;">
                  </mat-form-field>
                  <div *ngIf="produitForm.get('quantite').hasError(champ_validation.input[0].type) && (produitForm.get('quantite').dirty || produitForm.get('quantite').touched)">
                    <p class="error_field">{{champ_validation.input[0].message}}</p>
                  </div>
                </div>
              </div>
              <div class="col-2">
                <div *ngIf="isProduit">
                  <mat-form-field class="example-full-width">
                    <mat-label style="font-size: 13px !important;color: #000 !important;">Unites</mat-label>
                    <mat-select  matInput  formControlName="unites" required style="font-size: 13px;">
                       <mat-option value="Unité(s)">Unité(s)</mat-option>
                       <mat-option value="Douzaines">Douzaines</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div *ngIf="produitForm.get('unites').hasError(champ_validation.input[0].type) && (produitForm.get('unites').dirty || produitForm.get('unites').touched)">
                    <p class="error_field">{{champ_validation.input[0].message}}</p>
                  </div>
                </div>
              </div>
              <div class="col-2">
                <div *ngIf="isProduit">
                  <mat-form-field class="example-full-width">
                    <mat-label style="font-size: 13px !important;color: #000 !important;">Prix</mat-label>
                    <input  matInput type="number" formControlName="price_unitaire" [(ngModel)]="pdevis.price" readonly style="font-size: 13px;">
                  </mat-form-field>
                </div>
              </div>
              <div class="col-2">
                <div *ngIf="isProduit" style="padding-top: 10px;float: right;">
                  <button mat-raised-button color="primary" (click)="addProduits()" [disabled]="produitForm.invalid">Ajouter</button>
                </div>
              </div>
          </div>
          </form>
          <div>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col" class="th-devis">Produit</th>
                  <!--<th scope="col" class="th-devis">Description</th>-->
                  <th scope="col" class="th-devis">Quantité</th>
                  <th scope="col" class="th-devis">Unité(s)</th>
                  <th scope="col" class="th-devis">Prix unitaire</th>
                  <!--<th scope="col" class="th-devis">Prix</th>-->
                  <th scope="col" class="th-devis">TVA</th>
                  <th scope="col" class="th-devis">Total</th>
                  <th scope="col" class="th-devis">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let m of produitsDevis">
                  <td class="td-chat"><p class="info-tab">{{m?.produit}}</p></td>
                  <!--<td class="td-chat"><p class="info-tab" [innerHTML]="m?.description"></p></td>-->
                  <td class="td-chat">
                    <p class="info-tab" style="cursor: pointer;" *ngIf="!m.isEditable" (click)="isEditePrice(m)">{{m?.quantite}}</p>
                    <mat-form-field style="height: 65px;width: 75px;" *ngIf="m.isEditable">
                      <input class="info-tab" type="number" matInput  [(ngModel)]="m.quantite" (change)="updatePrice(m)">
                    </mat-form-field>
                  </td>
                  <td class="td-chat">
                    <p class="info-tab" style="cursor: pointer;" *ngIf="!m.isEditable" (click)="isEditePrice(m)">{{m?.unites}}</p>
                    <mat-form-field style="height: 65px;width: 96px;" *ngIf="m.isEditable">
                      <mat-select  matInput  [(ngModel)]="m.unites" (ngModelChange)="updateUnite(m)" style="font-size: 10px;">
                        <mat-option value="Unité(s)" style="font-size: 10px;">Unité(s)</mat-option>
                        <mat-option value="Douzaines" style="font-size: 10px;">Douzaines</mat-option>
                     </mat-select>
                    </mat-form-field>
                  </td>
                  <td class="td-chat"><p class="info-tab">{{m?.price_unitaire}} €</p></td>
                  <td class="td-chat"><p class="info-tab">20%</p></td>
                  <td class="td-chat"><p class="info-tab">{{m?.total}} €</p></td>
                  <!--<td class="td-chat"><p class="info-tab">{{m?.price}} €</p></td>-->
                  <td class="td-chat">
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                      <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item (click)="deleteProduitsByDevis(m?._id)">
                        <mat-icon>delete</mat-icon>
                        <span>Supprimer</span>
                      </button>
                    </mat-menu>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
</div>
</app-navbar>

