<div class="container">
  <div class="row" style="margin-bottom: 20px;">
     <div class="col">
        <div class="row" style="margin-bottom: 10px;">
            <div class="col"  align="right">
              <button type="button" class="btn btn-projet" (click)="addDescription()" [disabled]="moduleForm.invalid" *ngIf="!isFiche"><i class="fa-solid fa-plus"></i> Ajouter la description</button>
              <button type="button" class="btn btn-projet" (click)="updateDescription()" [disabled]="moduleForm.invalid" *ngIf="isFiche"><i class="fa-solid fa-plus"></i> Modifier la description</button>
            </div>
        </div>
        <div>
            <form [formGroup]="moduleForm">  
              <div *ngIf="!this.fiche">
                <angular-editor formControlName="description" [(ngModel)]="description.description" [config]="editorConfig"></angular-editor>
              </div>
              <div *ngIf="this.fiche">
                <angular-editor formControlName="description" [(ngModel)]="fiche.description" [config]="editorConfig"></angular-editor>
              </div>    
            </form>
          </div>
     </div>
 </div>
</div>