<app-navbar>
  <div class="container">
    <div class="content-top">
      <div class="row">
        <div class="col">
          <p class="title-projet-page">Création Projet <button class="btn" type="button" [routerLink]="['/dashboard']"><i class="fa-solid fa-arrow-left" style="color:#28628B;"></i></button></p>
        </div>
        <div class="col">
           <div align="right">
            <i class="fa-solid fa-city" style="font-size: 30px;color: #666C7E;"></i>
           </div>
        </div>
      </div><!--row-->
      <div class="row">
        <div class="col">
          <hr class="entreprise">
        </div>
      </div><!--row-->
      <div class="row">
        <div class="col">

          <mat-stepper orientation="vertical">
            <mat-step [stepControl]="firstFormGroup" errorMessage="Veuillez remplir les champs est obligatoire.">
              <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Informations Primaires du projet</ng-template>
                <ng-template matStepContent>
                  <div class="row">
                    <div class="col">

                      <div style="margin-bottom: 15px;">
                        <mat-form-field class="example-full-width">
                          <mat-label>Nom du projet</mat-label>
                          <input  matInput type="text" formControlName="projet"  required>
                        </mat-form-field>
                        <div *ngIf="firstFormGroup.get('projet').hasError(champ_validation.nom[0].type) && (firstFormGroup.get('projet').dirty || firstFormGroup.get('projet').touched)">
                          <p class="error_field">{{champ_validation.nom[0].message}}</p>
                        </div>
                      </div><!--div-->

                    </div><!--col-->
                    <div class="col">

                      <div style="margin-bottom: 15px;">
                        <div class="row">
                           <div class="col-8">
                            <!--<mat-form-field class="example-full-width">
                              <mat-label>Entreprise</mat-label>
                              <mat-select  formControlName="entreprise" (selectionChange)="doSomething($event)"   aria-label="Default select example" required>
                                <mat-option *ngFor="let entre of entreprises " [value]="entre._id">{{entre?.societe}}</mat-option>
                              </mat-select>
                            </mat-form-field>-->
                            <mat-form-field class="example-full-width">
                              <mat-label style="font-size: 13px !important;color: #000 !important;">Entreprise</mat-label>
                              <input  matInput  formControlName="entreprise" [matAutocomplete]="auto1" required style="font-size: 13px;">
                              <mat-autocomplete #auto1="matAutocomplete" (optionSelected)="onOptionClientSelected($event)">
                                <mat-option *ngFor="let p of entrepriseFiltres | async" [value]="p?.societe">
                                  {{p?.societe}}
                                </mat-option>
                              </mat-autocomplete>
                            </mat-form-field>
                           
                           </div><!--col-8-->
                           <div class="col-4" style="padding-top: 13px;">
                            <button mat-button mat-button class="btn-entreprise" style="font-size:11px;" routerLink="/add/entreprise">Ajouter entreprise</button>
                           </div><!--col-4-->
                        </div>
                        <div *ngIf="firstFormGroup.get('entreprise').hasError(champ_validation.entreprise[0].type) && (firstFormGroup.get('entreprise').dirty || firstFormGroup.get('entreprise').touched)">
                          <p class="error_field">{{champ_validation.entreprise[0].message}}</p>
                        </div>

                      </div><!--div-->
                   </div>
                  </div>
                  <!--<div style="margin-bottom: 15px;">
                    <label class="label-entreprise">Type Service <small class="error_field">*</small></label>
                    <mat-select formControlName="service" class="form-select input-entreprise" aria-label="Default select example" required>
                      <mat-option value="Installation">Installation</mat-option>
                      <mat-option value="Désinstallation">Désinstallation</mat-option>
                      <mat-option value="Remise aux normes">Remise aux normes</mat-option>
                    </mat-select>
                    <div *ngIf="firstFormGroup.get('service').hasError(champ_validation.service[0].type) && (firstFormGroup.get('service').dirty || firstFormGroup.get('service').touched)">
                      <p class="error_field">{{champ_validation.service[0].message}}</p>
                    </div>
                  </div>-->
                  <div class="row" style="margin-bottom: 15px;">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Responsable</mat-label>
                        <mat-select  formControlName="contact" aria-label="Default select example" required>
                          <mat-option *ngFor="let cont of contacts " [value]="cont._id">{{cont?.nom}} {{cont?.prenom}}</mat-option>
                        </mat-select>
                      </mat-form-field>                    
                    </div>
                    
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Url du plan</mat-label>
                        <input  matInput formControlName="plan">
                      </mat-form-field>
                    </div>
                  </div>
                  <div align="right">
                    <button mat-button matStepperNext class="btn-entreprise">Suivant <i class="fa-solid fa-chevron-right"></i></button>
                  </div>
                </ng-template>
              </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup">
              <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Coordonnées du projet</ng-template>
                <ng-template matStepContent>
                  <div class="row">
                    <div class="col">

                      <div style="margin-bottom: 15px;">
                        <mat-form-field class="example-full-width">
                          <mat-label>Pays</mat-label>
                          <input  matInput  formControlName="pays" [(ngModel)]="pays" [matAutocomplete]="auto">
                          <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let pays of paysFiltres | async" [value]="pays.name">
                              {{pays?.emoji}} {{pays?.name}}
                            </mat-option>
                          </mat-autocomplete>
                        </mat-form-field>
                      </div><!--div-->
                      <div style="margin-bottom: 15px;">
                        <mat-form-field class="example-full-width">
                          <mat-label>Ville</mat-label>
                          <input  matInput  formControlName="ville">
                        </mat-form-field>
                      </div><!--div-->
                      <div style="margin-bottom: 15px;">
                        <mat-form-field class="example-full-width">
                          <mat-label>Code Postal</mat-label>
                          <input  matInput  formControlName="postal">
                        </mat-form-field>
                      </div><!--div-->

                    </div><!--col-->
                    <div class="col">

                      <div style="margin-bottom: 15px;">
                       <mat-form-field class="example-full-width">
                          <mat-label>Numéro</mat-label>
                          <input  matInput  formControlName="adresse">
                        </mat-form-field>
                      </div><!--div-->
                      <div style="margin-bottom: 15px;">
                        <mat-form-field class="example-full-width">
                          <mat-label>Rue</mat-label>
                          <input  matInput formControlName="rue">
                        </mat-form-field>
                      </div><!--div-->
                   </div>
                  </div>
                  <div align="right">
                    <button mat-button matStepperPrevious class="btn-entreprise-back" style="margin-right: 10px;"><i class="fa-solid fa-chevron-left"></i> PRECEDENT</button>
                    <button mat-button matStepperNext class="btn-entreprise">SUIVANT <i class="fa-solid fa-chevron-right"></i></button>
                  </div>
                </ng-template>
              </form>
            </mat-step>
            <mat-step [stepControl]="threeFormGroup">
              <form [formGroup]="threeFormGroup">

                <ng-template matStepLabel>Information Supplémentaires du projet</ng-template>
              <div class="row" style="padding-top: 13px;margin-bottom: 5px;">
                <div class="col-md-3">
                  <div class="card card-dot-blue" style="margin-bottom: 10px;" *ngIf="!selectedImage">
                    <div class="card-body">
                      <img src="assets/images/galerie.png">
                    </div>
                  </div><!--card-->
                  <div *ngIf="selectedImage"  style="margin-bottom: 10px;">
                    <img [src]="selectedImage" class="card-img-projet">
                  </div>
                  <div align="right">
                    <input type="file" class="file-input" accept='image/*' (change)="onFileSelected($event)" #fileUpload>
                    <button type="button" (click)="fileUpload.click()" class="btn btn-projet"><i class="fa-solid fa-cloud-arrow-down"></i> charger</button>
                  </div>
                </div><!--col-->
                <div class="col-md-9"></div>
              </div><!--row-->
              <div>
                <div style="margin-bottom: 15px;">
                  <mat-form-field class="example-full-width">
                    <mat-label>Budget Prévisionnel du projet</mat-label>
                    <input  matInput type="number" formControlName="budget">
                  </mat-form-field>
                </div><!--div-->
                <div style="margin-bottom: 15px;">
                  <mat-form-field class="example-full-width">
                    <mat-label>Devise du projet</mat-label>
                    <input  matInput formControlName="devise"  [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                      <mat-option *ngFor="let dev of devisFiltres | async" [value]="dev.symbole">
                        {{dev.nom}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </div><!--div-->
                <div style="margin-bottom: 15px;">
                  <mat-form-field class="example-full-width">
                    <mat-label>Site d'offre</mat-label>
                    <input  matInput  formControlName="site_offre">
                  </mat-form-field>
                </div><!--div-->
                <div style="margin-bottom: 15px;">
                  <mat-form-field class="example-full-width">
                    <mat-label>Numéro d'offre</mat-label>
                    <input  matInput formControlName="numero_offre">
                  </mat-form-field>
                </div><!--div-->
                <div style="margin-bottom: 15px;">
                  <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Date limite remise d'offre</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="date_limite">
                        <mat-datepicker-toggle matIconSuffix [for]="picker">
                          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                    </div>
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Fin du contrat </mat-label>
                        <input matInput [matDatepicker]="picker1" formControlName="date_fin_contrat">
                        <mat-datepicker-toggle matIconSuffix [for]="picker1">
                          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                      </mat-form-field>
                    </div>
                  </div>
                 
                </div><!--div-->
              </div>

              </form>
              <div align="right">
                <button mat-button matStepperPrevious class="btn-entreprise-back" style="margin-right: 10px;"><i class="fa-solid fa-chevron-left"></i> PRECEDENT</button>
                <button mat-button  class="btn-entreprise" (click)="addProjet()" [disabled]="firstFormGroup.invalid">VALIDER</button>
              </div>
            </mat-step>
          </mat-stepper>

        </div><!--col-->
      </div><!--row-->
    </div>
  </div>
</app-navbar>

