.img-center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
.img-log{
width: 15%;
margin-left: 12px;
}

.plt{
color: #28628B;
font-family: Roboto;
font-weight: 500;
font-size: 33px;
text-align: center;
margin-top: 20px;
}

.gtp{
color: #000000;
font-family: Roboto;
font-weight: 500;
font-size: 16px;
text-align: center;
}

.form-div{
padding: 120px 50px 20px;
}

.title-page{
font-family: 'Rancho' !important;
font-style: normal !important;
font-weight: 400 !important;
font-size: 49.656px !important;
line-height: 62px !important;
color: #FFFFFF !important;
text-align: center !important;
}

.bloc-input{
margin-bottom: 20px;
}


