<div id="container">

  <div id="left">
    <div>
      <img src="assets/images/logo.png" class="img-log">
    </div><!--logo-->
    <div>
      <img src="assets/images/image1.png" class="img-center">
    </div><!--image-->
    <div>
      <p class="plt">PLATEFORME WEB</p>
      <p class="gtp">Gestion parc modulaire</p>
    </div><!--text-->
  </div><!--left-->

  <div id="right">



    <div class="form-div">

      <h3 class="title-page">Pas de plan 3D</h3>



    </div><!--form-->

  </div><!--left-->

</div><!--container-->
