<div class="container">
  <div class="content-top-child">
    <div class="row mb-3">
       <div class="col">
        <h1 class="text-3xl font-bold text-gray-900">Tâches <span class="text-gray-600 mt-1">{{task.length}}</span></h1>
       </div>
       <div class="col" align="right">
        <button type="button" class="btn btn-piece"  style="margin-right: 10px;" (click)="openDialog()"><i class="fa-solid fa-plus"></i> Nouvelle tâche</button>
       </div>
    </div>
    <mat-divider class="mb-3"></mat-divider>
    <div class="row" style="margin-bottom: 30px;">
        <div class="col-4">
        </div><!--col-->
        <div class="col-8">
            <input (keyup)="applyFilter($event)" type="text" class="form-control input-search" id="exampleFormControlInput1" placeholder="Rechercher par titre...">
        </div><!--col-->
     </div><!--row-->

     <div>
      <div class="row">
         <div class="col-6 task-col" *ngFor="let tache of task">
          <mat-card class="task-card" [ngClass]="{'task-card--afaire': tache?.statut === 'A Faire','task-card--encours': tache?.statut === 'En Cours','task-card--terminer': tache?.statut === 'Terminer'}" (click)="openDialogUpdate(tache?._id)" style="cursor: pointer;">
            <mat-card-content>
              <div class="row">
                <div class="col">
                  <p class="tache_label ellipsis" matTooltip="{{tache?.titre}}">{{tache?.titre}}</p>
                  <div style="margin-bottom: 15px;">
                   <div><span class="time_title" *ngIf="tache?.date_debut || tache?.date_fin" style="margin-right: 10px;"> <i class="fa-regular fa-calendar"></i>  {{ tache?.date_debut | date: 'dd/MM/yyyy' }} - {{ tache?.date_fin | date: 'dd/MM/yyyy' }}</span> <span class="time_title" *ngIf="tache?.temps"> <i class="fa-regular fa-clock"></i> {{tache?.temps}}</span></div>
                  </div>
                </div>
                <!--<div class="col" *ngIf="tache?.image?.url">
                  <div  class="annotated-image-top-preview">
                    <div class="image-preview-container">
                      <img [src]="tache?.image?.url" alt="Image annotée" class="preview-image">
                    </div>
                  </div>
                </div>-->
              </div>
              <div>
                <mat-divider style="margin-bottom: 20px;"></mat-divider>
              </div>
              <div class="row">
                <div class="col">
                  <div class="status-row">
                    <span class="badge" [ngClass]="getStatusBadgeClass(tache?.statut)">
                      {{ getStatusLabel(tache?.statut) }}
                    </span>
                  </div>
                </div>
                <div class="col">
                  <div style="float: right;position: relative;display: flex;" *ngIf="tache?.assignes" #wrap>
                      <button mat-icon-button
                      [matMenuTriggerFor]="menu"
                      (click)="$event.stopPropagation()"
                      class="time_user" [ngStyle]="{ 'background-color': getColor(tache.statut) }" *ngIf="tache?.assignes">
                          <span class="time_user_label">{{tache?.assignes?.nom?.charAt(0) || ''}}</span>
                      </button>

                      <mat-menu #menu="matMenu">
                        <div style="padding: 6px 9px; min-width: 250px;height: 87px;overflow: hidden">
                            <div class="row">
                              <div class="col-5">
                                  <div class="user_popup">
                                    <span class="user_span_popup">{{tache?.assignes?.nom?.charAt(0) || ''}}</span>
                                  </div>
                              </div>
                              <div class="col-7">
                                <span style="font-weight: 500 !important;font-size: 12px;">{{tache?.assignes?.nom}}</span>
                                <br/>
                                <span style="font-size: 11px;"><i class="fa-solid fa-envelope"></i> {{tache?.assignes?.email}}</span>
                              </div>
                            </div>
                        </div>
                      </mat-menu>
                  </div>
                </div>
               </div>
            </mat-card-content>
          </mat-card>
         </div>
      </div>
     </div>
  </div>
</div>
