<app-navbar>
  <div class="container">
    <div class="content-top">
      <div class="row">
        <div class="col">
          <h2 class="content-title">Nouveau mot de passe</h2>
        </div>
        <div class="col">
          <div align="right">
            <button mat-raised-button color="primary" [routerLink]="'/profil'"><mat-icon>person</mat-icon> Mon profile</button>
          </div>
        </div>
      </div>
    </div><!--content-->
    <mat-divider style="margin-bottom: 10px;"></mat-divider>
    <div class="row justify-content-md-center">
      <div class="col-lg-8 col-md-auto">
        <mat-card >
          <mat-card-content>
            <form [formGroup]="userFormGroup" style="padding-top: 40px;padding-bottom: 30px;">
              <div>
                <mat-form-field class="example-full-width">
                  <mat-label style="font-size: 13px;">Mot de passe</mat-label>
                  <input matInput formControlName="password" [type]="hideP ? 'password' : 'text'"  required>
                  <button *ngIf="userFormGroup.get('password').value && userFormGroup.get('password').value!=''" mat-icon-button matSuffix (click)="hideP = !hideP" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideP">
                    <mat-icon>{{hideP ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                    <mat-icon matTooltip="{{ account_validation.password[0].message }}"
                      *ngIf="userFormGroup.get('password').hasError(account_validation.password[0].type) && ((userFormGroup.get('password').dirty || userFormGroup.get('password').touched) || (submitted))"
                      style="cursor: pointer;" matSuffix>
                      <i class="fas fa-exclamation-circle" style="color:red"></i>
                    </mat-icon>
                    <mat-icon matTooltip="{{ account_validation.password[1].message }}"
                      *ngIf="userFormGroup.get('password').hasError(account_validation.password[1].type) && ((userFormGroup.get('password').dirty || userFormGroup.get('password').touched) || (submitted))"
                      style="cursor: pointer;" matSuffix>
                      <i class="fas fa-exclamation-circle" style="color:red"></i>
                    </mat-icon>
                </mat-form-field>
              </div>
              <div>
                <mat-form-field  class="example-full-width">
                  <mat-label style="font-size: 13px;">Confirmation mot de passe</mat-label>
                  <input matInput  formControlName="confirmpassword" [type]="hidePassword ? 'password' : 'text'">
                  <button *ngIf="userFormGroup.get('confirmpassword').value && userFormGroup.get('confirmpassword').value!=''" mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                    <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                  <mat-icon matTooltip="Les deux mot de passe ne correspondent pas"
                      *ngIf="(userFormGroup.get('confirmpassword').errors?.notEqual || userFormGroup.get('confirmpassword').value!=userFormGroup.get('password').value) &&  ((userFormGroup.get('confirmpassword').dirty || userFormGroup.get('confirmpassword').touched) || (submitted))"
                      style="cursor: pointer;" matSuffix>
                      <i class="fas fa-exclamation-circle" style="color:red"></i>
                    </mat-icon>
                </mat-form-field>
              </div>
              <div>
                <mat-progress-bar mode="indeterminate" *ngIf="onLoadForm"></mat-progress-bar>
              </div>
              <div>
                <button mat-raised-button color="primary" (click)="updateContact()"><mat-icon>edit</mat-icon> VALIDER</button>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </div><!--auto-->
    </div><!--content-->

  </div>
</app-navbar>
