<app-navbar>
  <div class="container">
    <div class="content-top">
      <div class="row">
        <div class="col">
          <p class="title-projet-page">Création Contact <button class="btn" type="button" [routerLink]="['/contact']"><i class="fa-solid fa-arrow-left" style="color:#28628B;"></i></button></p>
        </div>
        <div class="col">
           <div align="right">
            <i class="fa-solid fa-users" style="font-size: 30px;color: #666C7E;"></i>
           </div>
        </div>
      </div><!--row-->
      <div class="row">
        <div class="col">
          <hr class="entreprise">
        </div>
      </div><!--row-->
      <div class="row">
        <div class="col">
          <form [formGroup]="contactFormGroup">

            <div style="margin-bottom: 5px;">
              <p style="font-weight: bold;">Civilité*</p>
              <mat-radio-group aria-label="Select an option" formControlName="genre" required>
                <mat-radio-button value="Mr">Monsieur</mat-radio-button>
                <mat-radio-button value="Mme">Madame</mat-radio-button>
              </mat-radio-group>
              <div *ngIf="contactFormGroup.get('genre').hasError(champ_validation.type[0].type) && ((contactFormGroup.get('genre').dirty || contactFormGroup.get('genre').touched))">
                <p class="error_field">{{champ_validation.type[0].message}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div style="margin-bottom: 15px;">
                  <mat-form-field class="example-full-width">
                    <mat-label>Nom</mat-label>
                    <input matInput formControlName="nom" required>
                  </mat-form-field>
                  <div *ngIf="contactFormGroup.get('nom').hasError(champ_validation.type[0].type) && (contactFormGroup.get('nom').dirty || contactFormGroup.get('nom').touched)">
                    <p class="error_field">{{champ_validation.type[0].message}}</p>
                  </div>
                </div><!--div-->
                <div style="margin-bottom: 15px;">
                  <mat-form-field class="example-full-width">
                    <mat-label>E-mail</mat-label>
                    <input matInput formControlName="email"  (input)="checkEmail()" required>
                  </mat-form-field>
                  <div *ngIf="contactFormGroup.get('email').hasError(champ_validation.email[0].type) && (contactFormGroup.get('email').dirty || contactFormGroup.get('email').touched)">
                    <p class="error_field">{{champ_validation.email[0].message}}</p>
                  </div>
                  <div *ngIf="contactFormGroup.get('email').hasError(champ_validation.email[1].type) && (contactFormGroup.get('email').dirty || contactFormGroup.get('email').touched)">
                    <p class="error_field">{{champ_validation.email[1].message}}</p>
                  </div>
                  <div *ngIf="emailExists" class="error_field">Cet email est déjà utilisé.</div>
                </div><!--div-->

              </div><!--col-->
              <div class="col">
                <div style="margin-bottom: 15px;">
                  <mat-form-field class="example-full-width">
                    <mat-label>Prénom</mat-label>
                    <input matInput formControlName="prenom"   required>
                  </mat-form-field>
                  <div *ngIf="contactFormGroup.get('prenom').hasError(champ_validation.type[0].type) && (contactFormGroup.get('prenom').dirty || contactFormGroup.get('prenom').touched)">
                    <p class="error_field">{{champ_validation.type[0].message}}</p>
                  </div>
                </div><!--div-->
                <div class="row" style="margin-bottom: 15px;">
                  <div class="col-4">
                    <mat-form-field class="example-full-width">
                      <mat-label>Indicatif</mat-label>
                      <input matInput formControlName="indicatif" [matAutocomplete]="autoCode" required>
                    </mat-form-field>
                    <mat-autocomplete #autoCode="matAutocomplete">
                      <mat-option *ngFor="let code of codeFiltres | async" [value]="code?.dial_code">
                        {{code?.dial_code}}
                      </mat-option>
                    </mat-autocomplete>
                    <div *ngIf="contactFormGroup.get('indicatif').hasError(champ_validation.type[0].type) && (contactFormGroup.get('indicatif').dirty || contactFormGroup.get('indicatif').touched)">
                      <p class="error_field">{{champ_validation.type[0].message}}</p>
                    </div>
                  </div>
                  <div class="col">
                    <mat-form-field class="example-full-width">
                      <mat-label>Nº Tel</mat-label>
                      <input matInput formControlName="phone" appPhoneMask required>
                    </mat-form-field>
                    <div *ngIf="contactFormGroup.get('phone').hasError(champ_validation.phone[0].type) && (contactFormGroup.get('phone').dirty || contactFormGroup.get('phone').touched)">
                      <p class="error_field">{{champ_validation.phone[0].message}}</p>
                    </div>
                    <div *ngIf="contactFormGroup.get('phone').hasError(champ_validation.phone[1].type) && (contactFormGroup.get('phone').dirty || contactFormGroup.get('phone').touched)">
                      <p class="error_field">{{champ_validation.phone[1].message}}</p>
                    </div>
                  </div>
                </div><!--div-->

              </div><!--col-->
            </div><!--col-->

            <div class="row">
              <div class="col">
                <div style="margin-bottom: 15px;">
                  <!--<mat-form-field class="example-full-width">
                    <mat-label>Entreprises</mat-label>
                    <mat-select matInput formControlName="entreprise" required>
                       <mat-option *ngFor="let en of entreprises" [value]="en._id">{{en.societe}}</mat-option>
                    </mat-select>
                  </mat-form-field>-->
                  <mat-form-field class="example-full-width">
                    <mat-label style="font-size: 13px !important;color: #000 !important;">Entreprise</mat-label>
                    <input  matInput type="text"  formControlName="entreprise" [matAutocomplete]="auto1" required style="font-size: 13px;">
                    <mat-autocomplete #auto1="matAutocomplete" (optionSelected)="onOptionClientSelected($event)">
                      <mat-option *ngFor="let p of entrepriseFiltres | async" [value]="p?.societe">
                        {{p?.societe}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                  <div *ngIf="contactFormGroup.get('entreprise').hasError(champ_validation.type[0].type) && (contactFormGroup.get('entreprise').dirty || contactFormGroup.get('entreprise').touched)">
                    <p class="error_field">{{champ_validation.type[0].message}}</p>
                  </div>
                </div><!--div-->
              </div>
              <div class="col">
                <div style="margin-bottom: 15px;">
                  <mat-form-field class="example-full-width">
                    <mat-label>Poste</mat-label>
                    <input matInput formControlName="poste">
                  </mat-form-field>
                </div><!--div-->
              </div>
            </div>
          </form>
          <div align="right">
            <button mat-button  class="btn-entreprise" type="submit" (click)="addContact()" [disabled]="contactFormGroup.invalid">VALIDER</button>
          </div>
          <div *ngIf="onLoadForm">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </div>
        </div><!--row-->
      </div>
    </div>
  </div>
</app-navbar>

