<div class='dashboard'>
  <div class="dashboard-nav">
      <header>
        <a href="#!" class="menu-toggle">
          <i class="fas fa-bars"></i>
        </a>
        <a class="brand-logo" matTooltip="{{company?.societe}}">
           <span class="span-brand">{{company?.societe}}</span>
        </a>
      </header>
      <nav class="dashboard-nav-list">
        <a class="dashboard-nav-item" [routerLink]="['/entreprise/dashboard']" [routerLinkActive]="['active']" *ngIf="user?.user?.role=='user'">
            <i class="fa-solid fa-list-check"></i>
            Projet
        </a>
        <a class="dashboard-nav-item" [routerLink]="['/dashboard']" [routerLinkActive]="['active']" *ngIf="user?.user?.role!='user'">
          <i class="fa-solid fa-list-check"></i>
          Projet
        </a>
        <a  class="dashboard-nav-item">
          <i class="fa-regular fa-clipboard"></i>
            Devis
        </a>
        <a  class="dashboard-nav-item" [routerLink]="['/entreprise']" [routerLinkActive]="['active']" *ngIf="user?.user?.role!='user'">
          <i class="fa-regular fa-building"></i>
            Entreprise
        </a>
        <a  class="dashboard-nav-item" [routerLink]="['/contact']" [routerLinkActive]="['active']">
          <i class="fa-regular fa-address-card"></i>
            Contact
        </a>
        <a  class="dashboard-nav-item" [routerLink]="['/box']" [routerLinkActive]="['active']" *ngIf="user?.user?.role!='user'">
          <i class="fa-solid fa-box"></i>
            Box
        </a>
        <a  class="dashboard-nav-item" [routerLink]="['/agenda']" [routerLinkActive]="['active']">
          <i class="fa-regular fa-calendar-days"></i>
            Agenda
        </a>
        <div class="nav-item-divider"></div>
          <a  class="title-cc">
            COMPTE
          </a>
          <a  class="dashboard-nav-item" [routerLink]="['/detail/entreprise',user?.user?.entreprise]" [routerLinkActive]="['active']" *ngIf="user?.user?.role=='user'">
            <i class="fa-regular fa-building"></i>
              Entreprise
          </a>
          <a  class="profile" [routerLink]="['/profil']" [routerLinkActive]="['active']">
            <span class="dot">
              <span class="dot-span">{{user?.user?.nom.substring(0, 1)}}{{user?.user?.prenom.substring(0, 1)}}</span>
            </span>
            <span class="user-inf">
              {{user?.user?.nom}}  {{user?.user?.prenom}}
            </span>
          </a>
        <div class="nav-item-divider"></div>
        <a (click)="logout()" class="dashboard-nav-item">
          <i class="fas fa-sign-out-alt"></i>
            Déconnexion
        </a>
      </nav>
  </div>
  <div class='dashboard-app'>
      <div class='dashboard-content'>
        <ng-content></ng-content>
      </div>
  </div>
</div>

