.img-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
.img-log{
  width: 15%;
  margin-left: 12px;
}

.plt{
  color: #28628B;
  font-family: Roboto;
  font-weight: 500;
  font-size: 33px;
  text-align: center;
  margin-top: 20px;
}

.gtp{
  color: #000000;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}

.form-div{
  padding: 120px 50px 20px;
}

.title-page{
  font-family: 'Rancho' !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 49.656px !important;
  line-height: 62px !important;
  color: #FFFFFF !important;
  text-align: center !important;
}

.title-login{
  font-weight: 700 !important;
  color: #28628B !important;
  font-family: Poppins !important;
  font-size: 25px !important;
}

.bloc-input{
  margin-bottom: 20px;
}

.sizeButtonLogin{
  align-items: center !important;
    border-radius: 7px !important;
    display: flex !important;
    font-weight: 500 !important;
    justify-content: center !important;
    line-height: 1.3333333 !important;
    margin: auto !important;
    min-height: 48px !important;
    text-transform: uppercase !important;
    width: 75% !important;
    background: #28628B !important;
    color: #fff !important;
}

.content-form{
     width: 100%;
    /* max-width: 380px; */
    grid-area: body;
    text-align: center;
    display: flex;
    flex-direction: column;
}



