<app-navbar></app-navbar>
<div class="container">
  <div class="content-top">

    <div class="row" style="margin-bottom: 30px;">

      <div class="col">
          <div class="row">
           <div class="col-2">
            <p class="title-projet-page" style="padding-top: 10px;">Contacts</p>
           </div>
           <div class="col">
             <input type="text" class="form-control input-search" id="exampleFormControlInput1" placeholder="Rechercher par nom,tél,email...">
           </div>
          </div><!--row-->
      </div><!--col-->

      <div class="col" align="right">
       <button type="button" class="btn" style="margin-right: 10px;"><i class="fas fa-th-large btn-icon-projet"></i></button>
       <button type="button" class="btn btn-projet"><i class="fa-solid fa-plus"></i> Nouveau Contact</button>
      </div><!--col-->
   </div><!--row-->

    <div>
      <div class="row">
         <div class="col">
          <div class="card card-contact">
              <img src="assets/images/int.png" class="card-img-top card-img-projet" alt="...">
              <div class="card-body">
                <p class="user-int">Christy Lachant</p>
                <div align="center" style="margin-bottom:40px;"><hr class="projet"></div>

                <div class="row">
                   <div class="col">
                    <p class="title-col"><i class="fa-solid fa-user-tie" style="font-size: 14px;"></i> Ingénieur BTP</p>
                   </div>
                   <div class="col">
                    <p class="title-col"><i class="fa-solid fa-mobile-screen" style="font-size: 14px;"></i> +33 77 007 000</p>
                   </div>
                </div><!--row-->
                <div class="row" style="margin-bottom: 15px;">
                  <div class="col">
                   <p class="title-col"><i class="fa-solid fa-city" style="font-size: 14px;"></i> MLKA</p>
                  </div>
                  <div class="col">
                   <p class="title-col"><i class="fa-solid fa-envelope" style="font-size: 14px;"></i> lach@mlk.fr</p>
                  </div>
               </div><!--row-->
               <div>
                <p align="center">
                  <button type="button" class="btn btn-outline-secondary btn-update-projet">Modifier</button>
                </p>
                <p align="center">
                  <button type="button" class="btn btn-outline-secondary btn-detail-projet">Supprimer</button>
                </p>
               </div>


              </div>
          </div><!--card-->
         </div><!--col-->
         <div class="col">
          <div class="card card-contact">
            <img src="assets/images/int.png" class="card-img-top card-img-projet" alt="...">
            <div class="card-body">
              <p class="user-int">Christy Lachant</p>
              <div align="center" style="margin-bottom:40px;"><hr class="projet"></div>

              <div class="row">
                 <div class="col">
                  <p class="title-col"><i class="fa-solid fa-user-tie" style="font-size: 14px;"></i> Ingénieur BTP</p>
                 </div>
                 <div class="col">
                  <p class="title-col"><i class="fa-solid fa-mobile-screen" style="font-size: 14px;"></i> +33 77 007 000</p>
                 </div>
              </div><!--row-->
              <div class="row" style="margin-bottom: 15px;">
                <div class="col">
                 <p class="title-col"><i class="fa-solid fa-city" style="font-size: 14px;"></i> MLKA</p>
                </div>
                <div class="col">
                 <p class="title-col"><i class="fa-solid fa-envelope" style="font-size: 14px;"></i> lach@mlk.fr</p>
                </div>
             </div><!--row-->
             <div>
              <p align="center">
                <button type="button" class="btn btn-outline-secondary btn-update-projet">Modifier</button>
              </p>
              <p align="center">
                <button type="button" class="btn btn-outline-secondary btn-detail-projet">Supprimer</button>
              </p>
             </div>


            </div>
          </div><!--card-->
         </div>
         <div class="col">
          <div class="card card-contact">
            <img src="assets/images/int.png" class="card-img-top card-img-projet" alt="...">
            <div class="card-body">
              <p class="user-int">Christy Lachant</p>
              <div align="center" style="margin-bottom:40px;"><hr class="projet"></div>

              <div class="row">
                 <div class="col">
                  <p class="title-col"><i class="fa-solid fa-user-tie" style="font-size: 14px;"></i> Ingénieur BTP</p>
                 </div>
                 <div class="col">
                  <p class="title-col"><i class="fa-solid fa-mobile-screen" style="font-size: 14px;"></i> +33 77 007 000</p>
                 </div>
              </div><!--row-->
              <div class="row" style="margin-bottom: 15px;">
                <div class="col">
                 <p class="title-col"><i class="fa-solid fa-city" style="font-size: 14px;"></i> MLKA</p>
                </div>
                <div class="col">
                 <p class="title-col"><i class="fa-solid fa-envelope" style="font-size: 14px;"></i> lach@mlk.fr</p>
                </div>
             </div><!--row-->
             <div>
              <p align="center">
                <button type="button" class="btn btn-outline-secondary btn-update-projet">Modifier</button>
              </p>
              <p align="center">
                <button type="button" class="btn btn-outline-secondary btn-detail-projet">Supprimer</button>
              </p>
             </div>


            </div>
          </div><!--card-->
         </div>

         <div class="col">
          <div class="card card-contact">
            <img src="assets/images/int.png" class="card-img-top card-img-projet" alt="...">
            <div class="card-body">
              <p class="user-int">Christy Lachant</p>
              <div align="center" style="margin-bottom:40px;"><hr class="projet"></div>

              <div class="row">
                 <div class="col">
                  <p class="title-col"><i class="fa-solid fa-user-tie" style="font-size: 14px;"></i> Ingénieur BTP</p>
                 </div>
                 <div class="col">
                  <p class="title-col"><i class="fa-solid fa-mobile-screen" style="font-size: 14px;"></i> +33 77 007 000</p>
                 </div>
              </div><!--row-->
              <div class="row" style="margin-bottom: 15px;">
                <div class="col">
                 <p class="title-col"><i class="fa-solid fa-city" style="font-size: 14px;"></i> MLKA</p>
                </div>
                <div class="col">
                 <p class="title-col"><i class="fa-solid fa-envelope" style="font-size: 14px;"></i> lach@mlk.fr</p>
                </div>
             </div><!--row-->
             <div>
              <p align="center">
                <button type="button" class="btn btn-outline-secondary btn-update-projet">Modifier</button>
              </p>
              <p align="center">
                <button type="button" class="btn btn-outline-secondary btn-detail-projet">Supprimer</button>
              </p>
             </div>


            </div>
          </div><!--card-->
         </div>

      </div><!--row-->
    </div>

  </div>
</div>
