<div id="container">

  <div id="left">
    <div>
      <img src="assets/images/logo.png" class="img-log">
    </div><!--logo-->
    <div>
      <img src="assets/images/image1.png" class="img-center">
    </div><!--image-->
    <div>
      <p class="plt">PLATEFORME WEB</p>
      <p class="gtp">Gestion parc modulaire</p>
    </div><!--text-->
  </div><!--left-->

  <div id="rightReset">

    <div align="right">
      <button type="button" class="btn btn-reset" [routerLink]="'/'" style="margin-right: 15px;">Se connecter</button>
      <button type="button" class="btn btn-reset"  [routerLink]="'/signup'" >S'inscrire</button>
    </div><!--right-->

    <div class="form-div">

      <h3 class="title-page-reset">Récuperation de mot de passe</h3>
      <p>
        Entrez votre adresse email, un lien de récupération vous sera envoyé
      </p>

      <div style="margin-bottom: 30px;">
        <mat-card *ngIf="passwordchangedok" class="msg-reset-success">
          <mat-card-content>
            Un lien vous a été envoyé sur votre adresse email. Veuillez cliquer dessus pour réinitialiser votre mot de passe.
          </mat-card-content>
        </mat-card>
        <mat-card *ngIf="accountnotfound" class="msg-reset-error">
          <mat-card-content>
            Oups!!! Compte non trouvé
          </mat-card-content>
        </mat-card>
      </div>

      <form [formGroup]="lostpasswordForm" novalidate style="margin-bottom: 20px;">
         <div>
          <label class="label-style-reset">E-mail</label>
          <div class="input-group mb-3 bloc-input">
            <span class="input-group-text input-group-lgs-reset border-right-0" id="basic-addon1"><i class="fas fa-envelope"></i></span>
            <input type="email" formControlName="email" class="form-control py-2 border-left-0 input-lgs-reset" required>
          </div>
          <div>
            <p  class="error_field" *ngIf="lostpasswordForm.get('email').hasError(validation.email[0].type) && ((lostpasswordForm.get('email').dirty || lostpasswordForm.get('email').touched) || (submitted))">
              {{ validation.email[0].message }}
            </p>
            <p  class="error_field" *ngIf="lostpasswordForm.get('email').hasError(validation.email[1].type) && ((lostpasswordForm.get('email').dirty || lostpasswordForm.get('email').touched) || (submitted))">
              {{ validation.email[1].message }}
            </p>
          </div>
         </div>
         <div align="center">
          <button type="submit" (click)="onLostPassword()" class="btn btn-reset-password">Envoyer</button>
        </div>
      </form>

      <div *ngIf="onLoadForm">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>

    </div><!--form-->

  </div><!--left-->

</div><!--container-->
