<app-navbar>
  <div class="container">

    <div class="content-top">
      <h2 class="content-title">Catégorie - {{module?.categorie}}</h2>
      <mat-divider></mat-divider>
    </div><!--content-->

    <div style="margin-bottom: 40px;">

      <div>
        <mat-tab-group backgroundColor="primary">
          <mat-tab label="Informations">
            <div style="padding-top: 20px;">
              <mat-card>
                <mat-card-content>
                  <div class="row">
                    <div class="col-5">
                       <div class="row" style="margin-bottom: 15px;">
                         <div class="col">
                          <div class="bloc-info">
                            <p class="title-info">Article</p>
                            <p style="font-size: 13px;">{{module?.nom}}</p>
                          </div>
                         </div>
                         <div class="col">
                          <div class="bloc-info">
                            <p class="title-info">Numéro</p>
                            <p style="font-size: 13px;">{{module?.numero_serie}}</p>
                          </div>
                         </div>
                         <div class="col">
                          <div class="bloc-info">
                            <p class="title-info">Date de fabrication</p>
                            <p style="font-size: 13px;">{{module?.dateFabrication | date:'dd/MM/yyyy' }}</p>
                          </div>
                         </div>
                         <mat-divider></mat-divider>
                       </div>

                       <div class="row" style="margin-bottom: 15px;">
                        <div class="col">
                          <div class="bloc-info">
                            <p class="title-info">Entreprise</p>
                            <p style="font-size: 13px;">{{module?.entreprise?.societe}}</p>
                          </div>
                        </div>
                        <div class="col">
                          <div class="bloc-info">
                            <p class="title-info">Marque</p>
                            <p style="font-size: 13px;">{{module?.marque}}</p>
                          </div>
                        </div>
                        <div class="col">
                          <div class="bloc-info">
                            <p class="title-info">Type</p>
                            <p style="font-size: 13px;">{{module?.module_type}}</p>
                          </div>
                        </div>
                        <mat-divider></mat-divider>
                      </div>

                      <div class="bloc-info">
                        <div class="row">
                          <div class="col">
                            <div class="bloc-info">
                              <p class="title-info">Etat</p>
                              <p style="font-size: 13px;">{{module?.type}}</p>
                              <div *ngIf="module?.type=='Site'">
                                 <p>Projet : {{site?.projet}}</p>
                                 <p>{{site?.rue}} {{site?.postal}} {{site?.ville}} {{site?.pays}}</p>
                              </div>
                            </div>
                           </div>
                           <div class="col">
                            <p class="title-info">
                              QRCODE
                            </p>
                            <p>
                              <img [src]="qrcode" alt=""/>
                            </p>
                           </div>
                        </div>
                       

                        <mat-divider></mat-divider>
                      </div>

                    </div>
                    <div class="col-2">
                      <div class="vl"></div>
                    </div>
                    <div class="col-5">

                      <div class="row" style="margin-bottom: 15px;">
                        <div class="col">
                          <div class="bloc-info">
                            <p class="title-info">Hauteur(mm)</p>
                            <p style="font-size: 13px;">{{module?.hauteur}}</p>
                          </div>
                        </div>
                        <div class="col">
                          <div class="bloc-info">
                            <p class="title-info">Longueur(mm)</p>
                            <p style="font-size: 13px;">{{module?.longueur}}</p>
                          </div>
                        </div>
                        <div class="col">
                          <div class="bloc-info">
                            <p class="title-info">Largeur(mm)</p>
                            <p style="font-size: 13px;">{{module?.largeur}}</p>
                          </div>
                        </div>
                        <mat-divider></mat-divider>
                      </div>

                      <div class="bloc-info">
                        <div class="row">
                          <div class="col">
                           <p class="title-info">
                             Plan principal
                           </p>
                          </div>
                          <div class="col">
                           <div align="right" style="position:relative;bottom:17px;">
                             <button mat-icon-button color="primary" matTooltip="Ouvrir" *ngIf="module?.plan" (click)="openDialogFile(module.chemin,'pdf')"><mat-icon fontIcon="visibility"></mat-icon></button>
                             <input type="file" class="file-input" accept='.pdf' (change)="onFileSelectedPlanImage($event,'plan')" #fileUpload3>
                             <button mat-icon-button color="warn" matTooltip="Supprimer" (click)="fileUpload3.click()" *ngIf="module?.plan && user?.user?.role!='user'"><mat-icon fontIcon="delete_forever"></mat-icon></button>
                           </div>
                          </div>
                       </div>
                        <p *ngIf="module?.plan" style="text-align: center;">
                          <iframe [src]="src"></iframe>
                        </p>
                        <p *ngIf="!module?.plan" style="font-size: 13px;">Pas de plan</p>

                        <mat-divider></mat-divider>

                      </div>

                      <div class="bloc-info">
                        <div class="row">
                           <div class="col">
                            <p class="title-info">
                              Image principale
                            </p>
                           </div>
                           <div class="col">
                            <div align="right" style="position:relative;bottom:17px;">
                              <button mat-icon-button color="primary" matTooltip="Ouvrir" *ngIf="module?.nom_photo" (click)="openDialogFile(module.photo,'png')"><mat-icon fontIcon="visibility"></mat-icon></button>
                              <input type="file" class="file-input" accept='image/*' (change)="onFileSelectedPlanImage($event,'image')" #fileUpload2>
                              <button mat-icon-button color="warn" matTooltip="Supprimer" (click)="fileUpload2.click()"  *ngIf="module?.nom_photo && user?.user?.role!='user'"><mat-icon fontIcon="delete_forever"></mat-icon></button>
                            </div>
                           </div>
                        </div>
                        <p *ngIf="module?.nom_photo" style="text-align: center;">
                          <img [src]="module.photo" alt="" width="200px" height="150px"/>
                        </p>
                        <p *ngIf="!module?.nom_photo" style="font-size: 13px;">Pas d'image</p>
                      </div>
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
          </mat-tab>
          <mat-tab label="Projets" *ngIf="user?.user?.role!='user'">
            <div style="padding-top: 20px;">
              <app-module-projet></app-module-projet>
            </div>
          </mat-tab>
          <mat-tab label="Position" *ngIf="user?.user?.role!='user'">
             <div style="padding-top: 20px;">
              <!--<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2618.9424619896226!2d2.5078592757248828!3d48.97361967134805!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e614ffd9cdbd83%3A0x3d2bb5dfb174bbe!2s18%20Pl.%20des%20Nymph%C3%A9as%2C%2093420%20Villepinte%2C%20France!5e0!3m2!1sfr!2ssn!4v1702491580081!5m2!1sfr!2ssn" width="1200" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>-->
               <app-position></app-position>
             </div>
          </mat-tab>
          <mat-tab label="Formulaire" *ngIf="user?.user?.role!='user'">
            <div style="padding-top: 20px;">
              <mat-card>
                <mat-card-content>
                  <form [formGroup]="moduleForm" style="margin-bottom: 35px;" *ngIf="module">
                    <div class="row" style="margin-bottom: 15px;">
                      <div class="col">
                        <mat-form-field class="example-full-width">
                          <mat-label>Nom d'article</mat-label>
                          <input matInput  formControlName="nom" [(ngModel)]="module.nom" required>
                        </mat-form-field>
                        <div *ngIf="moduleForm.get('nom').hasError(champ_validation.input[0].type) && (moduleForm.get('nom').dirty || moduleForm.get('nom').touched)">
                          <p class="error_field">{{champ_validation.input[0].message}}</p>
                        </div>
                      </div>
                      <div class="col">
                        <mat-form-field class="example-full-width">
                          <mat-label>Etat</mat-label>
                          <mat-select formControlName="type" [(ngModel)]="module.type" required>
                            <mat-option value="Stock">Stock</mat-option>
                            <mat-option value="En préparation">En préparation</mat-option>
                            <mat-option value="Prêt à partir">Prêt à partir</mat-option>
                            <mat-option value="Site">Site</mat-option>
                         </mat-select>
                        </mat-form-field>    
                        <div *ngIf="moduleForm.get('type').hasError(champ_validation.input[0].type) && (moduleForm.get('type').dirty || moduleForm.get('type').touched)">
                          <p class="error_field">{{champ_validation.input[0].message}}</p>
                        </div>
                      </div>
                      <div class="col">
                        <mat-form-field class="example-full-width">
                          <mat-label>Catégorie</mat-label>
                          <input matInput  formControlName="categorie" [(ngModel)]="module.categorie">
                        </mat-form-field>
                      </div>
                    </div><!--div-->

                    <div class="row" style="margin-bottom: 15px;">
                      <div class="col">
                        <mat-form-field class="example-full-width" *ngIf="user?.user?.role!='user'">
                          <mat-label>Propriétaire</mat-label>
                          <mat-select  formControlName="entreprise" [(ngModel)]="moduleEntreprise">
                            <mat-option *ngFor="let ent of entreprises" [value]="ent?._id">{{ent?.societe}}</mat-option>
                         </mat-select>
                        </mat-form-field>
                        <mat-form-field class="example-full-width" *ngIf="user?.user?.role=='user'">
                          <mat-label>Propriétaire</mat-label>
                          <input matInput  formControlName="entreprise" [(ngModel)]="societe" readonly>
                        </mat-form-field>
                      </div><!--div-->
                      <div class="col">
                        <mat-form-field class="example-full-width">
                          <mat-label>Fabricant</mat-label>
                          <mat-select type="text" formControlName="marque" [(ngModel)]="module.marque">
                            <mat-option value="ALGECO">ALGECO</mat-option>
                            <mat-option value="COUGNAUD">COUGNAUD</mat-option>
                            <mat-option value="TEPE PREFABRIK">TEPE PREFABRIK</mat-option>
                            <mat-option value="CONTAINEX">CONTAINEX</mat-option>
                            <mat-option value="AUTRES">AUTRES</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div><!--div-->
                    </div>
                    <div class="row" style="margin-bottom: 15px;">
                      <div class="col">
                        <mat-form-field class="example-full-width">
                          <mat-label>Type</mat-label>
                          <input matInput formControlName="module_type" [(ngModel)]="module.module_type">
                        </mat-form-field>
                      </div>
                      <div class="col">
                        <mat-form-field class="example-full-width">
                          <mat-label>Date de fabrication</mat-label>
                          <input matInput [matDatepicker]="picker" formControlName="dateFabrication" [(ngModel)]="dateFabricaton">
                          <mat-datepicker-toggle matIconSuffix [for]="picker">
                            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                          </mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                      </div><!--div-->
                    </div>
                    <div class="row" style="margin-bottom: 15px;">
                      <div class="col">
                        <mat-form-field class="example-full-width">
                          <mat-label>Hauteur(mm)</mat-label>
                          <input matInput formControlName="hauteur" [(ngModel)]="module.hauteur">
                        </mat-form-field>
                       </div><!--div-->
                      <div class="col">
                        <mat-form-field class="example-full-width">
                          <mat-label>Largeur(mm)</mat-label>
                          <input matInput formControlName="largeur" [(ngModel)]="module.largeur">
                        </mat-form-field>
                      </div>
                      <div class="col">
                        <mat-form-field class="example-full-width">
                          <mat-label>Longueur(mm)</mat-label>
                          <input matInput formControlName="longueur" [(ngModel)]="module.longueur">
                        </mat-form-field>
                      </div>
                    </div>
                   <div class="row" style="margin-bottom: 15px;">
                    <div class="col">
                     <label class="label-entreprise">Image principale <span *ngIf="imageName">({{imageName}})</span></label>
                     <br/>
                     <div *ngIf="isSize">
                      <mat-chip disabled color="accent">{{isSize}}</mat-chip>
                     </div>
                     <input type="file" class="file-input" accept='image/*' (change)="onFileSelectedImage($event)" #fileUpload>
                     <button type="button" (click)="fileUpload.click()" class="btn btn-projet"><i class="fa-solid fa-cloud-arrow-down"></i> charger la photo</button>
                    </div>
                    <div class="col">
                     <label class="label-entreprise">Plan principal <span *ngIf="fileName">({{fileName}})</span></label>
                     <br/>
                     <input type="file" class="file-input" accept='.pdf' (change)="onFileSelectedPlan($event)" #fileUpload1>
                     <button type="button" (click)="fileUpload1.click()" class="btn btn-projet"><i class="fa-solid fa-cloud-arrow-down"></i> charger le plan</button>
                    </div>
                 </div>

                  </form>
                  <div align="right" *ngIf="module">
                    <button mat-button routerLink="/modulaires" class="btn-entreprise-back" style="margin-right: 10px;"><i class="fa-solid fa-chevron-left"></i> ANNULER</button>
                    <button mat-button  class="btn-entreprise" (click)="updateModule()"  [disabled]="moduleForm.invalid">VALIDER</button>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>

          </mat-tab>
          <mat-tab label="Photos">
            <div style="padding-top: 20px;">
              <app-plan-module></app-plan-module>
            </div>
          </mat-tab>
          <mat-tab label="Notes">
            <div style="padding-top: 20px;">
              <app-historique-module></app-historique-module>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>

    </div>





  </div>
</app-navbar>
