.vl {
  border-left: 2px dashed #28628b;
  height: 100%;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
}
.title-info{
  color: #28628b;
}

.bloc-info{
  //border-bottom: 1px dotted #28628b;
  padding-bottom: 15px;
}
