<app-navbar>
  <div class="container">

    <div class="content-top">
      <h2 class="content-title">Module - {{module?.nom}}</h2>
      <mat-divider></mat-divider>
    </div><!--content-->

    <div style="margin-bottom: 40px;">
      <mat-card>
        <mat-card-content>
          <div class="row">
            <div class="col-5">
              <div class="bloc-info">
                <p class="title-info">Module</p>
                <p>{{module?.nom}}</p>
                <mat-divider></mat-divider>
              </div>
              <div class="bloc-info">
                <p class="title-info">Etat</p>
                <p>{{module?.type}}</p>
                <mat-divider></mat-divider>
              </div>
              <div class="bloc-info">
                <p class="title-info">Marque</p>
                <p>{{module?.marque}}</p>
                <mat-divider></mat-divider>
              </div>
              <div class="bloc-info">
                <p class="title-info">Position</p>
                <p>{{module?.position}}</p>
                <mat-divider></mat-divider>
              </div>
              <div class="bloc-info">
                <p class="title-info">
                  Photo <button mat-mini-fab color="primary" matTooltip="Ouvrir" *ngIf="module?.nom_photo" (click)="openDialogFile(module.photo,'png')"><i class="fa-solid fa-link"></i></button>
                </p>
                <p *ngIf="module?.nom_photo">
                  <img [src]="module.photo" alt="" width="200px" height="150px"/>
                </p>
                <p *ngIf="!module?.nom_photo">Pas d'image</p>
              </div>
            </div>
            <div class="col-2">
              <div class="vl"></div>
            </div>
            <div class="col-5">
              <div class="bloc-info">
                <p class="title-info">Hauteur</p>
                <p>{{module?.hauteur}}</p>
                <mat-divider></mat-divider>
              </div>
              <div class="bloc-info">
                <p class="title-info">Longueur</p>
                <p>{{module?.longueur}}</p>
                <mat-divider></mat-divider>
              </div>
              <div class="bloc-info">
                <p class="title-info">Largeur</p>
                <p>{{module?.largeur}}</p>
                <mat-divider></mat-divider>
              </div>
              <div class="bloc-info">
                <p class="title-info">Projet</p>
                <p><span *ngIf="projet">{{projet?.projet}}</span> <span *ngIf="!projet">Non affecté</span></p>
                <mat-divider></mat-divider>
              </div>

              <div class="bloc-info">
                <p class="title-info">
                  Plan <button mat-mini-fab color="primary" matTooltip="Ouvrir" *ngIf="module?.plan"  (click)="openDialogFile(module.chemin,'pdf')"><i class="fa-solid fa-link"></i></button>
                </p>
                <p *ngIf="module?.plan">
                  <iframe [src]="src"></iframe>
                </p>
                <p *ngIf="!module?.plan">Pas de plan</p>

              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div>
      <mat-card>
        <mat-card-content>
          <form [formGroup]="moduleForm" style="margin-bottom: 35px;" *ngIf="module">
            <div class="row" style="margin-bottom: 15px;">
              <div class="col">
                <label class="label-entreprise">Nom du module <small class="error_field">*</small></label>
                <input type="text" formControlName="nom" [(ngModel)]="module.nom" class="form-control input-entreprise" required>
                <div *ngIf="moduleForm.get('nom').hasError(champ_validation.input[0].type) && (moduleForm.get('nom').dirty || moduleForm.get('nom').touched)">
                  <p class="error_field">{{champ_validation.input[0].message}}</p>
                </div>
              </div>
              <div class="col">
                <label class="label-entreprise">Etat <small class="error_field">*</small></label>
                <select formControlName="type" [(ngModel)]="module.type" class="form-control input-entreprise" required>
                   <option value="Stock">Stock</option>
                   <option value="En préparation">En préparation</option>
                   <option value="Prêt à partir">Prêt à partir</option>
                   <option value="Site">Site</option>
                </select>
                <div *ngIf="moduleForm.get('type').hasError(champ_validation.input[0].type) && (moduleForm.get('type').dirty || moduleForm.get('type').touched)">
                  <p class="error_field">{{champ_validation.input[0].message}}</p>
                </div>
              </div>
            </div><!--div-->

            <div class="row" style="margin-bottom: 15px;">
              <div class="col">
                <label class="label-entreprise">Marque</label>
                <input type="text" formControlName="marque" [(ngModel)]="module.marque" class="form-control input-entreprise">
              </div><!--div-->
            </div>
            <div class="row" style="margin-bottom: 15px;">
              <div class="col">
                <label class="label-entreprise">Hauteur</label>
                <input type="text" formControlName="hauteur" [(ngModel)]="module.hauteur" class="form-control input-entreprise">
              </div><!--div-->
              <div class="col">
                <label class="label-entreprise">Largeur</label>
                <input type="text" formControlName="largeur" [(ngModel)]="module.largeur" class="form-control input-entreprise">
              </div>
              <div class="col">
                <label class="label-entreprise">Longueur</label>
                <input type="text" formControlName="longueur" [(ngModel)]="module.longueur" class="form-control input-entreprise">
              </div>
            </div>

            <div class="row" style="margin-bottom: 15px;">
              <div class="col">
                <label class="label-entreprise">Projet</label>
                <select formControlName="projet" [(ngModel)]="projet._id" class="form-control input-entreprise" *ngIf="projet">
                   <option [value]="p?._id" *ngFor="let p of projets">{{p?.projet}}</option>
                </select>
                <select formControlName="projet" class="form-control input-entreprise" *ngIf="!projet">
                  <option [value]="p?._id" *ngFor="let p of projets">{{p?.projet}}</option>
               </select>
              </div><!--div-->
              <div class="col">
                <label class="label-entreprise">Position</label>
                <input type="text" formControlName="position" [(ngModel)]="module.position" class="form-control input-entreprise">
              </div>
           </div>

           <div class="row" style="margin-bottom: 15px;">
            <div class="col">
             <label class="label-entreprise">Photo <span *ngIf="imageName">({{imageName}})</span></label>
             <br/>
             <div *ngIf="isSize">
              <mat-chip disabled color="accent">{{isSize}}</mat-chip>
             </div>
             <input type="file" class="file-input" accept='image/*' (change)="onFileSelectedImage($event)" #fileUpload>
             <button type="button" (click)="fileUpload.click()" class="btn btn-projet"><i class="fa-solid fa-cloud-arrow-down"></i> charger la photo</button>
            </div>
            <div class="col">
             <label class="label-entreprise">Plan <span *ngIf="fileName">({{fileName}})</span></label>
             <br/>
             <input type="file" class="file-input" accept='.pdf' (change)="onFileSelectedPlan($event)" #fileUpload1>
             <button type="button" (click)="fileUpload1.click()" class="btn btn-projet"><i class="fa-solid fa-cloud-arrow-down"></i> charger le plan</button>
            </div>
         </div>

          </form>
          <div align="right" *ngIf="module">
            <button mat-button routerLink="/modulaires" class="btn-entreprise-back" style="margin-right: 10px;"><i class="fa-solid fa-chevron-left"></i> ANNULER</button>
            <button mat-button  class="btn-entreprise" (click)="updateModule()"  [disabled]="moduleForm.invalid">VALIDER</button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>



  </div>
</app-navbar>
