<app-navbar-user></app-navbar-user>

<div class="mlka-body" style="background-color: white !important; padding-top: 90px;">
    <!-- rts banner area start -->
    <div class="rts-banner-area-six position-relative bg_six-image bg_image rts-section-gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-content-banner">
                        <div class="content-wrapper">
                            <h1 class="title move-right wow">MLKA Location</h1>
                            <p class="disc move-right">
                                Nous nous engageons à être votre allié de confiance en construction modulaire.
                                Nous offrons des solutions innovantes, flexibles et durables pour répondre à vos besoins en construction modulaire.
                            </p>
                            <a href="https://mlka-market.com/" target="_blank" class="rts-btn btn-primary btn-white move-right">En Savoir Plus</a>
                        </div>

                        <div class="large-image-thumbnail move-down wow">
                            <img src="assets/images/module-bureau.png" alt="banner-image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="short-service-area">
            <div class="single-short-service zoomIn wow">
                <div class="icon">
                    <svg style="width:40px; color:#28628B;" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 7.125C2.25 6.504 2.754 6 3.375 6h6c.621 0 1.125.504 1.125 1.125v3.75c0 .621-.504 1.125-1.125 1.125h-6a1.125 1.125 0 0 1-1.125-1.125v-3.75ZM14.25 8.625c0-.621.504-1.125 1.125-1.125h5.25c.621 0 1.125.504 1.125 1.125v8.25c0 .621-.504 1.125-1.125 1.125h-5.25a1.125 1.125 0 0 1-1.125-1.125v-8.25ZM3.75 16.125c0-.621.504-1.125 1.125-1.125h5.25c.621 0 1.125.504 1.125 1.125v2.25c0 .621-.504 1.125-1.125 1.125h-5.25a1.125 1.125 0 0 1-1.125-1.125v-2.25Z" />
                    </svg>

                </div>
                <div class="info">
                    <h5 class="title">Offres de Location</h5>
                    <p>Découvrez Nos Solutions</p>
                </div>
            </div>
            <div class="single-short-service two zoomIn wow">
                <div class="icon">
                    <svg style="width:40px; color:#28628B;" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 21a9.004 9.004 0 0 0 8.716-6.747M12 21a9.004 9.004 0 0 1-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 0 1 7.843 4.582M12 3a8.997 8.997 0 0 0-7.843 4.582m15.686 0A11.953 11.953 0 0 1 12 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0 1 21 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0 1 12 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 0 1 3 12c0-1.605.42-3.113 1.157-4.418" />
                    </svg>

                </div>
                <div class="info">
                    <h5 class="title">Projets Internationaux</h5>
                    <p>Nos Services à l’International</p>
                </div>
            </div>
        </div>
    </div>
    <!-- rts banner area end -->

     <!-- rts service arae start -->
    <div class="service-area rts-section-gap">
        <div class="container">
            <div class="row g-5">
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="single-service-six fadeInLeft wow bg-pink" data-wow-duration=".8s">
                        <h3 class="title">Flexibilité Adaptée</h3>
                        <p class="disc mb--30">
                            Des solutions sur mesure, disponibles en location courte ou longue durée.
                        </p>
                        
                        <svg style="width: 100px !important; color: rgb(192, 192, 192) !important;"  class="logo" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width=".6" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 6h9.75M10.5 6a1.5 1.5 0 1 1-3 0m3 0a1.5 1.5 0 1 0-3 0M3.75 6H7.5m3 12h9.75m-9.75 0a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m-3.75 0H7.5m9-6h3.75m-3.75 0a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m-9.75 0h9.75" />
                        </svg>

                        <a href="https://mlka-market.com/" target="_blank" class="round-btn"><i class="fa-regular fa-chevron-right"></i></a>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="single-service-six bg-green fadeInLeft wow" data-wow-duration=".8s" data-wow-delay=".1s">
                        <h3 class="title">Engagement <br>
                            Écologique</h3>
                        <p class="disc mb--30">
                            Une approche durable avec la réutilisation et l’optimisation des modules.
                        </p>
                        <svg style="width: 100px !important; color: rgb(192, 192, 192) !important;"  class="logo" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width=".5" stroke="currentColor" >
                            <path stroke-linecap="round" stroke-linejoin="round" d="m20.893 13.393-1.135-1.135a2.252 2.252 0 0 1-.421-.585l-1.08-2.16a.414.414 0 0 0-.663-.107.827.827 0 0 1-.812.21l-1.273-.363a.89.89 0 0 0-.738 1.595l.587.39c.59.395.674 1.23.172 1.732l-.2.2c-.212.212-.33.498-.33.796v.41c0 .409-.11.809-.32 1.158l-1.315 2.191a2.11 2.11 0 0 1-1.81 1.025 1.055 1.055 0 0 1-1.055-1.055v-1.172c0-.92-.56-1.747-1.414-2.089l-.655-.261a2.25 2.25 0 0 1-1.383-2.46l.007-.042a2.25 2.25 0 0 1 .29-.787l.09-.15a2.25 2.25 0 0 1 2.37-1.048l1.178.236a1.125 1.125 0 0 0 1.302-.795l.208-.73a1.125 1.125 0 0 0-.578-1.315l-.665-.332-.091.091a2.25 2.25 0 0 1-1.591.659h-.18c-.249 0-.487.1-.662.274a.931.931 0 0 1-1.458-1.137l1.411-2.353a2.25 2.25 0 0 0 .286-.76m11.928 9.869A9 9 0 0 0 8.965 3.525m11.928 9.868A9 9 0 1 1 8.965 3.525" />
                        </svg>

                        <a href="https://mlka-market.com/" target="_blank" class="round-btn"><i class="fa-regular fa-chevron-right"></i></a>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="single-service-six fadeInLeft wow bg-yello" data-wow-duration=".8s" data-wow-delay=".2s">
                        <h3 class="title">Innovation et<br>
                            Performance</h3>
                        <p class="disc mb--30">
                            Des infrastructures modernes et optimisées pour garantir confort et efficacité.
                        </p>
                        <svg style="width: 100px !important; color: rgb(192, 192, 192) !important;"  class="logo" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="0.6" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M9.813 15.904 9 18.75l-.813-2.846a4.5 4.5 0 0 0-3.09-3.09L2.25 12l2.846-.813a4.5 4.5 0 0 0 3.09-3.09L9 5.25l.813 2.846a4.5 4.5 0 0 0 3.09 3.09L15.75 12l-2.846.813a4.5 4.5 0 0 0-3.09 3.09ZM18.259 8.715 18 9.75l-.259-1.035a3.375 3.375 0 0 0-2.455-2.456L14.25 6l1.036-.259a3.375 3.375 0 0 0 2.455-2.456L18 2.25l.259 1.035a3.375 3.375 0 0 0 2.456 2.456L21.75 6l-1.035.259a3.375 3.375 0 0 0-2.456 2.456ZM16.894 20.567 16.5 21.75l-.394-1.183a2.25 2.25 0 0 0-1.423-1.423L13.5 18.75l1.183-.394a2.25 2.25 0 0 0 1.423-1.423l.394-1.183.394 1.183a2.25 2.25 0 0 0 1.423 1.423l1.183.394-1.183.394a2.25 2.25 0 0 0-1.423 1.423Z" />
                        </svg>

                        <a href="https://mlka-market.com/" target="_blank" class="round-btn"><i class="fa-regular fa-chevron-right"></i></a>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="single-service-six fadeInLeft wow bg-sayan" data-wow-duration=".8s" data-wow-delay=".3s">
                        <h3 class="title">24/7 Heures <br>
                            Support</h3>
                        <p class="disc mb--30">
                            Un service sur-mesure pour vous conseiller et assurer la réussite de votre projet.
                        </p>
                        <img src="assets/images/service/08.svg" alt="service" class="logo">
                        <a href="https://mlka-market.com/" target="_blank" class="round-btn"><i class="fa-regular fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- rts service arae end -->

    <!-- why Team section start -->
    <div class="team-style-wrapper bg-light  rts-section-gap ">
        <div class="container pb--40">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-between-area">
                        <div class="title-wrapper-left">
                            <h2 class="title">
                                Découvrez <br> Nos Produits
                            </h2>
                        </div>
                        <p class="disc">
                            Des espaces flexibles pour répondre à vos besoins. Louez avec confiance, 
                            profitez de la commodité et de la qualité. 
                            Faites de chaque lieu un espace fonctionnel à votre image.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row g-5 mt--30">
                <div class="col-lg-3 col-md-6 col-sm-6 col-12 mb_md--50 mb_sm--50 fadeInLeft wow" data-wow-duration="1s" data-wow-delay=".1s">
                    <div class="single-team-area-start team-absolute-bottom">
                        <a href="https://mlka-market.com/10-guerites-securite" target="_blank" class="thumbnail" >
                            <img src="assets/images/module1.jpg" alt="team">
                        </a>
                        <div class="bottom">
                            <a href="https://mlka-market.com/10-guerites-securite" target="_blank">
                                <h6 class="title">Guérite</h6>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12 mb_md--50 mb_sm--50 fadeInLeft wow" data-wow-duration="1s" data-wow-delay=".3s">
                    <div class="single-team-area-start team-absolute-bottom">
                        <a href="https://mlka-market.com/48-conteneur" target="_blank" class="thumbnail">
                            <img src="assets/images/module2.jpg" alt="team">
                        </a>
                        <div class="bottom">
                            <a href="https://mlka-market.com/48-conteneur" target="_blank">
                                <h6 class="title">Conteneur</h6>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12 fadeInLeft wow" data-wow-duration="1s" data-wow-delay=".5s">
                    <div class="single-team-area-start team-absolute-bottom">
                        <a href="https://mlka-market.com/11-modules-standards" target="_blank" class="thumbnail">
                            <img src="assets/images/module3.jpg" alt="team">
                        </a>
                        <div class="bottom">
                            <a href="https://mlka-market.com/11-modules-standards" target="_blank">
                                <h6 class="title">Module standard</h6>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12 fadeInLeft wow" data-wow-duration="1s" data-wow-delay=".7s">
                    <div class="single-team-area-start team-absolute-bottom">
                        <a href="https://mlka-market.com/18-ensemble-module-administration" target="_blank" class="thumbnail">
                            <img src="assets/images/module4.jpg" alt="team">
                        </a>
                        <div class="bottom">
                            <a href="https://mlka-market.com/18-ensemble-module-administration" target="_blank">
                                <h6 class="title">Module bureau</h6>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center" style="margin-top: 80px;">
            <a target="_blank" href="https://mlka-market.com" class="rts-btn btn-primary">En Savoir Plus <img src="assets/images/banner/icons/arrow--up-right.svg" alt=""></a>
        </div>
    </div>
    <!-- why Team section end -->

    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright-area-inner">
                        <p>© 2025 <a target="_blank" href="https://mlka-hld.fr">MLKA GROUPE</a>. Tous droits réservés</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>