<app-navbar>
  <div class="container">
    <div class="content-top">
      <div class="row">
        <div class="col">
          <p class="title-projet-page">Création Entreprise <button class="btn" type="button" [routerLink]="['/entreprises']"><i class="fa-solid fa-arrow-left" style="color:#28628B;"></i></button></p>
        </div>
        <div class="col">
           <div align="right">
            <i class="fa-solid fa-city" style="font-size: 30px;color: #666C7E;"></i>
           </div>
        </div>
      </div><!--row-->
      <div class="row">
        <div class="col">
          <hr class="entreprise">
        </div>
      </div><!--row-->
      <div class="row">
        <div class="col">

          <form [formGroup]="signupForm" novalidate>
            <div style="margin-bottom: 5px;">
              <p style="font-weight: bold;">Civilité*</p>
              <mat-radio-group aria-label="Select an option" formControlName="genre" required>
                <mat-radio-button value="Mr">Monsieur</mat-radio-button>
                <mat-radio-button value="Mme">Madame</mat-radio-button>
              </mat-radio-group>
              <div *ngIf="signupForm.get('genre').hasError(account_validation.input[0].type) && ((signupForm.get('genre').dirty || signupForm.get('genre').touched) ||  (submitted))">
                <p class="error_field">{{account_validation.input[0].message}}</p>
              </div>
            </div>
            <div class="row">
                <div class="col">
                  <mat-form-field class="example-full-width">
                    <mat-label>Nom</mat-label>
                    <input matInput formControlName="nom" required>
                  </mat-form-field>
                  <div *ngIf="signupForm.get('nom').hasError(account_validation.input[0].type) && ((signupForm.get('nom').dirty || signupForm.get('nom').touched) ||  (submitted))">
                    <p class="error_field">{{account_validation.input[0].message}}</p>
                  </div>
                </div>
                <div class="col">
                  <mat-form-field class="example-full-width">
                    <mat-label>Prénom</mat-label>
                    <input matInput formControlName="prenom" required>
                  </mat-form-field>
                  <div *ngIf="signupForm.get('prenom').hasError(account_validation.input[0].type) && ((signupForm.get('prenom').dirty || signupForm.get('prenom').touched) ||  (submitted))">
                    <p class="error_field">{{account_validation.input[0].message}}</p>
                  </div>
                </div>
            </div>
            <div class="row">
              <div class="col">
                <mat-form-field class="example-full-width">
                  <mat-label>Type d'entreprise</mat-label>
                  <mat-select matInput formControlName="company" required>
                    <mat-option value="person">Particulier</mat-option>
                    <mat-option value="company">Société</mat-option>
                  </mat-select>
                </mat-form-field>
                <div *ngIf="signupForm.get('company').hasError(account_validation.input[0].type) && ((signupForm.get('company').dirty || signupForm.get('company').touched) ||  (submitted))">
                  <p class="error_field">{{account_validation.input[0].message}}</p>
                </div>
              </div>
          </div>
            <div class="row">
              <div class="col">
                <mat-form-field class="example-full-width">
                  <mat-label>Sociéte</mat-label>
                  <input matInput formControlName="societe" (input)="checkSociete()" required>
                </mat-form-field>
                <div *ngIf="signupForm.get('societe').hasError(account_validation.input[0].type) && ((signupForm.get('societe').dirty || signupForm.get('societe').touched) ||  (submitted))">
                  <p class="error_field">{{account_validation.input[0].message}}</p>
                </div>
                <div *ngIf="societeExists" class="error_field">L'entreprise existe déjà.</div>
              </div>
              <div class="col">
                <mat-form-field class="example-full-width">
                  <mat-label>Siret</mat-label>
                  <input matInput formControlName="siret">
                </mat-form-field>
                <!--<div *ngIf="signupForm.get('siret').hasError(account_validation.input[0].type) && ((signupForm.get('siret').dirty || signupForm.get('siret').touched) ||  (submitted))">
                  <p class="error_field">{{account_validation.input[0].message}}</p>
                </div>-->
              </div>
            </div>
            <div class="row">
              <div class="col">
                <mat-form-field class="example-full-width">
                  <mat-label>Rue</mat-label>
                  <input matInput formControlName="rue" required>
                </mat-form-field>
                <div *ngIf="signupForm.get('rue').hasError(account_validation.input[0].type) && ((signupForm.get('rue').dirty || signupForm.get('rue').touched) ||  (submitted))">
                  <p class="error_field">{{account_validation.input[0].message}}</p>
                </div>
              </div>

              <div class="col">
                <mat-form-field class="example-full-width">
                  <mat-label>Numéro</mat-label>
                  <input matInput formControlName="numero">
                </mat-form-field>
                <div *ngIf="signupForm.get('numero').hasError(account_validation.input[0].type) && ((signupForm.get('numero').dirty || signupForm.get('numero').touched) ||  (submitted))">
                  <p class="error_field">{{account_validation.input[0].message}}</p>
                </div>
              </div>
              <div class="col">
                <mat-form-field class="example-full-width">
                  <mat-label>Code postal</mat-label>
                  <input matInput formControlName="postal" required>
                </mat-form-field>
                <div *ngIf="signupForm.get('postal').hasError(account_validation.input[0].type) && ((signupForm.get('postal').dirty || signupForm.get('postal').touched) ||  (submitted))">
                  <p class="error_field">{{account_validation.input[0].message}}</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <mat-form-field class="example-full-width">
                  <mat-label>Pays</mat-label>
                  <input  matInput type="text" formControlName="pays" [(ngModel)]="pays" [matAutocomplete]="auto" required>
                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let pays of paysFiltres | async" [value]="pays.name">
                      {{pays?.emoji}} {{pays?.name}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                <div *ngIf="signupForm.get('pays').hasError(account_validation.input[0].type) && ((signupForm.get('pays').dirty || signupForm.get('pays').touched) ||  (submitted))">
                  <p class="error_field">{{account_validation.input[0].message}}</p>
                </div>
              </div>

              <div class="col-2">
                <mat-form-field class="example-full-width">
                  <input type="text" matInput formControlName="indicatif" [(ngModel)]="code" [matAutocomplete]="autoCode" required>
                  <mat-autocomplete #autoCode="matAutocomplete">
                    <mat-option *ngFor="let code of codeFiltres | async" [value]="code?.dial_code">
                      {{code?.dial_code}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                <div *ngIf="signupForm.get('indicatif').hasError(account_validation.input[0].type) && ((signupForm.get('indicatif').dirty || signupForm.get('indicatif').touched) ||  (submitted))">
                  <p class="error_field">{{account_validation.input[0].message}}</p>
                </div>
              </div>
              <div class="col">
                <mat-form-field class="example-full-width">
                  <mat-label>Téléphone</mat-label>
                  <input matInput formControlName="telephone" appPhoneMask required>
                </mat-form-field>
                <div *ngIf="signupForm.get('telephone').hasError(account_validation.telephone[0].type) && ((signupForm.get('telephone').dirty || signupForm.get('telephone').touched) || (submitted))">
                  <p class="error_field">{{account_validation.telephone[0].message}}</p>
                </div>
                <div *ngIf="signupForm.get('telephone').hasError(account_validation.telephone[1].type) && ((signupForm.get('telephone').dirty || signupForm.get('telephone').touched) || (submitted))">
                  <p class="error_field">{{account_validation.telephone[1].message}}</p>
                </div>
              </div>
            </div>
            <div>
              <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input matInput type="email" formControlName="email" (input)="checkEmail()" required>
              </mat-form-field>
              <div *ngIf="signupForm.get('email').hasError(account_validation.email[0].type) && ((signupForm.get('email').dirty || signupForm.get('email').touched) ||  (submitted))">
                <p class="error_field">{{account_validation.email[0].message}}</p>
              </div>
              <div *ngIf="signupForm.get('email').hasError(account_validation.email[1].type) && ((signupForm.get('email').dirty || signupForm.get('email').touched) ||  (submitted))">
                <p class="error_field">{{account_validation.email[1].message}}</p>
              </div>
              <div *ngIf="emailExists" class="error_field">Cet email est déjà utilisé.</div>
            </div>

            <div class="text-center">
              <button mat-raised-button [disabled]="onLoadForm" type="submit" (click)="addEntreprise()" class="sizeButtonSignup" style="color: #fff;">ENREGISTRER</button>
            </div>
          </form>
          <div *ngIf="onLoadForm">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </div>

        </div><!--col-->
      </div><!--row-->
    </div>
  </div>
</app-navbar>

