<app-navbar>
  <div class="container">
    <div class="content-top">
      <h2 class="content-title">Les devis</h2>
      <mat-divider></mat-divider>
    </div><!--content-->
  </div>
  <div>
    <div class="row" style="margin-bottom: 35px;">
      <div class="col">
        <input type="text"  (keyup)="applyFilter($event)" class="form-control input-search" id="exampleFormControlInput1" placeholder="Rechercher">
      </div>
      <div class="col"  align="right">
        <button type="button" class="btn btn-projet" (click)="openDialog()"><i class="fa-solid fa-plus"></i> Nouveau devis</button>
      </div>
    </div>

    <table mat-table [dataSource]="dataSource">
      <!-- Position Column -->
      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef> Nom </th>
        <td mat-cell *matCellDef="let element" style="cursor: pointer;font-size: 12px;"> {{element?.nom}} </td>
      </ng-container>

       <!-- Symbol Column -->
       <ng-container matColumnDef="numero">
        <th mat-header-cell *matHeaderCellDef>Numéro</th>
        <td mat-cell *matCellDef="let element" style="font-size: 12px;cursor: pointer;"> {{element?.numero}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="devis">
        <th mat-header-cell *matHeaderCellDef>Devis</th>
        <td mat-cell *matCellDef="let element" style="font-size: 12px;cursor: pointer;">{{element?.devis}}</td>
      </ng-container>

       <!-- Name Column -->
       <ng-container matColumnDef="projet">
        <th mat-header-cell *matHeaderCellDef>Projet</th>
        <td mat-cell *matCellDef="let element" style="font-size: 12px;cursor: pointer;">{{element?.projet}}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Date</th>
        <td mat-cell *matCellDef="let element" style="font-size: 12px;cursor: pointer;">{{element?.date |date :'dd MMMM yyyy'}}  </td>
      </ng-container>


      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="openDialogFile(element?.chemin,element?.extension)">
              <mat-icon>visibility</mat-icon>
              <span>Voir</span>
            </button>
            <button mat-menu-item (click)="openDialogUpdate(element?.id)">
              <mat-icon>edit</mat-icon>
              <span>Editer</span>
            </button>
            <button mat-menu-item (click)="openDialogDelete(element?.id)">
              <mat-icon>delete</mat-icon>
              <span>Supprimer</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 20]"
                  showFirstLastButtons
                  aria-label="Select page of periodic elements"
                  >
    </mat-paginator>


  </div>
</app-navbar>
