<div id="container">

  <div id="left">
    <div>
      <img src="assets/images/logo.png" class="img-log">
    </div><!--logo-->
    <div>
      <img src="assets/images/image1.png" class="img-center">
    </div><!--image-->
    <div>
      <p class="plt">PLATEFORME WEB</p>
      <p class="gtp">Gestion parc modulaire</p>
    </div><!--text-->
  </div><!--left-->

  <div id="rightReset">

    <div align="right">
      <button type="button" class="btn btn-reset" [routerLink]="'/'" style="margin-right: 15px;">Se connecter</button>
      <button type="button" class="btn btn-reset" [routerLink]="'/signup'">S'inscrire</button>
    </div><!--right-->

    <div class="form-div" *ngIf="!passwordchanged">

      <h3 class="title-page-reset">Réinitialiser mot de passe</h3>


      <div style="margin-bottom: 30px;">
        <mat-card *ngIf="passwordchangederror" class="msg-reset-error">
          <mat-card-content>
            Votre mot de passe a déjà été changé
          </mat-card-content>
        </mat-card>
      </div>

      <form [formGroup]="changepasswordForm" novalidate style="margin-bottom: 20px;">
         <div>
          <label class="label-style-reset">Mot de passe</label>
          <div class="input-group mb-3 bloc-input">
            <input [type]="hide ? 'password' : 'text'" formControlName="password" name="password" appAppPassword required class="form-control py-2 border-left-0 input-lgs-reset">
            <span *ngIf="changepasswordForm.get('password').value && changepasswordForm.get('password').value!=''"
            class="input-group-text input-group-lgs-reset border-right-0" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide"><i [ngClass]="hide ? 'far fa-eye-slash' : 'fas fa-eye'"></i></span>
          </div>
          <div *ngFor="let v of validation.password">
            <p  class="error_field" *ngIf="changepasswordForm.get('password').hasError(v.type) && ((changepasswordForm.get('password').dirty || changepasswordForm.get('password').touched) || (submitted))">
              {{ v.message }}
            </p>
          </div>
         </div>
         <div>
          <label class="label-style-reset">Confirmer le mot de passe</label>
          <div class="input-group mb-3 bloc-input">
            <input [type]="hidePassword ? 'password' : 'text'" appConfirmEqualValidator="password" formControlName="confirmpassword" name="confirmpassword" appAppPassword required class="form-control py-2 border-left-0 input-lgs-reset">
            <span *ngIf="changepasswordForm.get('confirmpassword').value && changepasswordForm.get('confirmpassword').value!=''"
            class="input-group-text input-group-lgs-reset border-right-0" (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword"><i [ngClass]="hidePassword ? 'far fa-eye-slash' : 'fas fa-eye'"></i></span>
          </div>
          <div>
            <p  class="error_field" *ngIf="(changepasswordForm.get('confirmpassword').errors?.notEqual || changepasswordForm.get('confirmpassword').value!=changepasswordForm.get('password').value) && ((changepasswordForm.get('confirmpassword').dirty || changepasswordForm.get('confirmpassword').touched) || (submitted))">
              Les deux mot de passe ne correspondent pas
            </p>
          </div>
         </div>
         <div align="center">
          <button type="submit" (click)="onChangePassword()" [disabled]="changepasswordForm.invalid" class="btn btn-reset-password">Confirmer</button>
        </div>
      </form>

      <div *ngIf="isMailLoading">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>

    </div><!--form-->

    <div class="form-div" *ngIf="passwordchanged">
      <h3 class="title-page-reset">Réinitialiser mot de passe</h3>

      <div>
        <mat-card  class="msg-reset-success">
          <mat-card-content>
            Réinitialisation du mot de passe effectué avec succès.
          </mat-card-content>
        </mat-card>
      </div>
    </div>

  </div><!--left-->

</div><!--container-->
