<app-navbar-user></app-navbar-user>

<div class="container" style="padding-top: 90px;">

  <div class="row justify-content-md-center">
    <div class="col-lg-10 col-md-10 col-md-auto">
        <mat-card style="border-radius: 28px !important;box-shadow: none !important;">
          <mat-card-content style="padding-top: 50px !important;padding-bottom: 50px !important;">
            <h2 class="content-title">Module - {{module?.nom}}</h2>
             <div class="row">
               <div class="col">
                <p *ngIf="module?.nom_photo" style="margin-bottom: 10px;">
                  <img [src]="module.photo" alt="" style="width: 90%;">
                </p>
                <p *ngIf="module?.plan">
                  <iframe [src]="src" style="width: 90%;"></iframe>
                </p>
               </div>
               <div class="col">
                 <p style="margin-bottom: 20px;"><b>Numéro série</b> : {{module?.numero_serie}}</p>
                 <p style="margin-bottom: 20px;"><b>Propriétaire</b> : {{module?.entreprise?.societe}}</p>
                 <p style="margin-bottom: 20;"><b>Fabricant</b> : {{module?.marque}}</p>
                 <p style="margin-bottom: 20px;"><b>Etat</b> : {{module?.type}}</p>
                 <p style="margin-bottom: 20px;"><b>Hauteur</b> : {{module?.hauteur}} (mm)</p>
                 <p style="margin-bottom: 20px;"><b>Longueur</b> : {{module?.longueur}} (mm)</p>
                 <p style="margin-bottom: 40px;"><b>Largeur</b> : {{module?.largeur}} (mm)</p>
                 <div>
                  <button mat-button routerLink="/login" color="primary" style="margin-right: 10px;">Si vous avez un compte connecté vous sur le web.</button>
                 </div>
               </div>
             </div>
          </mat-card-content>
          <mat-card-footer>

          </mat-card-footer>
        </mat-card>
        <p style="text-align: center;">
          <button mat-button color="primary" style="margin-right: 10px;"><a href="https://mlka-groupe.fr" style="color:#25446B !important;">Visitez notre site MLKA.</a></button>

        </p>
    </div>
  </div>
</div>
