
.bg-yellow th, .bg-yellow td{
    background-color: rgba(255, 247, 0, 0.884) !important;
}
.btn-mlka{
    background-color: #28628b; 
    color: white;
}
.btn-mlka:hover{
    background-color: rgb(27, 75, 110) 
}
