<app-navbar>
  <div class="topbar">
        <div class="topbar-left">
          <h1>Projet : {{projet?.projet}}</h1>
        </div>
        <div class="topbar-right">
          <button mat-raised-button type="button" color="primary" style="margin-right: 5px;" matTooltip="Modifier" (click)="updateProjet(projet._id)"><i class="fa-regular fa-pen-to-square"></i> Modifier</button>
        </div>
  </div>
  <div class="content">

    <div class="list-projet">

      <div class="row projet-layout-row">

         <nav class="project-tabs-wrap">
            <div class="nav nav-tabs" id="nav-tab" role="tablist">

              <button class="nav-link tabprojet  active" id="nav-task-tab" data-bs-toggle="tab" data-bs-target="#nav-task" type="button" role="tab" aria-controls="nav-task" aria-selected="false">Tâches</button>
              <button class="nav-link tabprojet" id="nav-pv-tab" data-bs-toggle="tab" data-bs-target="#nav-pv" type="button" role="tab" aria-controls="nav-pv" aria-selected="false">PV Réception</button>
              <button class="nav-link tabprojet" id="nav-plan-tab" data-bs-toggle="tab" data-bs-target="#nav-plan" type="button" role="tab" aria-controls="nav-plan" aria-selected="false">Plan</button>
              <button class="nav-link tabprojet" id="nav-piece-tab" data-bs-toggle="tab" data-bs-target="#nav-piece" type="button" role="tab" aria-controls="nav-piece" aria-selected="false">Documents</button>
              <button class="nav-link tabprojet" id="nav-file-tab" data-bs-toggle="tab" data-bs-target="#nav-file" type="button" role="tab" aria-controls="nav-file" aria-selected="true">Fiche projet</button>
            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade" id="nav-file" role="tabpanel" aria-labelledby="nav-file-tab" tabindex="0">
              <app-fiche></app-fiche>
            </div>
            <div class="tab-pane fade" id="nav-piece" role="tabpanel" aria-labelledby="nav-piece-tab" tabindex="0">
              <app-box-projet></app-box-projet>
            </div>
            <div class="tab-pane fade show active" id="nav-task" role="tabpanel" aria-labelledby="nav-task-tab" tabindex="0">
              <app-taches></app-taches>
            </div>
            <div class="tab-pane fade" id="nav-pv" role="tabpanel" aria-labelledby="nav-pv-tb" tabindex="0">
              <app-pv-reception></app-pv-reception>
            </div>
            <div class="tab-pane fade" id="nav-plan" role="tabpanel" aria-labelledby="nav-plan-tb" tabindex="0">
              <app-plan-projet-box></app-plan-projet-box>
            </div>
          </div>
      </div><!--row-->
    </div>
  </div>

</app-navbar>

