<app-navbar-user></app-navbar-user>

<div class="container" style="padding-top: 90px;">
                <h3 style="font-size:14px">CONDITIONS GENERALES D'UTILISATION DE LA PLATEFORME MLKA IMMO</h3>

                <p style="font-size: 13px;">
                 Bienvenue dans l'application mobile <b>MLKA IMMO</b>. Cette politique de confidentialité explique comment nous collectons, utilisons, partageons et protégeons les informations que vous pourriez nous fournir en utilisant l'application. Nous accordons une grande importance à la confidentialité de vos données et nous nous engageons à les traiter de manière responsable et sécurisée.
                </p>

                <h4>1. Collecte d'Informations</h4>
                <p style="font-size: 13px;">
                 Nous souhaitons vous informer que l'application MLKA IMMO ne collecte aucune information personnelle, financière ou sensible. Nous ne demandons pas d'informations telles que votre nom, adresse, numéro de téléphone, données de paiement ou autres données sensibles.
                </p>

                <h4>2. Données d'Utilisation</h4>
                <p style="font-size: 13px;">
                 Lorsque vous interagissez avec l'application MLKA IMMO, nous pouvons collecter des données d'utilisation anonymes, telles que les fonctionnalités que vous utilisez et la fréquence de votre utilisation. Ces informations nous aident à améliorer l'expérience utilisateur et à optimiser les fonctionnalités de l'application.
                </p>

                <h4 >3. Cookies et Technologies Similaires</h4>
                <p style="font-size: 13px;">
                  L'application MLKA IMMO n'utilise pas de cookies, de balises web ou d'autres technologies similaires pour collecter des informations sur votre utilisation.
                </p>

                <h4 >4. Partage d'Informations</h4>
                <p style="font-size: 13px;">
                 Comme nous ne collectons pas de données personnelles, nous ne partageons pas d'informations avec des tiers. Vos données sont stockées uniquement sur votre appareil et ne sont pas accessibles par nous ou d'autres parties.
                </p>

                <h4>5. Sécurité des Données</h4>
                <p style="font-size: 13px;">
                  Bien que nous ne collectons pas de données, nous prenons la sécurité de l'application au sérieux. Nous utilisons des mesures de sécurité appropriées pour protéger l'application contre les accès non autorisés, les altérations et les suppressions de données.
                </p>

                <h4>6. Modifications de la Politique</h4>
                <p style="font-size: 13px;">
                  Nous nous réservons le droit de mettre à jour cette politique de confidentialité à tout moment. Toute modification sera signalée dans l'application et la version la plus récente sera disponible à tout moment.
                </p>

                <h4>7. Contact</h4>
                <p style="font-size: 13px;">
                  Si vous avez des questions concernant notre politique de confidentialité ou si vous avez des préoccupations concernant l'application, veuillez nous contacter à contact@mlka.fr. Nous sommes là pour répondre à vos questions et préoccupations.
                </p>
</div>
