.text-vert{
    color: #41CA56 !important;
}

.btn-primary{
    background-color: #41CA56 !important;
    color: white !important;
}

.title-a:hover{
    color: #41CA56 !important;
}

.btn-primary:hover, .bg-transparent:hover{
    background-color: #2b993b !important;
}

.bg_vert{
    background-color: #2b993b !important;
}