<app-navbar-user></app-navbar-user>

<div class="mlka-body" style="background-color: white !important; padding-top: 90px;">
    <!-- Section 1 -->
    <div class="d-flex justify-content-between align-items-center" >
        <div style="width: 30%; padding-left: 100px; position: relative; z-index: 30;">
            <div class="d-flex align-items-center mb-2" >
                <svg  class="text-vert" style="width:30px;" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m21 7.5-2.25-1.313M21 7.5v2.25m0-2.25-2.25 1.313M3 7.5l2.25-1.313M3 7.5l2.25 1.313M3 7.5v2.25m9 3 2.25-1.313M12 12.75l-2.25-1.313M12 12.75V15m0 6.75 2.25-1.313M12 21.75V19.5m0 2.25-2.25-1.313m0-16.875L12 2.25l2.25 1.313M21 14.25v2.25l-2.25 1.313m-13.5 0L3 16.5v-2.25" />
                </svg>
                <span class="pre-title text-vert ms-3 fs-3 ">Solutions Modulaires Avancées</span>
            </div>
            <h1 class="title move-right wow " style="width: 200%; font-size: 70px !important;">
                L’Excellence <span class="text-vert">en</span> <br/>Construction, <br/><span class="text-vert">Chaque</span> Jour
            </h1>
            <p class="disc" style="width:180%; color:rgb(71, 70, 70) !important;">
                Chez MLKA Innovation, nous croyons que des infrastructures modulaires bien conçues peuvent transformer vos projets. Notre équipe d’experts s’engage à fournir des solutions modernes et adaptées pour répondre à vos besoins avec efficacité et flexibilité.
            </p>
            <a target="_blank" href="https://mlka-innov.fr" class="rts-btn btn-primary ">En Savoir Plus <img src="assets/images/banner/icons/arrow--up-right.svg" alt=""></a>
        </div>
        <div class=" d-flex justify-content-end" style="width: 70%;">
            <img src="assets/images/site1.png" alt="">
        </div>
    </div>

    <!-- A propos-->
    <div class="rts-about-area position-relative rts-section-gap bg_dark bg_vert" style="margin-top: 150px;">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 pr--50 pr_md--10 pr_sm--10 mb_md--30 mb_sm--30">
                    <div class="thumbnail-about-area move-right wow">
                        <img src="assets/images/site2.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6 pl--30 pl_sm--10">
                    <div class="about-five-right-area">
                        <div class="title-main-wrapper">
                            <span class="pre-title d-flex">
                                <svg style="width: 30px;" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M9.813 15.904 9 18.75l-.813-2.846a4.5 4.5 0 0 0-3.09-3.09L2.25 12l2.846-.813a4.5 4.5 0 0 0 3.09-3.09L9 5.25l.813 2.846a4.5 4.5 0 0 0 3.09 3.09L15.75 12l-2.846.813a4.5 4.5 0 0 0-3.09 3.09ZM18.259 8.715 18 9.75l-.259-1.035a3.375 3.375 0 0 0-2.455-2.456L14.25 6l1.036-.259a3.375 3.375 0 0 0 2.455-2.456L18 2.25l.259 1.035a3.375 3.375 0 0 0 2.456 2.456L21.75 6l-1.035.259a3.375 3.375 0 0 0-2.456 2.456ZM16.894 20.567 16.5 21.75l-.394-1.183a2.25 2.25 0 0 0-1.423-1.423L13.5 18.75l1.183-.394a2.25 2.25 0 0 0 1.423-1.423l.394-1.183.394 1.183a2.25 2.25 0 0 0 1.423 1.423l1.183.394-1.183.394a2.25 2.25 0 0 0-1.423 1.423Z" />
                                </svg>
                                A Propos
                            </span>
                            <h2 class="title">MLKA Innovation : Engagés pour un Avenir Durable</h2>
                            <p class="disc">
                                Nous repensons la construction modulaire en alliant innovation et respect de l’environnement. En réutilisant et en optimisant les équipements 
                                existants, nous adoptons un modèle économique durable où chaque module a une seconde vie. Ensemble, bâtissons des solutions écologiques et 
                                performantes pour demain.
                            </p>
                            <a href="https://mlka-market.fr" target="_blank" class="rts-btn btn-primary">Nos Produits <img src="assets/images/banner/icons/arrow--up-right.svg" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>



    <!-- rts blog area start -->
    <div class="rts-blog-area rts-section-gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-between-area">
                        <div class="title-wrapper-left">
                            <h2 class="title">
                                Nos Réalisations
                            </h2>
                        </div>
                        <p class="disc">
                            Chaque réalisation est le fruit d’une conception ingénieuse et d’un savoir-faire éprouvé. 
                            Chaque module installé est une preuve de notre engagement envers la qualité, la performance et l’excellence.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row g-5 mt--20">
                <div class="col-lg-4 wow fadeInUp" data-wow-delay=".2s" data-wow-duration=".8s">
                    <!-- single blog areas start -->
                    <div class="rts-single-blog">
                        <a href="https://mlka-innov.fr/nos-realisations/#1706010836980-35a0fa38-801d" target="_blank" class="thumbnail">
                            <img src="assets/images/realisation1.png" alt="blog-image">
                        </a>
                        <div class="inner-content">
                            <div class="author-area">
                                <span class="name">215 m²</span>
                                <span>15 jours</span>
                            </div>
                            <a class="button-wrapper" href="https://mlka-innov.fr/nos-realisations/#1706010836980-35a0fa38-801d" target="_blank">
                                <h5 class="title title-a">
                                    Cabinet médical à Lagny Le Sec
                                </h5>
                            </a>
                            <a href="https://mlka-innov.fr/nos-realisations/#1706010836980-35a0fa38-801d" target="_blank" class="rts-btn btn-primary border bg-transparent">Voir Plus 
                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.625 3.375V4.5H12.7069L3.375 13.8319L4.16812 14.625L13.5 5.29312V12.375H14.625V3.375H5.625Z" fill="white"/>
                                    <path d="M5.625 3.375V4.5H12.7069L3.375 13.8319L4.16812 14.625L13.5 5.29312V12.375H14.625V3.375H5.625Z" fill="white"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <!-- single blog areas end -->
                </div>
                <div class="col-lg-4 wow fadeInUp" data-wow-delay=".4s" data-wow-duration=".8s">
                    <!-- single blog areas start -->
                    <div class="rts-single-blog">
                        <a href="https://mlka-innov.fr/nos-realisations/#1706010837036-cfd481df-f7ed" target="_blank" class="thumbnail">
                            <img src="assets/images/realisation2.png" alt="blog-image">
                        </a>
                        <div class="inner-content">
                            <div class="author-area">
                                <span class="name">1200 m²</span>
                                <span>3 mois</span>
                            </div>
                            <a class="button-wrapper" href="https://mlka-innov.fr/nos-realisations/#1706010837036-cfd481df-f7ed" target="_blank">
                                <h5 class="title title-a">
                                    Logement d’urgence pour les sans domiciles fixes 
                                </h5>
                            </a>
                            <a href="https://mlka-innov.fr/nos-realisations/#1706010837036-cfd481df-f7ed" target="_blank" class="rts-btn btn-primary border bg-transparent">Voir Plus 
                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.625 3.375V4.5H12.7069L3.375 13.8319L4.16812 14.625L13.5 5.29312V12.375H14.625V3.375H5.625Z" fill="white"/>
                                    <path d="M5.625 3.375V4.5H12.7069L3.375 13.8319L4.16812 14.625L13.5 5.29312V12.375H14.625V3.375H5.625Z" fill="white"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <!-- single blog areas end -->
                </div>
                <div class="col-lg-4 wow fadeInUp" data-wow-delay=".6s" data-wow-duration=".8s">
                    <!-- single blog areas start -->
                    <div class="rts-single-blog">
                        <a href="https://mlka-innov.fr/nos-realisations/#1735927475344-b1971884-275d" target="_blank" class="thumbnail">
                            <img src="assets/images/realisation3.png" alt="blog-image">
                        </a>
                        <div class="inner-content">
                            <div class="author-area">
                                <span class="name">1271 m²</span>
                                <span>3 mois</span>
                            </div>
                            <a class="button-wrapper" href="https://mlka-innov.fr/nos-realisations/#1735927475344-b1971884-275d" target="_blank" >
                                <h5 class="title title-a">
                                    Centre d’hébergement pour 53 personnes
                                </h5>
                            </a>
                            <a href="https://mlka-innov.fr/nos-realisations/#1735927475344-b1971884-275d" target="_blank" class="rts-btn btn-primary border bg-transparent">Voir Plus
                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.625 3.375V4.5H12.7069L3.375 13.8319L4.16812 14.625L13.5 5.29312V12.375H14.625V3.375H5.625Z" fill="white"/>
                                    <path d="M5.625 3.375V4.5H12.7069L3.375 13.8319L4.16812 14.625L13.5 5.29312V12.375H14.625V3.375H5.625Z" fill="white"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <!-- single blog areas end -->
                </div>
            </div>
        </div>
    </div>
    <!-- rts blog area end -->


    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright-area-inner">
                        <p>© 2025 <a target="_blank" href="https://mlka-hld.fr">MLKA GROUPE</a>. Tous droits réservés</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>