.img-center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
.img-log-signup{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.plt{
color: #28628B;
font-family: Roboto;
font-weight: 500;
font-size: 33px;
text-align: center;
margin-top: 20px;
}

.gtp{
color: #000000;
font-family: Roboto;
font-weight: 500;
font-size: 16px;
text-align: center;
}

.form-div{
padding: 20px 50px 20px;
}

.title-page-reset{
font-family: 'Rancho' !important;
font-style: normal !important;
font-weight: 400 !important;
font-size: 39.656px !important;
line-height: 62px !important;
color: #28628B !important;
text-align: center !important;
}

.bloc-input{
margin-bottom: 20px;
}

.text-barre{
  text-align: center;
  border-bottom: 1px solid lightgray;
}

.text-barre span {
  position: relative;
  top: 29px;
  z-index: 1000;
  background: white;
  padding: 10px;
  font-family: "Rancho" !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 25px !important;
  line-height: 62px !important;
  color: #28628B !important;
}


