<app-navbar>
    <div class="container">
      <div class="content-top">
        <div  class="row" style="margin-bottom: 10px;">
          <div  class="col-5">
            <h2 class="content-title">Feuille de temps : {{user?.nom}} {{user?.prenom}}</h2>
          </div>
           <div class="col">
             <div align="right">
              <form [formGroup]="filterForm">
                <div class="row">
                  <div class="col">
                    <mat-form-field class="example-full-width">
                      <mat-label>Date de début</mat-label>
                      <input matInput [matDatepicker]="pickerStart" formControlName="startDate" required>
                      <mat-datepicker-toggle matIconSuffix [for]="pickerStart">
                        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                      </mat-datepicker-toggle>
                      <mat-datepicker #pickerStart></mat-datepicker>
                    </mat-form-field>
                    <div *ngIf="filterForm.get('startDate').hasError(champ_validation.input[0].type) && (filterForm.get('startDate').dirty || filterForm.get('startDate').touched)">
                      <p class="error_field">{{champ_validation.input[0].message}}</p>
                    </div>
                  </div>
                  <div class="col">
                    <mat-form-field class="example-full-width">
                      <mat-label>Date de fin</mat-label>
                      <input matInput [matDatepicker]="pickerEnd" formControlName="endDate" required>
                      <mat-datepicker-toggle matIconSuffix [for]="pickerEnd">
                        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                      </mat-datepicker-toggle>
                      <mat-datepicker #pickerEnd></mat-datepicker>
                    </mat-form-field>
                    <div *ngIf="filterForm.get('endDate').hasError(champ_validation.input[0].type) && (filterForm.get('endDate').dirty || filterForm.get('endDate').touched)">
                      <p class="error_field">{{champ_validation.input[0].message}}</p>
                    </div>
                  </div>
                  <div class="col-2">
                    <div style="padding-top:13px;">
                      <button mat-raised-button color="primary" (click)="openApercuView();filterForm.reset()" [disabled]="filterForm.invalid"  cdkFocusInitial>Aperçu</button>
                    </div>
                  </div>
               </div>
              </form>
             </div>
          </div>
        </div>
        <mat-divider></mat-divider>
      </div><!--content-->
    </div>
    <div>
       <div>
        <form [formGroup]="timesheetForm">
          <div style="margin-bottom: 20px;">
            <div align="right">
              <button mat-raised-button color="primary" (click)="saveTime();timesheetForm.reset()" [disabled]="timesheetForm.invalid"  cdkFocusInitial>Nouveau</button>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="example-full-width">
                <mat-label>Date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="createdAt" required>
                <mat-datepicker-toggle matIconSuffix [for]="picker">
                  <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <div *ngIf="timesheetForm.get('createdAt').hasError(champ_validation.input[0].type) && (timesheetForm.get('createdAt').dirty || timesheetForm.get('createdAt').touched)">
                <p class="error_field">{{champ_validation.input[0].message}}</p>
              </div>
            </div>
            <div class="col">
              <mat-form-field class="example-full-width">
                <mat-label>Tâche</mat-label>
                <input matInput formControlName="tache">
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="example-full-width">
                <mat-label>Projet</mat-label>
                <input matInput formControlName="projet">
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="example-full-date">
                <mat-label>Heure</mat-label>
                <input type="number" matInput formControlName="heure">
              </mat-form-field>
              <!--<div *ngIf="timesheetForm.get('heure').hasError(champ_validation.input[0].type) && (timesheetForm.get('heure').dirty || timesheetForm.get('heure').touched)">
                <p class="error_field">{{champ_validation.input[0].message}}</p>
              </div>-->
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="example-full-width">
                <mat-label>Présence</mat-label>
                <mat-select matInput formControlName="presence" (selectionChange)="doSomething($event)" >
                  <mat-option value="Présent">Présent</mat-option>
                  <mat-option value="Absent">Absent</mat-option>
               </mat-select>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="example-full-width">
                <mat-label>Déplacement</mat-label>
                <mat-select matInput formControlName="deplacement" (selectionChange)="doSomethingDeplacement($event)">
                   <mat-option value="Oui">Oui</mat-option>
                   <mat-option value="Non">Non</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col" *ngIf="!isPresent">
              <mat-form-field class="example-full-width" >
                <mat-label>Motif</mat-label>
                <mat-select matInput formControlName="motifs">
                  <mat-option value="Non justifié">Non justifié</mat-option>
                  <mat-option value="RCR">RCR</mat-option>
                  <mat-option value="CP">CP</mat-option>
                  <mat-option value="Ecole">Ecole</mat-option>
                  <mat-option value="Arret maladie">Arret maladie</mat-option>
                  <mat-option value="Enfant malade">Enfant malade</mat-option>
                  <mat-option value="Déplacement">Déplacement</mat-option>
                  <mat-option value="Congé de naissance">Congé de naissance</mat-option>
                  <mat-option value="Congé d'accueil">Congé d'accueil</mat-option>
                  <mat-option value="Congé paternité">Congé paternité</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col" *ngIf="!isDeplacement">
              <mat-form-field class="example-full-width">
                <mat-label>Type déplacement</mat-label>
                <mat-select matInput formControlName="types_deplacement">
                   <mat-option value="Matin">Matin</mat-option>
                   <mat-option value="Midi">Midi</mat-option>
                   <mat-option value="Soir">Soir</mat-option>
                   <mat-option value="Journée">Journée</mat-option>
                </mat-select>
              </mat-form-field>
            </div>  
          </div>
        </form>
       </div>
       <mat-divider style="margin-bottom: 15px;"></mat-divider>
        <div class="row" style="margin-bottom: 25px;">
          <div class="col">
            <input type="text"  (keyup)="applyFilter($event)" class="form-control input-search" id="exampleFormControlInput1" placeholder="Rechercher">
          </div>
        </div>
        <table mat-table [dataSource]="dataSource">
          <!-- Position Column -->
    
           <!-- Symbol Column -->
           <ng-container matColumnDef="month">
            <th mat-header-cell *matHeaderCellDef>Mois</th>
            <td mat-cell *matCellDef="let element" style="font-size: 12px;cursor: pointer;"> {{element?.month}}</td>
          </ng-container>
    
           <!-- Weight Column -->
           <ng-container matColumnDef="year">
            <th mat-header-cell *matHeaderCellDef>Année</th>
            <td mat-cell *matCellDef="let element" style="font-size: 12px;cursor: pointer;">{{element?.year}}  </td>
          </ng-container>
    
          <!-- Name Column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Voir</th>
            <td mat-cell *matCellDef="let element" style="font-size: 12px;cursor: pointer;">
              <button mat-mini-fab color="primary" matTooltip="Détail" (click)="getTimesheet(user?._id, element?.monthInt, element?.year)">
                <mat-icon>visibility</mat-icon> 
              </button>
            </td>
          </ng-container>
    
    
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    
        <mat-paginator [pageSizeOptions]="[10, 20]"
                      showFirstLastButtons
                      aria-label="Select page of periodic elements"
                      >
        </mat-paginator>
    
    
    </div>
</app-navbar>