<app-navbar>
  <div class="topbar">
        <div class="topbar-left">
          <h1>Produit</h1>
        </div>
        <div class="topbar-right">
          <button class="topbar-btn btn-primary"  (click)="generatePDF()">La fiche technique</button>
        </div>
  </div>
  <div class="content">
    <div *ngIf="!produit">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
       </div>

       <div *ngIf="produit">
          <div class="row" style="margin-bottom: 25px;">
            <div class="col">
                <div class="product-gallery" *ngIf="images?.length">
                  <div class="main-image-wrap">
                    <button type="button" class="gallery-nav prev" (click)="previousImage()" *ngIf="images.length > 1">
                      <i class="fa-solid fa-chevron-left"></i>
                    </button>
                    <img class="main-image" [src]="images[selectedImageIndex]?.src" [alt]="images[selectedImageIndex]?.alt">
                    <button type="button" class="gallery-nav next" (click)="nextImage()" *ngIf="images.length > 1">
                      <i class="fa-solid fa-chevron-right"></i>
                    </button>
                  </div>

                  <div class="thumb-list" *ngIf="images.length > 1">
                    <button type="button"
                            class="thumb-item"
                            [class.active]="selectedImageIndex === i"
                            *ngFor="let image of images; let i = index"
                            (click)="selectImage(i)">
                      <img [src]="image.src" [alt]="image.alt">
                    </button>
                  </div>
                </div>
                <div class="product-gallery-empty" *ngIf="!images?.length">
                  Aucune image disponible
                </div>
            </div>
            <div class="col">
                <h1 class="name_details">{{produit?.name}}</h1>
                <div>
                    <h5 class="priceht" *ngIf="produit?.priceunit">€ {{produit?.priceunit | number:'1.0-0'}} HT</h5>
                </div>
                <div style="margin-bottom: 20px;">
                    <span class="pricettc" *ngIf="produit?.price">{{produit?.price | number:'1.0-0'}} € TTC</span>
                </div>
                <div class="product_detail">
                    <p [innerHTML]="produit?.resume"></p>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
                <mat-tab-group color="primary" backgroundColor="primary">
                    <mat-tab label="Description">

                       <div style="padding-top: 20px;">
                        <p [innerHTML]="produit?.description"></p>
                       </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
          </div>
       </div>
  </div>
</app-navbar>
