.name_details{
    color: #253237;
    font-size: 24px;
    text-transform: none;
}

.priceht{
    color: #555555;
    font-size: 22px;
}

.pricettc{
    font-size: 0.8125rem !important;
    color: #7a7a7a !important;
}

.product_detail{
    font-size: 0.9375rem;
    color: #666666;
    font-weight: normal;
}