<mat-dialog-content class="mat-typography">
  <div  style="padding-top: 30px;">
    <form [formGroup]="historiqueForm" *ngIf="historique">
      <!--<mat-form-field class="example-full-width">
        <mat-label>Commentaire</mat-label>
        <textarea matInput formControlName="observation" [(ngModel)]="historique.observation"></textarea>
      </mat-form-field>-->
      <editor 
                apiKey="yimjymys4ncgnyjba52651rzyas8c049jditk61x087va3yn"
                [init]="{
                  skin: 'borderless',
                  plugins: 'wordcount',
                  menubar: true,
                  height: '250',
                  language: 'fr_FR'
                }"
                formControlName="observation" [(ngModel)]="historique.observation">
      </editor>
    </form>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
   <button mat-button mat-dialog-close>Fermer</button>
   <button mat-button (click)="updateModule()" cdkFocusInitial style=" background: #09895a !important;color:#fff">Valider</button>
</mat-dialog-actions>
