<app-navbar>
    <div class="container">
      <div class="content-top">
        <h2 class="content-title">Feuille de temps : {{user?.nom}} {{user?.prenom}} - {{month}}/{{year}}</h2>
        <mat-divider></mat-divider>
      </div><!--content-->
    </div>
    <div>
       <div>
        <form [formGroup]="timesheetForm">
          <div style="margin-bottom: 20px;">
            <div align="right">
              <button mat-raised-button color="primary" (click)="saveTime();timesheetForm.reset()" [disabled]="timesheetForm.invalid"  cdkFocusInitial>Nouveau</button>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="example-full-width">
                <mat-label>Date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="createdAt" required>
                <mat-datepicker-toggle matIconSuffix [for]="picker">
                  <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <div *ngIf="timesheetForm.get('createdAt').hasError(champ_validation.input[0].type) && (timesheetForm.get('createdAt').dirty || timesheetForm.get('createdAt').touched)">
                <p class="error_field">{{champ_validation.input[0].message}}</p>
              </div>
            </div>
            <div class="col">
              <mat-form-field class="example-full-width">
                <mat-label>Tâche</mat-label>
                <input matInput formControlName="tache">
              </mat-form-field>
              <!--<div *ngIf="timesheetForm.get('tache').hasError(champ_validation.input[0].type) && (timesheetForm.get('tache').dirty || timesheetForm.get('tache').touched)">
                <p class="error_field">{{champ_validation.input[0].message}}</p>
              </div>-->
            </div>
            <div class="col">
              <mat-form-field class="example-full-width">
                <mat-label>Projet</mat-label>
                <input matInput formControlName="projet">
              </mat-form-field>
              <!--<div *ngIf="timesheetForm.get('projet').hasError(champ_validation.input[0].type) && (timesheetForm.get('projet').dirty || timesheetForm.get('projet').touched)">
                <p class="error_field">{{champ_validation.input[0].message}}</p>
              </div>-->
            </div>
        
            <div class="col">
              <mat-form-field class="example-full-date">
                <mat-label>Heure</mat-label>
                <input type="number" matInput formControlName="heure">
              </mat-form-field>
              <!--<div *ngIf="timesheetForm.get('heure').hasError(champ_validation.input[0].type) && (timesheetForm.get('heure').dirty || timesheetForm.get('heure').touched)">
                <p class="error_field">{{champ_validation.input[0].message}}</p>
              </div>-->
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="example-full-width">
                <mat-label>Présence</mat-label>
                <mat-select matInput formControlName="presence" (selectionChange)="doSomething($event)" >
                  <mat-option value="Présent">Présent</mat-option>
                  <mat-option value="Absent">Absent</mat-option>
               </mat-select>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="example-full-width">
                <mat-label>Déplacement</mat-label>
                <mat-select matInput formControlName="deplacement" (selectionChange)="doSomethingDeplacement($event)">
                   <mat-option value="Oui">Oui</mat-option>
                   <mat-option value="Non">Non</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col" *ngIf="!isPresent">
              <mat-form-field class="example-full-width" >
                <mat-label>Motif</mat-label>
                <mat-select matInput formControlName="motifs">
                   <mat-option value="Non justifié">Non justifié</mat-option>
                   <mat-option value="RCR">RCR</mat-option>
                   <mat-option value="CP">CP</mat-option>
                   <mat-option value="Ecole">Ecole</mat-option>
                   <mat-option value="Arret maladie">Arret maladie</mat-option>
                   <mat-option value="Enfant maladie">Enfant malade</mat-option>
                   <mat-option value="Déplacement">Déplacement</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col" *ngIf="!isDeplacement">
              <mat-form-field class="example-full-width">
                <mat-label>Type déplacement</mat-label>
                <mat-select matInput formControlName="types_deplacement">
                   <mat-option value="Matin">Matin</mat-option>
                   <mat-option value="Midi">Midi</mat-option>
                   <mat-option value="Soir">Soir</mat-option>
                   <mat-option value="Journée">Journée</mat-option>
                </mat-select>
              </mat-form-field>
            </div>  
          </div>
        </form>
       </div>
       <mat-divider style="margin-bottom: 15px;"></mat-divider>

       <div [hidden]="isUpdate">
        <div style="margin-bottom: 10px;">
          <div align="right"> 
            <button mat-raised-button color="accent" type="button" (click)="isCheckingUpdate()" >Modifier les lignes</button>
          </div>
        </div>
          <table mat-table [dataSource]="dataSource">
            <!-- Name Column -->
            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef class="box-header"> Date </th>
              <td mat-cell *matCellDef="let element" style="font-size: 12px;cursor: pointer;">{{element?.date}}</td>
            </ng-container>
      
            <!-- Weight Column -->
            <ng-container matColumnDef="task">
              <th mat-header-cell *matHeaderCellDef class="box-header"> Tâche </th>
              <td mat-cell *matCellDef="let element" style="font-size: 12px;cursor: pointer;">  {{element?.task}}  </td>
            </ng-container>
      
            <!-- Symbol Column -->
            <ng-container matColumnDef="project">
              <th mat-header-cell *matHeaderCellDef class="box-header">Projet</th>
              <td mat-cell *matCellDef="let element" style="font-size: 12px;cursor: pointer;"> {{element?.projet}} </td>
            </ng-container>

            <ng-container matColumnDef="deplacement">
              <th mat-header-cell *matHeaderCellDef class="box-header">Deplacement</th>
              <td mat-cell *matCellDef="let element" style="font-size: 12px;cursor: pointer;"> {{element?.deplacement}} </td>
            </ng-container>

            <ng-container matColumnDef="user">
              <th mat-header-cell *matHeaderCellDef class="box-header">Responsable</th>
              <td mat-cell *matCellDef="let element" style="font-size: 12px;cursor: pointer;"> {{element?.responsable?.nom}} {{element?.responsable?.prenom}} </td>
            </ng-container>
      
      
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
      
          <mat-paginator [pageSizeOptions]="[10, 20]"
                        showFirstLastButtons
                        aria-label="Select page of periodic elements">
          </mat-paginator>
       </div>

       <div [hidden]="!isUpdate">
        <form [formGroup]="filterForm">
          <div class="row" style="margin-bottom: 10px;">
            <div class="col">
              <p>
               <mat-form-field appearance="fill" class="month-field example-full-width">
                 <mat-label style="color: #000;">{{monthL}} {{year}}</mat-label>
                 <mat-date-range-input [rangePicker]="dp3">
                   <input matStartDate formControlName="startDate">
                   <input matEndDate  formControlName="endDate">
                 </mat-date-range-input>
                 <mat-datepicker-toggle matIconSuffix [for]="dp3"></mat-datepicker-toggle>
                 <mat-date-range-picker #dp3 disabled="false" [startAt]="fixedDate"></mat-date-range-picker>
                 <!--<mat-datepicker #dp3 disabled="false" [startAt]="fixedDate"></mat-datepicker>-->
               </mat-form-field>
              </p>
            </div>
            <div class="col">
             <div align="right">
               <div style="padding-top:21px;"> 
                 <button mat-raised-button color="primary" type="button" (click)="filterTime()" [disabled]="filterForm.invalid" cdkFocusInitial style="margin-right: 10px;">Filtre</button>
                 <button mat-raised-button color="warn" type="button" (click)="isCheckAllTime()" *ngIf="isFilter">Tous</button>
                 <button mat-raised-button color="accent" type="button" (click)="isCheckingUpdate()">Tableau</button>
               </div>
             </div>
            </div>
         </div>
        </form>
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col" class="th-devis" style="text-align: center;">Date</th>
                <th scope="col" class="th-devis" style="text-align: right;">Tâche</th>
                <th scope="col" class="th-devis" style="text-align: center;">Projet</th>
                <!--<th scope="col" class="th-devis" style="text-align: right;">Deplacement</th>-->
                <th scope="col" class="th-devis" style="text-align: right;">Heure</th>
                <th scope="col" class="th-devis" style="text-align: right;">Action</th>
              </tr>
            </thead>
        </table>
        <div>
            <form [formGroup]="updatetimesheetForm" *ngIf="!isFilter">
                <div [formArrayName]="'formArrayName'">
                    <div *ngFor="let m of timesheet; let i=index">
                        <div [formGroupName]="i">
                            <div class="row">
                                <div class="col-2">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Date</mat-label>
                                        <input matInput [matDatepicker]="picker1" formControlName="createdAt" id="m.date"  value="{{m.date}}" required>
                                        <mat-datepicker-toggle matIconSuffix [for]="picker1">
                                          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #picker1></mat-datepicker>
                                      </mat-form-field>
                                </div>
                                <div class="col">
                                  <mat-form-field class="example-full-width">
                                      <mat-label>Tâche</mat-label>
                                      <input matInput formControlName="tache" id="m.tache"  value="{{m.tache}}">
                                  </mat-form-field>
                               </div>
                                <div class="col">
                                  <mat-form-field class="example-full-width">
                                      <mat-label>Projet</mat-label>
                                      <input matInput formControlName="projet" id="m.projet"  value="{{m.projet}}">
                                  </mat-form-field>
                                </div>
                               
                              <!--<div class="col">
                                <mat-form-field class="example-full-width">
                                  <mat-label>Deplacement</mat-label>
                                  <mat-select matInput formControlName="deplacement" id="m.deplacement"  value="{{m.deplacement}}">
                                     <mat-option value="Oui">Oui</mat-option>
                                     <mat-option value="Non">Non</mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </div>-->
                              <div class="col">
                                <div class="row">
                                  <div class="col-6">
                                     <mat-form-field class="example-full-date">
                                         <mat-label>Heure</mat-label>
                                         <input type="number" matInput formControlName="heure" id="m.heure"  value="{{m.heure}}" >
                                       </mat-form-field>
                                 </div>
                                 <div class="col-6">
                                   <div align="right" style="padding-top: 5px;">
                                     <button mat-icon-button color="primary"  style="margin-right: 2px;" (click)="onSubmit(i,m?.id)" matTooltip="Modifier">
                                       <mat-icon>edit</mat-icon>
                                     </button>
                                     <button mat-icon-button color="warn" (click)="openDialogDelete(m?.id,i)"  matTooltip="Supprimer">
                                       <mat-icon>delete</mat-icon>
                                     </button>
                                   </div>
                                 </div>
                               </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-2">
                                <mat-form-field class="example-full-width">
                                  <mat-label>Présence</mat-label>
                                  <mat-select matInput formControlName="presence" id="m.projet"  value="{{m.presence}}">
                                    <mat-option value="Présent">Présent</mat-option>
                                    <mat-option value="Absent">Absent</mat-option>
                                 </mat-select>
                                </mat-form-field>
                              </div>
                              <div class="col">
                                <mat-form-field class="example-full-width">
                                  <mat-label>Deplacement</mat-label>
                                  <mat-select matInput formControlName="deplacement" id="m.deplacement"  value="{{m.deplacement}}">
                                     <mat-option value="Oui">Oui</mat-option>
                                     <mat-option value="Non">Non</mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </div>
                              <div class="col">
                                <mat-form-field class="example-full-width" >
                                  <mat-label>Motif</mat-label>
                                  <mat-select matInput formControlName="motifs" id="m.motifs"  value="{{m.motifs}}">
                                     <mat-option value="Non justifié">Non justifié</mat-option>
                                     <mat-option value="RCR">RCR</mat-option>
                                     <mat-option value="CP">CP</mat-option>
                                     <mat-option value="Ecole">Ecole</mat-option>
                                     <mat-option value="Arret maladie">Arret maladie</mat-option>
                                     <mat-option value="Enfant maladie">Enfant malade</mat-option>
                                     <mat-option value="Déplacement">Déplacement</mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </div>
                            <div class="col">
                              <mat-form-field class="example-full-width">
                                <mat-label>Type déplacement</mat-label>
                                <mat-select matInput formControlName="types_deplacement" id="m.types_deplacement"  value="{{m.types_deplacement}}">
                                   <mat-option value="Matin">Matin</mat-option>
                                   <mat-option value="Midi">Midi</mat-option>
                                   <mat-option value="Soir">Soir</mat-option>
                                   <mat-option value="Journée">Journée</mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                            </div>
                        </div>
                        <mat-divider style="margin-bottom: 10px;"></mat-divider>
                    </div>
                </div>
            </form>

            <form [formGroup]="updatetimesheetForm" *ngIf="isFilter">
              <div [formArrayName]="'formArrayName'">
                  <div *ngFor="let m of filteredTimes; let i=index">
                      <div [formGroupName]="i">
                          <!--<div class="row">
                              <div class="col-2">
                                  <mat-form-field class="example-full-width">
                                      <mat-label>Date</mat-label>
                                      <input matInput [matDatepicker]="picker1" formControlName="createdAt" id="m.date"  value="{{m.date}}" required>
                                      <mat-datepicker-toggle matIconSuffix [for]="picker1">
                                        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                                      </mat-datepicker-toggle>
                                      <mat-datepicker #picker1></mat-datepicker>
                                    </mat-form-field>
                              </div>
                              <div class="col">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Projet</mat-label>
                                    <input matInput formControlName="projet" id="m.projet"  value="{{m.tache}}">
                                </mat-form-field>
                              </div>
                              <div class="col">
                                  <mat-form-field class="example-full-width">
                                      <mat-label>Tâche</mat-label>
                                      <input matInput formControlName="tache" id="m.tache"  value="{{m.tache}}">
                                  </mat-form-field>
                              </div>
                              <div class="col">
                                <mat-form-field class="example-full-width">
                                  <mat-label>Deplacement</mat-label>
                                  <mat-select matInput formControlName="deplacement" id="m.deplacement"  value="{{m.deplacement}}">
                                     <mat-option value="Oui">Oui</mat-option>
                                     <mat-option value="Non">Non</mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </div>
                              <div class="col">
                                <div class="row">
                                  <div class="col-6">
                                     <mat-form-field class="example-full-date">
                                         <mat-label>Heure</mat-label>
                                         <input type="number" matInput formControlName="heure" id="m.heure"  value="{{m.heure}}"  required>
                                       </mat-form-field>
                                 </div>
                                 <div class="col-6">
                                   <div align="right" style="padding-top: 5px;">
                                     <button mat-icon-button color="primary"  style="margin-right: 2px;" (click)="onSubmit(i,m?.id)" matTooltip="Modifier">
                                       <mat-icon>edit</mat-icon>
                                     </button>
                                     <button mat-icon-button color="warn" (click)="openDialogDelete(m?.id,i)"  matTooltip="Supprimer">
                                       <mat-icon>delete</mat-icon>
                                     </button>
                                   </div>
                                 </div>
                               </div>
                              </div>
                              
                          </div>-->
                          <div class="row">
                              <div class="col-2">
                                  <mat-form-field class="example-full-width">
                                      <mat-label>Date</mat-label>
                                      <input matInput [matDatepicker]="picker1" formControlName="createdAt" id="m.date"  value="{{m.date}}" required>
                                      <mat-datepicker-toggle matIconSuffix [for]="picker1">
                                        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                                      </mat-datepicker-toggle>
                                      <mat-datepicker #picker1></mat-datepicker>
                                    </mat-form-field>
                              </div>
                              <div class="col">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Tâche</mat-label>
                                    <input matInput formControlName="tache" id="m.tache"  value="{{m.tache}}">
                                </mat-form-field>
                            </div>
                              <div class="col">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Projet</mat-label>
                                    <input matInput formControlName="projet" id="m.projet"  value="{{m.projet}}">
                                </mat-form-field>
                              </div>
                            
                            <!--<div class="col">
                              <mat-form-field class="example-full-width">
                                <mat-label>Deplacement</mat-label>
                                <mat-select matInput formControlName="deplacement" id="m.deplacement"  value="{{m.deplacement}}">
                                  <mat-option value="Oui">Oui</mat-option>
                                  <mat-option value="Non">Non</mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>-->
                            <div class="col">
                              <div class="row">
                                <div class="col-6">
                                  <mat-form-field class="example-full-date">
                                      <mat-label>Heure</mat-label>
                                      <input type="number" matInput formControlName="heure" id="m.heure"  value="{{m.heure}}" >
                                    </mat-form-field>
                              </div>
                              <div class="col-6">
                                <div align="right" style="padding-top: 5px;">
                                  <button mat-icon-button color="primary"  style="margin-right: 2px;" (click)="onSubmit(i,m?.id)" matTooltip="Modifier">
                                    <mat-icon>edit</mat-icon>
                                  </button>
                                  <button mat-icon-button color="warn" (click)="openDialogDelete(m?.id,i)"  matTooltip="Supprimer">
                                    <mat-icon>delete</mat-icon>
                                  </button>
                                </div>
                              </div>
                            </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-2">
                              <mat-form-field class="example-full-width">
                                <mat-label>Présence</mat-label>
                                <mat-select matInput formControlName="presence" id="m.projet"  value="{{m.presence}}">
                                  <mat-option value="Présent">Présent</mat-option>
                                  <mat-option value="Absent">Absent</mat-option>
                              </mat-select>
                              </mat-form-field>
                            </div>
                            <div class="col">
                              <mat-form-field class="example-full-width">
                                <mat-label>Deplacement</mat-label>
                                <mat-select matInput formControlName="deplacement" id="m.deplacement"  value="{{m.deplacement}}">
                                  <mat-option value="Oui">Oui</mat-option>
                                  <mat-option value="Non">Non</mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                            <div class="col">
                              <mat-form-field class="example-full-width" >
                                <mat-label>Motif</mat-label>
                                <mat-select matInput formControlName="motifs" id="m.motifs"  value="{{m.motifs}}">
                                  <mat-option value="Non justifié">Non justifié</mat-option>
                                  <mat-option value="RCR">RCR</mat-option>
                                  <mat-option value="CP">CP</mat-option>
                                  <mat-option value="Ecole">Ecole</mat-option>
                                  <mat-option value="Arret maladie">Arret maladie</mat-option>
                                  <mat-option value="Enfant maladie">Enfant malade</mat-option>
                                  <mat-option value="Déplacement">Déplacement</mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                          <div class="col">
                            <mat-form-field class="example-full-width">
                              <mat-label>Type déplacement</mat-label>
                              <mat-select matInput formControlName="types_deplacement" id="m.types_deplacement"  value="{{m.types_deplacement}}">
                                <mat-option value="Matin">Matin</mat-option>
                                <mat-option value="Midi">Midi</mat-option>
                                <mat-option value="Soir">Soir</mat-option>
                                <mat-option value="Journée">Journée</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                          </div>
                      </div>
                      <mat-divider style="margin-bottom: 10px;"></mat-divider>
                  </div>
              </div>
          </form>
        </div>
       </div>
    </div>
</app-navbar>