<app-navbar></app-navbar>
<div class="container">
  <div class="content-top">
    <div class="row" style="margin-bottom: 30px;">

       <div class="col">
           <div class="row">
            <div class="col">
              <p class="title-projet-page">Nom du Projet  <button class="btn" type="button" [routerLink]="['/metre']"> - Métrés - Batiment </button></p>
            </div>
           </div><!--row-->
       </div><!--col-->
    </div><!--row-->

    <div>
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <button class="nav-link tabprojet active" id="nav-file-tab" data-bs-toggle="tab" data-bs-target="#nav-file" type="button" role="tab" aria-controls="nav-file" aria-selected="true">RDC</button>
          <button class="nav-link tabprojet" id="nav-int-tab" data-bs-toggle="tab" data-bs-target="#nav-int" type="button" role="tab" aria-controls="nav-int" aria-selected="false">R+1</button>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-file" role="tabpanel" aria-labelledby="nav-file-tab" tabindex="0">
          <div class="container">

            <div class="content-top-child">
              <div class="row">
                <div class="col-md-7">
                  <p class="lot-title">Détails par Module de Type <i class="fa-solid fa-circle-plus"></i></p>
                  <table class="table table-bordered">
                    <thead>
                      <tr class="title-tab">
                        <th scope="col" style="font-weight:normal;">Type</th>
                        <th scope="col" style="font-weight:normal;">Description</th>
                        <th scope="col" style="font-weight:normal;">Longueur</th>
                        <th scope="col" style="font-weight:normal;">Largeur</th>
                        <th scope="col" style="font-weight:normal;">surface</th>
                        <th scope="col" style="font-weight:normal;">Périmètre</th>
                        <th scope="col" style="font-weight:normal;">Nbr Module</th>
                        <th scope="col" style="font-weight:normal;">S total Module</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="title-tab" style="cursor:pointer;">
                        <td>Type 1</td>
                        <td>20</td>
                        <td>2,44</td>
                        <td>6,3</td>
                        <td>15,372</td>
                        <td>17,48</td>
                        <td>11</td>
                        <td>169,092</td>
                      </tr>
                    </tbody>
                  </table>

                </div><!--col-->
                <div class="col-md-5">
                  <p class="lot-title">Composition <i class="fa-solid fa-circle-plus"></i></p>

                  <mat-accordion>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          Bureau
                        </mat-panel-title>
                      </mat-expansion-panel-header>

                      <div style="padding-top: 20px;">
                        <p class="dot-box-title"  [routerLink]="['/appartement']">Voir Tout >>></p>
                        <table class="table table-bordered">
                          <thead>
                            <tr class="title-tab">
                              <th scope="col" style="font-weight:normal;">Longueur</th>
                              <th scope="col" style="font-weight:normal;">Largeur</th>
                              <th scope="col" style="font-weight:normal;">surface</th>
                              <th scope="col" style="font-weight:normal;">Nbr Module</th>
                              <th scope="col" style="font-weight:normal;">Type Modules</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr class="title-tab" style="cursor:pointer;">
                              <td>8,04</td>
                              <td>17,59</td>
                              <td>12</td>
                              <td>6</td>
                              <td>24</td>
                            </tr>
                            <tr class="title-tab" style="cursor:pointer;">
                              <td>8,04</td>
                              <td>17,59</td>
                              <td>12</td>
                              <td>6</td>
                              <td>18</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>

                    </mat-expansion-panel>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          Sanitaire
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <div style="padding-top: 20px;">
                        <p class="dot-box-title" [routerLink]="['/appartement']">Voir Tout >>></p>
                        <table class="table table-bordered">
                          <thead>
                            <tr class="title-tab">
                              <th scope="col" style="font-weight:normal;">Longueur</th>
                              <th scope="col" style="font-weight:normal;">Largeur</th>
                              <th scope="col" style="font-weight:normal;">surface</th>
                              <th scope="col" style="font-weight:normal;">Nbr Module</th>
                              <th scope="col" style="font-weight:normal;">Type Modules</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr class="title-tab" style="cursor:pointer;">
                              <td>8,04</td>
                              <td>17,59</td>
                              <td>12</td>
                              <td>6</td>
                              <td>24</td>
                            </tr>
                            <tr class="title-tab" style="cursor:pointer;">
                              <td>8,04</td>
                              <td>17,59</td>
                              <td>12</td>
                              <td>6</td>
                              <td>18</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </mat-expansion-panel>
                  </mat-accordion>


                </div><!--col-->
              </div>
            </div>

          </div>
        </div><!--tab1-->
        <div class="tab-pane fade" id="nav-int" role="tabpanel" aria-labelledby="nav-int-tab" tabindex="0">
          <div class="container">

            <div class="content-top-child">
              <div class="row">
                <div class="col-md-7">
                  <p class="lot-title">Détails par Module de Type <i class="fa-solid fa-circle-plus"></i></p>
                  <table class="table table-bordered">
                    <thead>
                      <tr class="title-tab">
                        <th scope="col" style="font-weight:normal;">Type</th>
                        <th scope="col" style="font-weight:normal;">Description</th>
                        <th scope="col" style="font-weight:normal;">Longueur</th>
                        <th scope="col" style="font-weight:normal;">Largeur</th>
                        <th scope="col" style="font-weight:normal;">surface</th>
                        <th scope="col" style="font-weight:normal;">Périmètre</th>
                        <th scope="col" style="font-weight:normal;">Nbr Module</th>
                        <th scope="col" style="font-weight:normal;">S total Module</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="title-tab" style="cursor:pointer;">
                        <td>Type 1</td>
                        <td>20</td>
                        <td>2,44</td>
                        <td>6,3</td>
                        <td>15,372</td>
                        <td>17,48</td>
                        <td>11</td>
                        <td>169,092</td>
                      </tr>
                    </tbody>
                  </table>

                </div><!--col-->
                <div class="col-md-5">
                  <p class="lot-title">Composition <i class="fa-solid fa-circle-plus"></i></p>
                  <mat-accordion>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          Bureau
                        </mat-panel-title>
                      </mat-expansion-panel-header>

                      <div style="padding-top: 20px;">
                        <p class="dot-box-title" [routerLink]="['/appartement']">Voir Tout >>></p>
                        <table class="table table-bordered">
                          <thead>
                            <tr class="title-tab">
                              <th scope="col" style="font-weight:normal;">Longueur</th>
                              <th scope="col" style="font-weight:normal;">Largeur</th>
                              <th scope="col" style="font-weight:normal;">surface</th>
                              <th scope="col" style="font-weight:normal;">Nbr Module</th>
                              <th scope="col" style="font-weight:normal;">Type Modules</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr class="title-tab" style="cursor:pointer;">
                              <td>8,04</td>
                              <td>17,59</td>
                              <td>12</td>
                              <td>6</td>
                              <td>24</td>
                            </tr>
                            <tr class="title-tab" style="cursor:pointer;">
                              <td>8,04</td>
                              <td>17,59</td>
                              <td>12</td>
                              <td>6</td>
                              <td>18</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>

                    </mat-expansion-panel>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          Sanitaire
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <div style="padding-top: 20px;">
                        <p class="dot-box-title" [routerLink]="['/appartement']">Voir Tout >>></p>
                        <table class="table table-bordered">
                          <thead>
                            <tr class="title-tab">
                              <th scope="col" style="font-weight:normal;">Longueur</th>
                              <th scope="col" style="font-weight:normal;">Largeur</th>
                              <th scope="col" style="font-weight:normal;">surface</th>
                              <th scope="col" style="font-weight:normal;">Nbr Module</th>
                              <th scope="col" style="font-weight:normal;">Type Modules</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr class="title-tab" style="cursor:pointer;">
                              <td>8,04</td>
                              <td>17,59</td>
                              <td>12</td>
                              <td>6</td>
                              <td>24</td>
                            </tr>
                            <tr class="title-tab" style="cursor:pointer;">
                              <td>8,04</td>
                              <td>17,59</td>
                              <td>12</td>
                              <td>6</td>
                              <td>18</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </mat-expansion-panel>
                  </mat-accordion>


                </div><!--col-->
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div><!--content-->
</div>

