.headerMenu{
    box-shadow: var(--shadow4, 0 0 2px var(--shadowAmbient, rgba(0, 0, 0, 0.12)), 0 2px 4px var(--shadowKey, rgba(0, 0, 0, 0.14))) !important;
    height: 48px !important;
    background-color: #F0F0F0 !important;
}

.mlka-user{
  color: #242424;
  line-height: 48px;
  background: transparent;
  border-width: 0;
  width: auto;
  height: 100%;
  box-sizing: border-box;
  overflow: visible;
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  text-align: center;
  outline-offset: -1px;
}
