<app-navbar>
    <div class="container">
      <div class="content-top">
        <div class="row" style="margin-bottom: 10px;">
          <div class="col-5">
            <h2 class="welcome-title">Feuille de temps</h2>
          </div>
          <div class="col">
             <div align="right">
              <form [formGroup]="filterForm">
                <div class="row">
                  <div class="col">
                    <mat-form-field class="example-full-width">
                      <mat-label>Mois</mat-label>
                      <mat-select matInput formControlName="startDate">
                         <mat-option  *ngFor="let month of months" [value]="month?.value">{{month?.name}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <div *ngIf="filterForm.get('startDate').hasError(champ_validation.input[0].type) && (filterForm.get('startDate').dirty || filterForm.get('startDate').touched)">
                      <p class="error_field">{{champ_validation.input[0].message}}</p>
                    </div>
                  </div>
                  <div class="col">
                    <mat-form-field class="example-full-width">
                      <mat-label>Année</mat-label>
                      <mat-select matInput formControlName="endDate">
                         <mat-option value="2024">2024</mat-option>
                         <mat-option value="2025">2025</mat-option>
                         <mat-option value="2026">2026</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <div *ngIf="filterForm.get('endDate').hasError(champ_validation.input[0].type) && (filterForm.get('endDate').dirty || filterForm.get('endDate').touched)">
                      <p class="error_field">{{champ_validation.input[0].message}}</p>
                    </div>
                  </div>
                  <div class="col-2">
                    <div style="padding-top:13px;">
                      <button mat-raised-button color="primary" (click)="downloadFile();filterForm.reset()" [disabled]="filterForm.invalid"  cdkFocusInitial>Télécharger</button>
                    </div>
                  </div>
               </div>
              </form>
             </div>
          </div>
        </div>
        <mat-divider></mat-divider>
      </div><!--content-->
    </div>
    <div>
      <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
      <mat-tab label="Feuille de présence">
        <div style="padding-top: 30px;">

          <table mat-table [dataSource]="dataSourceTimes">
            <!-- Position Column -->

            <!-- Symbol Column -->
            <ng-container matColumnDef="employe">
              <th mat-header-cell *matHeaderCellDef class="tableau-title">Employé</th>
              <td mat-cell *matCellDef="let element" style="font-size: 12px;cursor: pointer;"> {{element?.user}}</td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="projet">
              <th mat-header-cell *matHeaderCellDef class="tableau-title">Projet</th>
              <td mat-cell *matCellDef="let element" style="font-size: 12px;cursor: pointer;">{{element?.projet}}  </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="debut">
              <th mat-header-cell *matHeaderCellDef class="tableau-title">Heure de début</th>
              <td mat-cell *matCellDef="let element" style="font-size: 12px;cursor: pointer;">
                {{element?.debut}}
              </td>
            </ng-container>

            <ng-container matColumnDef="pause">
              <th mat-header-cell *matHeaderCellDef class="tableau-title">Heure de pause</th>
              <td mat-cell *matCellDef="let element" style="font-size: 12px;cursor: pointer;">
                {{element?.pause}}
              </td>
            </ng-container>

            <ng-container matColumnDef="fin">
              <th mat-header-cell *matHeaderCellDef class="tableau-title">Heure de fin</th>
              <td mat-cell *matCellDef="let element" style="font-size: 12px;cursor: pointer;">
                {{element?.fin}}
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsTimes"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsTimes;"></tr>
          </table>

          <mat-paginator #paginatorTime [pageSizeOptions]="[10, 20]"
                        showFirstLastButtons
                        aria-label="Select page of periodic elements"
                        >
          </mat-paginator>

        </div>
      </mat-tab>
      <mat-tab label="Feuille de présence par employés ">
        <div style="padding-top: 30px;">
           <div class="row" style="margin-bottom: 35px;">
            <div class="col">
              <input type="text"  (keyup)="applyFilter($event)" class="search-input" id="exampleFormControlInput1" placeholder="Rechercher">
            </div>
            <div class="col"  align="right">
            </div>
          </div>

          <table mat-table [dataSource]="dataSource">
            <!-- Position Column -->

            <!-- Symbol Column -->
            <ng-container matColumnDef="nom">
              <th mat-header-cell *matHeaderCellDef class="tableau-title">Nom</th>
              <td mat-cell *matCellDef="let element" style="font-size: 12px;cursor: pointer;"> {{element?.nom}} {{element?.prenom}}</td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef class="tableau-title">Email</th>
              <td mat-cell *matCellDef="let element" style="font-size: 12px;cursor: pointer;">{{element?.email}}  </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef class="tableau-title">Feuille de temps</th>
              <td mat-cell *matCellDef="let element" style="font-size: 12px;cursor: pointer;">
                <button mat-mini-fab color="primary" matTooltip="Détail" (click)="getTimesheet(element?.id)">
                  <mat-icon>visibility</mat-icon>
                </button>
              </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

          <mat-paginator #paginator [pageSizeOptions]="[10, 20]"
                        showFirstLastButtons
                        aria-label="Select page of periodic elements"
                        >
          </mat-paginator>
        </div>



      </mat-tab>
    </mat-tab-group>

    </div>
</app-navbar>
