<div class="container">
  <div class="row" style="margin-bottom: 20px;">
     <div class="col">
      <div *ngIf="position?.position">
         <!--<iframe src="https://maps.google.com/maps?q={{localisation?.latitude}},{{localisation?.longitude}}&hl=es;z=14&amp;output=embed" style="border:0;width: 100%;height: 450px;" allowfullscreen="" loading="lazy"></iframe>-->
         <iframe  width="100%"  height="450" style="border:0;" loading="lazy" [src]="local">
         </iframe>
      </div>
      <div *ngIf="!position?.position">
         <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2618.9424619896226!2d2.5078592757248828!3d48.97361967134805!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e614ffd9cdbd83%3A0x3d2bb5dfb174bbe!2s18%20Pl.%20des%20Nymph%C3%A9as%2C%2093420%20Villepinte%2C%20France!5e0!3m2!1sfr!2ssn!4v1702491580081!5m2!1sfr!2ssn" style="border:0;width: 100%;height: 450px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
     </div>
     <div class="col-4">
        <h3 class="titleP">Les positions</h3>
        <mat-divider style="margin-bottom: 10px;"></mat-divider>
        <div *ngFor="let projet of modules" style="cursor: pointer;" (click)="getPosition(projet?._id)">
            <div [ngClass]="{'active':activeProjectId===projet?._id}" style="margin-bottom: 5px;">
               <p style="font-weight: 600;">Projet: {{projet?.projet?.projet}}</p>
               <p style="font-size: 12px;color: #858585;">Date: {{projet?.dateLastUpdate | date:'d MMM y à HH:mm'}}</p>
            </div>
            <mat-divider style="margin-bottom: 10px;"></mat-divider>
        </div>
     </div>
  </div>
</div>

