.titleP{
    text-align: center;
    color: #0b02ab;
    font-weight: 500;
}

.active {
    background-color: #d3d3d3; /* Couleur de fond pour l'élément actif */
    border-radius: 5px;
    padding: 10px;
  }