<app-navbar>
  <div class="container">

    <div>
      <h2 class="content-title">Bienvenu(e)</h2>
      <h2>MLKA</h2>

    </div><!--content-->
    <div class="content-top">
      <mat-card style="border-radius: 9px;">
        <mat-card-content>
           <div class="row">
             <div class="col">
               <mat-card class="card1">
                <mat-card-content>
                  <div align="center" style="margin-bottom: 35px">
                    <a href="https://mlka-market.com/" target="_blank">
                     <button mat-stroked-button class="btncard1"><i class="fa-solid fa-store"></i> Produits</button>
                    </a>
                  </div>
                  <div align="center" style="margin-bottom: 40px">
                    <img src="assets/images/d1.png">
                  </div>
                  <p style="color: #fff;text-align: center;font-weight: 800;">
                    Réalisez vos projets de construction, bloc par bloc, avec MLKA MARKET.
                  </p>
                </mat-card-content>
               </mat-card>
             </div><!--col-->
             <div class="col">
              <mat-card class="card2">
                <mat-card-content>
                  <div align="center" style="margin-bottom: 35px">
                    <a href="https://mlka-innov.fr/" target="_blank"><button mat-stroked-button class="btncard2"><i class="fa-solid fa-lightbulb"></i> Reinventer</button></a>
                  </div>
                  <div align="center" style="margin-bottom: 40px">
                    <img src="assets/images/d2.png">
                  </div>
                  <p style="color: #fff;text-align: center;font-weight: 800;">
                    Du neuf à la rénovation, créez l'espace parfait avec MLKA INNOVATION.
                  </p>
                </mat-card-content>
               </mat-card>
             </div><!--col-->
             <div class="col">
              <mat-card class="card3">
                <mat-card-content>
                  <div align="center" style="margin-bottom: 35px">
                    <a href="https://mlka-hld.fr/" target="_blank">
                     <button mat-stroked-button class="btncard2"><i class="fa-solid fa-lightbulb"></i> Services</button>
                    </a>
                  </div>
                  <div align="center" style="margin-bottom: 40px">
                    <img src="assets/images/d4.png">
                  </div>
                  <p style="color: #fff;text-align: center;font-weight: 800;">
                    Construisez l'avenir, modulez vos rêves, et réinventez l'espace avec MLKA.
                  </p>
                </mat-card-content>
               </mat-card>
             </div><!--col-->
           </div>
        </mat-card-content>
      </mat-card>
    </div>

    <!--<div class="type-projet">
      <div class="row">
        <div class="col">
          <div class="card content-card">
            <div class="card-body">
              <p class="number-card">5</p>
              <p class="title-card">PROJETS</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card content-card">
            <div class="card-body">
              <p class="number-card">3</p>
              <p class="title-card">PROJET EN ETUDE</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card content-card">
            <div class="card-body">
              <p class="number-card">4</p>
              <p class="title-card">MODULE LOUE</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card content-card">
            <div class="card-body">
              <p class="number-card">5</p>
              <p class="title-card">MODULE DISPONIBLE</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card content-card">
            <div class="card-body">
              <p class="number-card">3</p>
              <p class="title-card">MOBILIER DISPONIBLE</p>
            </div>
          </div>
        </div>
      </div>
    </div>-->

    <mat-divider style="margin-bottom: 30px;"></mat-divider>

    <div class="list-projet">
      <div class="row">
        <div class="col-2">
          <p class="list-search-projet">Liste des Projets</p>
        </div><!--col-->
        <div class="col-2">
          <select class="form-select input-search" aria-label="Default select example"  (keyup)="applyFilter($event)">
            <option selected>Type Service</option>
            <option value="Installation">Installation</option>
            <option value="Désinstallation">Désinstallation</option>
            <option value="Remise aux normes">Remise aux normes</option>
          </select>
        </div><!--col-->
        <div class="col-2">
          <select class="form-select input-search" aria-label="Default select example"  (keyup)="applyFilter($event)">
            <option selected>Etat</option>
            <option value="En attente">En attente</option>
            <option value="En cours">En cours</option>
            <option value="Clôturé">Clôturé</option>
          </select>
        </div><!--col-->
        <div class="col-2">
          <input type="date" class="form-control input-search" id="exampleFormControlInput1" placeholder="Date"  (keyup)="applyFilter($event)">
        </div><!--col-->
        <div class="col">
          <input type="text" class="form-control input-search" id="exampleFormControlInput1" placeholder="Rechercher par nom de projet"  (keyup)="applyFilter($event)">
        </div><!--col-->
      </div><!--row-->
    </div><!--search projets-->

    <div class="bloc-new-projet">
      <div align="right">
        <button type="button" class="btn" style="margin-right: 10px;" matTooltip="Tableau" *ngIf="!isListe" (click)="getList()"><i class="fa-solid fa-table btn-icon-projet"></i></button>
        <button type="button" class="btn" style="margin-right: 10px;" matTooltip="Liste" *ngIf="isListe" (click)="getList()"><i class="fa-solid fa-grip btn-icon-projet"></i></button>
        <button type="button" class="btn btn-projet" [routerLink]="['/add/projet']"><i class="fa-solid fa-plus"></i> Nouveau Projet</button>
     </div>
    </div><!--new-projet-->

    <div class="bloc-projets" *ngIf="!projets.length">
      <p class="notdata">Aucune donnée(s)</p>
    </div>

    <div class="bloc-projets" *ngIf="projets.length">

      <div class="row" *ngIf="!isListe">
        <div class="col-3" *ngFor="let projet of projets" style="margin-bottom: 15px;">
          <div class="card card-projet">
            <img src="data:image/png;base64,{{projet?.photo}}" *ngIf="projet?.photo" class="card-img-projet" alt="...">
            <img src="assets/images/pr.png" *ngIf="!projet?.photo" class="card-img-projet" alt="...">
            <!--<div class="etat-projet">
              <span class="label-projet">{{projet?.devise}}</span>
            </div>-->
            <div class="progress progress-projet" role="progressbar" aria-label="Basic example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar" [ngStyle]="{'width': (projet?.etat=='En attente') ? '0%' : (projet?.etat=='En cours') ? '50%' : (projet?.etat=='Clôturé') ? '100%' : '0%'}"></div>
            </div>
            <div class="card-body">
              <p class="title-projet">{{projet?.projet}}</p>
              <p align="center">
                <button type="button" class="btn btn-outline-secondary btn-detail-projet" (click)="getProjet(projet._id)">Détail</button>
              </p>
            </div>
          </div>
        </div><!--col-->
      </div><!--row-->

      <div  *ngIf="isListe">

        <table mat-table [dataSource]="dataSource">

          <!-- Position Column -->
          <ng-container matColumnDef="nom">
            <th mat-header-cell *matHeaderCellDef> Projet </th>
            <td mat-cell *matCellDef="let element" style="cursor: pointer;font-size: 12px;"> {{element?.nom}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="entreprise">
            <th mat-header-cell *matHeaderCellDef> Entreprise </th>
            <td mat-cell *matCellDef="let element" style="font-size: 12px;cursor: pointer;">{{element?.entreprise}}</td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="etat">
            <th mat-header-cell *matHeaderCellDef> Statut </th>
            <td mat-cell *matCellDef="let element" style="font-size: 12px;cursor: pointer;">  {{element?.etat}}  </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="limite">
            <th mat-header-cell *matHeaderCellDef>Date limite</th>
            <td mat-cell *matCellDef="let element" style="font-size: 12px;cursor: pointer;"> {{element?.limite |date: 'dd/MM/YYYY'}} </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Détail</th>
            <td mat-cell *matCellDef="let element">  <button type="button" class="btn btn-outline-secondary btn-detail-projet" (click)="getProjet(element?.id)">Détail</button> </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[10, 20]"
                      showFirstLastButtons
                      aria-label="Select page of periodic elements">
        </mat-paginator>


      </div>

    </div><!--projets-->


  </div><!--container-->
</app-navbar>





