<app-navbar></app-navbar>
<div class="container">

  <div class="content-top">
    <h2 class="content-title">Tableau de Bord</h2>
  </div><!--content-->

  <div class="type-projet">
    <div class="row">
      <div class="col">
        <div class="card content-card">
          <div class="card-body">
            <p class="number-card">5</p>
            <p class="title-card">PROJETS</p>
          </div>
        </div>
      </div><!--col-->
      <div class="col">
        <div class="card content-card">
          <div class="card-body">
            <p class="number-card">3</p>
            <p class="title-card">PROJET EN ETUDE</p>
          </div>
        </div>
      </div><!--col-->
      <div class="col">
        <div class="card content-card">
          <div class="card-body">
            <p class="number-card">4</p>
            <p class="title-card">MODULE LOUE</p>
          </div>
        </div>
      </div><!--col-->
      <div class="col">
        <div class="card content-card">
          <div class="card-body">
            <p class="number-card">5</p>
            <p class="title-card">MODULE DISPONIBLE</p>
          </div>
        </div>
      </div><!--col-->
      <div class="col">
        <div class="card content-card">
          <div class="card-body">
            <p class="number-card">3</p>
            <p class="title-card">MOBILIER DISPONIBLE</p>
          </div>
        </div>
      </div><!--col-->
    </div><!--row-->
  </div><!--type projets-->

  <div class="list-projet">
    <div class="row">
      <div class="col-2">
        <p class="list-search-projet">Liste des Projets</p>
      </div><!--col-->
      <div class="col-2">
        <select class="form-select input-search" aria-label="Default select example">
          <option selected>Type Service</option>
          <option value="1">Installation</option>
          <option value="2">Désinstallation</option>
          <option value="3">Remise aux normes</option>
        </select>
      </div><!--col-->
      <div class="col-2">
        <select class="form-select input-search" aria-label="Default select example">
          <option selected>Etat</option>
          <option value="1">En cour</option>
          <option value="2">Clôturé</option>
          <option value="3">En attente</option>
        </select>
      </div><!--col-->
      <div class="col-2">
        <input type="date" class="form-control input-search" id="exampleFormControlInput1" placeholder="Date">
      </div><!--col-->
      <div class="col">
        <input type="text" class="form-control input-search" id="exampleFormControlInput1" placeholder="Rechercher par nom de projet, localisation...">
      </div><!--col-->
    </div><!--row-->
  </div><!--search projets-->

  <div class="bloc-new-projet">
    <div align="right">
      <button type="button" class="btn"><i class="fas fa-th-large btn-icon-projet"></i></button>
      <button type="button" class="btn btn-projet" [routerLink]="['/add/projet']"><i class="fa-solid fa-plus"></i> Nouveau Projet</button>
   </div>
  </div><!--new-projet-->

  <div class="bloc-projets">
    <div class="row">
      <div class="col">
        <div class="card card-projet">
          <img src="assets/images/projet.png" class="card-img-top card-img-projet" alt="...">
          <div class="etat-projet">
            <span class="label-projet">Devis</span>
          </div>
          <div class="progress progress-projet" role="progressbar" aria-label="Basic example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar" style="width: 25%"></div>
          </div>
          <div class="card-body">
            <p class="title-projet">Nom du Projet</p>
            <p align="center">
              <button type="button" class="btn btn-outline-secondary btn-detail-projet" [routerLink]="['/projet']">Détail</button>
            </p>
          </div>
        </div>
      </div><!--col-->
      <div class="col">
        <div class="card card-projet">
          <img src="assets/images/projet.png" class="card-img-top card-img-projet" alt="...">
          <div class="etat-projet">
            <span class="label-projet">Devis</span>
          </div>
          <div class="progress progress-projet" role="progressbar" aria-label="Basic example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar" style="width: 25%"></div>
          </div>
          <div class="card-body">
            <p class="title-projet">Nom du Projet</p>
            <p align="center">
              <button type="button" class="btn btn-outline-secondary btn-detail-projet" [routerLink]="['/projet']">Détail</button>
            </p>
          </div>
        </div>
      </div><!--col-->
      <div class="col">
        <div class="card card-projet">
          <div class="card card-projet">
            <img src="assets/images/projet.png" class="card-img-top card-img-projet" alt="...">
            <div class="etat-projet">
              <span class="label-projet">Devis</span>
            </div>
            <div class="progress progress-projet" role="progressbar" aria-label="Basic example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar" style="width: 25%"></div>
            </div>
            <div class="card-body">
              <p class="title-projet">Nom du Projet</p>
              <p align="center">
                <button type="button" class="btn btn-outline-secondary btn-detail-projet" [routerLink]="['/projet']">Détail</button>
              </p>
            </div>
          </div>
        </div>
      </div><!--col-->
      <div class="col">
        <div class="card card-projet">
          <div class="card card-projet">
            <img src="assets/images/projet.png" class="card-img-top card-img-projet" alt="...">
            <div class="etat-projet">
              <span class="label-projet">Devis</span>
            </div>
            <div class="progress progress-projet" role="progressbar" aria-label="Basic example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar" style="width: 25%"></div>
            </div>
            <div class="card-body">
              <p class="title-projet">Nom du Projet</p>
              <p align="center">
                <button type="button" class="btn btn-outline-secondary btn-detail-projet" [routerLink]="['/projet']">Détail</button>
              </p>
            </div>
          </div>
        </div>
      </div><!--col-->
      <div class="col">
        <div class="card card-projet">
          <img src="assets/images/projet.png" class="card-img-top card-img-projet" alt="...">
          <div class="etat-projet">
            <span class="label-projet">Devis</span>
          </div>
          <div class="progress progress-projet" role="progressbar" aria-label="Basic example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar" style="width: 25%"></div>
          </div>
          <div class="card-body">
            <p class="title-projet">Nom du Projet</p>
            <p align="center">
              <button type="button" class="btn btn-outline-secondary btn-detail-projet" [routerLink]="['/projet']">Détail</button>
            </p>
          </div>
        </div>
      </div><!--col-->
    </div><!--row-->
  </div><!--projets-->


</div><!--container-->




