/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, "Noto Sans", Arial, "Odoo Unicode Support Noto", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
  background-color: #F5F5F5 !important;
}

a{
  text-decoration: none !important;
}

:root{
  --shadow4: 0 0 2px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.14);
  --shadowAmbient: rgba(0,0,0,0.12);
  --shadowKey: rgba(0,0,0,0.14);
}

.span-brand{
    float: left;
    width: 113px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* login and signup page */

#container {
  width: 100%;
  height: 100%;
  background-color: #f6f6f6;
}

#left {
  float: left;
  width: 60%;
  padding: 30px 50px 20px;
}

#right {
  float: right;
  width: 40%;
  height: 100%;
  background: #28628B;
  padding: 20px 20px 20px;
}

#rightReset {
  float: right;
  background: #fff;
  width: 40%;
  height: 100%;
  padding: 20px 20px 20px;
}

.left-signup {
  float: left;
  width: 25%;
  background-color: #fff;
  box-shadow: 0 2px 4px #00000024;
  flex-shrink: 0;
}

.right-signup {
  float: right;
  width: 75%;
  height: 100%;
  //background: #fff;
  padding: 20px 20px 20px;
}
/* end login and signup page */

/* button custom */

.btn-sing-1{
  border: 2.069px solid #28628B !important;
  background-color: #28628B !important;
  border-radius: 13.7933px !important;
  color: #ffffff !important;
  height: 40px;
  width: 160px !important;
  font-family: "Roboto" !important;
  font-style: normal;
  font-weight: 700 !important;
  font-size: 14px !important;
}

.btn-sing-2{
  border: 2.069px solid #8b032c !important;
  border-radius: 13.7933px !important;
  color: #8b032c !important;
  height: 40px;
  width: 160px !important;
  font-family: "Roboto" !important;
  font-style: normal;
  font-weight: 700 !important;
  font-size: 14px !important;
}

.btn-singup{
  border: 2.069px solid #FFFEFE !important;
  border-radius: 13.7933px !important;
  color: #ffffff !important;
  height: 30.75px;
  width: 110.14px !important;
  font-family: 'Roboto' !important;
  font-style: normal;
  font-weight: 700 !important;
  font-size: 12.414px !important;
}

.btn-reset-password{
    border: 2.069px solid #28628B !important;
    background-color: #28628B !important;
    border-radius: 13.7933px !important;
    color: #fff !important;
    height: 43.75px;
    width: 100% !important;
    font-family: "Roboto" !important;
    font-style: normal;
    font-weight: 700 !important;
    font-size: 15.414px !important;
}

.btn-reset{
  border: 2.069px solid #28628B !important;
    border-radius: 13.7933px !important;
    color: #28628B !important;
    height: 30.75px;
    width: 110.14px !important;
    font-family: "Roboto" !important;
    font-style: normal;
    font-weight: 700 !important;
    font-size: 12.414px !important;
}

.btn-sing{
    border: 2.069px solid #FFFEFE !important;
    border-radius: 13.7933px !important;
    color: #ffffff !important;
    height: 40px;
    width: 160px !important;
    font-family: "Roboto" !important;
    font-style: normal;
    font-weight: 700 !important;
    font-size: 14px !important;
}

.btn-projet{
  border-radius: 0 !important;
  color: #ffffff !important;
  background-color: #28628B !important;
  font-family: 'Roboto' !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 12px !important;
  text-align: center !important;
}

.btn-projet-annule{
  border-radius: 0 !important;
  color: #ffffff !important;
  background-color: #035250 !important;
  font-family: 'Roboto' !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 12px !important;
  text-align: center !important;
}

.btn-projet-action{
  border-radius: 0 !important;
  color: #0a0a0a !important;
  background-color: #ffffff !important;
  font-family: 'Roboto' !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 12px !important;
  text-align: center !important;
}

.btn-entreprise{
  border-radius: 0 !important;
  color: #ffffff !important;
  background-color: #28628B !important;
  font-style: normal !important;
  font-weight: normal !important;
  text-align: center !important;
}
.btn-entreprise-back{
  border-radius: 0 !important;
  color: #666B78 !important;
  background-color:#ECF0F4 !important;
  font-style: normal !important;
  font-weight: normal !important;
  text-align: center !important;
  border: 0.74264px solid #8E8E8E !important;
}


.btn-piece{
  border-radius: 0 !important;
  color: #000000 !important;
  background-color: #ffffff !important;
  border: 1px solid #28628B !important;
  font-family: 'Roboto' !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 12px !important;
  text-align: center !important;
}

.btn-etude{
  border-radius: 0 !important;
  color: #28628B !important;
  background-color: #ffffff !important;
  border: 1px solid #28628B !important;
  font-family: 'Roboto' !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 12px !important;
  text-align: center !important;
}

.btn-metre {
  border-radius: 20px !important;
  color: #ffffff !important;
  background-color: #28628B !important;
  font-family: "Roboto" !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 12px !important;
  text-align: center !important;
}

.btn-lot{
  border-radius: 0 !important;
  color: #ffffff !important;
  font-family: 'Roboto' !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 12px !important;
  text-align: center !important;
}

.btn-icon-projet{
  color: #28628B !important;
  font-size: 14px !important;
}

.btn-icon-projet-delete{
  color: #dc0a46 !important;
  font-size: 14px !important;
}

.btn-icon-projet-update{
  color: #27c607 !important;
  font-size: 14px !important;
}

/* end button custom */

/* label form login and signup */

.label-style{
  font-family: 'Roboto' !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 14px !important;
  line-height: 19px !important;
  color: #FFFFFF !important;
  margin-bottom: 10px;
}

.label-style-reset{
  font-family: 'Roboto' !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 14px !important;
  line-height: 19px !important;
  color: #28628B !important;
  margin-bottom: 10px;
}

.label-lot{
  font-family: 'Roboto' !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 19px !important;
  color: #28628B !important;
  margin-bottom: 10px;
}

.label-entreprise{
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 13px !important;
  color: #28628B !important;
  margin-bottom: 10px;
}

.label-batiment{
  font-family: 'Roboto' !important;
  font-style: normal !important;
  font-size: 12px !important;
  line-height: 19px !important;
  color: #666B78 !important;
}

/* end label form login and signup */

/* input login and signup */

.input-lgs{
    border-radius: 0 !important;
    background-color: rgba(0, 0, 0, 0.41) !important;
    border: 0px !important;
    color: #FFFFFF !important;
}

.input-lgs-reset{
  border-radius: 0 !important;
  background-color: #a8aaab !important;
  border: 0px !important;
  color: #000 !important;
}

.input-group-lgs{
  background-color: rgba(0, 0, 0, 0.41) !important;
  border:0 !important;
  border-radius: 0 !important;
  color: #FFFFFF !important;
}

.input-group-lgs-reset{
  background-color: #28628B !important;
  border:0 !important;
  border-radius: 0 !important;
  color: #FFFFFF !important;
}

.input-search{
  border-radius: 0 !important;
  border: 1px solid #28628B !important;
  color: #8E8E8E !important;
  font-size: 11px !important;
}

.input-lot{
  border-radius: 0 !important;
  border: 1px solid #8E8E8E !important;
  font-size: 11px !important;
}

.input-entreprise{
  border-radius: 0 !important;
  border: 0.349546px solid #666B78 !important;
  background-color:#ECF0F4 !important;
  //font-size: 11px !important;
}

.input-batiment{
  background: transparent !important;
  border: none !important;
  border-bottom: 1px solid #A0A2AB !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  font-size: 12px !important;
}

.input-batiment:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

/* end input login and signup */

/* navbar */

.nv-size{
    border: 0.5px solid #D8D8D8 !important;
    height: 75px !important;
}
.nv-icon{
  width: 20px !important;
  height: 20px !important;
}
.nv-toggle{
    background-color: transparent !important;
    border-color: #fff !important;
    border: 0 !important;
    border-radius: 0 !important;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

.navbar-nav .show > .nav-link, .navbar-nav .nav-link.active {
  color: #28628B !important;
}

.ml-auto-nav {
  margin-left: auto;
}

.alert-bell{
  color: #D64054 !important;
  font-size: 23px !important;
}

/* content */
.content-top{
 //padding-top: 130px !important;
 margin-bottom: 30px;
}

.content-top-child{
  padding-top: 50px !important;
  padding-bottom: 50px !important;
  margin-bottom: 30px;
 }

.content-title{
  font-family: 'Roboto' !important;
  font-style: normal !important;
  font-weight: 300 !important;
  line-height: 16px !important;
  color: #000000 !important;
}
.content-card{
 background-color: #ECF0F4 !important;
}

.number-card{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 26.0328px;
  line-height: 31px;
  color: #28628B;
}

.title-card{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 9.37179px;
  line-height: 11px;
  color: #666B78;
}

.type-projet{
  margin-bottom: 40px;
}

.list-projet{
  margin-bottom: 10px;
}

.list-search-projet{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 14.0125px;
  line-height: 16px;
  color: #000000;
  padding-top: 8px;
}

.bloc-new-projet{
  margin-bottom: 20px;
}

.bloc-projets{
  margin-bottom: 10px;
}

.card-projet{
  border: 0 !important;
  border-radius: 0 !important;
}

.card-projet-ent{
  border: 0.5px solid #959799 !important;
  border-radius: 0 !important;
}

.card-entrd{
  border: 0.5px solid #28628B !important;
  background-color:  #28628B !important;
}


.card-interv{
  border: 0.241592px solid #434A5E !important;
  border-radius: 0 !important;
}

.card-contact{
  //border: 0.241592px solid #fff !important;
  border: 0 !important;
  border-radius: 0 !important;
}

.card-etude{
  border: 1px solid #B1C7D7 !important;
  border-radius: 0 !important;
  box-shadow: 0px 4px 4px #B1C7D7 !important;
}

.card-img-projet{
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  //width: 100% !important;
  height: 196px !important;
}

.card-img-projet-ent {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  width: 251px !important;
  height: 160px !important;
}
.title-projet-page{
  font-family: 'Roboto';
  font-style: normal;
  line-height: 11px;
  color: #666B78;
}

.title-projet-page-detail{
  font-family: 'Roboto';
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  color: rgb(60,64,67);
}



.title-projet{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 11px;
  color: #666B78;
  text-align: center
}

.title-projet-ent {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  /* line-height: 11px; */
  color: #666B78;
  text-align: center;
}

.etat-projet{
  position: absolute;
  bottom: 174px;
  background-color: #48ae4d;
  width: 55px;
  height: 20px;
  text-align: center
}

.etat-entreprise{
    position: absolute;
    bottom: 96px;
    background-color: #28628B;
    width: 55px;
    height: 20px;
    font-size: 10px;
    font-weight: normal;
    text-align: center;
    right: 0;
}

.label-projet{
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    color: #FFFEFE;
}

.progress-projet{
  border-radius: 0 !important;
  height: 7px !important;
  --bs-progress-bar-bg: #28628B !important;
  background-color: #C4C4C4 !important;
}

.btn-detail-projet{
    color: #EB5F84 !important;
    font-size: 12px !important;
    border: 0.231405px solid #979797 !important;
    height: 29px !important;
    width: 98px !important;
}

.btn-update-projet{
  color: #000000 !important;
  font-size: 12px !important;
  border: 0.231405px solid #979797 !important;
  height: 29px !important;
  width: 98px !important;
}

.btn-compte{
  color: #000000 !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  border: 0.231405px solid #979797 !important;
}

.img-user-projet{
    top: 80px;
    bottom: 0px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
}

.user-title{
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #28628B;
}

.user-int{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 12px;
  text-align: center;
  color: #000000;
}

.box-title{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 12px;
  color: #666B78;
  width: 193px;
  margin-top: auto;
  text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
}

hr.projet {
  border: 2px solid #28628B;
  opacity: 1 !important;
  width: 155px !important;
}

hr.fiche {
  border: 1px solid #28628B;
  opacity: 1 !important;
}

hr.entreprise{
  border: 1px solid #6A6F7F;
  opacity: 1 !important;
}

.pr-projet{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #8A8A8A;
  text-align: center
}

.pr-title{
  font-style: normal;
  font-size: 9px;
  color: #434A5E;
}

.pr-title-projet{
  font-style: normal;
  font-size: 9px;
  color: #434A5E;
  text-align: center
}

.pr-title-etat{
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: #434A5E;
  text-align: center
}

.pr-title-entrep{
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: #434A5E;
  text-align: center
}

.nav-link.tabprojet{
  color: #737477 !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 13px !important;
  line-height: 12px !important;
}

.nav-link.active.tabprojet{
  color: #28628B !important
}

.nav-tabs .nav-link {
  background: #D8D8D8 !important;
  border-top-left-radius:0 !important;
  border-top-right-radius: 0 !important;
  height: 45px !important;
}

.nav-tabs .nav-link.active{
  background-color: #ffffff !important
}

.tab-content > .active {
  background-color: #fff !important;
}

.dot-green {
  height: 25px;
  width: 25px;
  background-color: #5EBC5E;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  padding: 3px;
}

.dot-blue {
  height: 25px;
  width: 25px;
  background-color: #28628B;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  padding: 3px;
}

.dot-red {
  height: 25px;
  width: 25px;
  background-color: #B53629;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  padding: 3px;
}

.card-dot-green{
  border: 0.5px solid #5EBC5E !important;
  border-radius: 0 !important;
  text-align: center !important;
}

.card-dot-blue{
  border: 0.5px solid #28628B !important;
  border-radius: 0 !important;
  text-align: center !important;
}

.card-dot-red{
  border: 0.5px solid #B53629 !important;
  border-radius: 0 !important;
  text-align: center !important;
}

.dot-title{
    font-size: 13px;
    font-weight: 500;
    margin-left: 40px !important;
}

.dot-box-title{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #28628B !important;
  text-align: right;
  cursor: pointer;
}

.dot-card1-user{
    color: #0D1929;
    font-size: 10px;
    position: relative;
    left: 62px;
    bottom: 31px;
}

.dot-card-time{
    color: #0D1929;
    font-size: 10px;
    text-align: right;
    position: relative;
    top: 34px;
}

.dot-box-file{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 12px;
  color: #28628B;
}

.card-footer-metre{
    text-align: center !important;
    color: #fff !important;
    font-weight: 800 !important;
    font-size: 12px !important;
    background: #28628B !important;
    border: 0.719351px solid #C4C4C4 !important;
    border-radius: 0 !important;
}

.lot-title{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 12px;
  color: #28628B;
}

.title-tab{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal !important;
  font-size: 11px;
  line-height: 10px;
  color: #0D1929;
}

.title-col{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 7px;
  color: #434A5E;
}

.infos-col{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #434A5E;
}

.infos-resp{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 12px;
  text-align: center;
  color: #434A5E;
}

.detail-ent-detail{
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 11px;
  color: #FFFFFF
}

.mat-stepper-vertical {
  background-color: #f6f6f6 !important;
}

.mat-expansion-panel-header {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: normal !important;
  color: #ffffff !important;
  background-color: #28628B !important
}

.mat-expansion-panel-header-title {
  color: rgb(255 255 255 / 100%) !important;
}

.mat-expansion-panel-header-description, .mat-expansion-indicator::after {
  color: rgb(255 255 255 / 80%) !important;
}

.mat-expansion-panel {
  box-sizing: content-box;
  display: block;
  margin: 0;
  border-radius: 0px !important;
  overflow: hidden;
  transition: margin 225ms cubic-bezier(0.4, 0, 0.2, 1),box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.mat-accordion .mat-expansion-panel:first-of-type {
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
}

.mat-expansion-panel-body {
  padding: 0 24px 16px;
  border: 1px solid #28628B !important;
}

.app-t1{
  font-family: 'Montserrat';
  font-style: normal;
  font-size: 6.76px;
  color: #434A5E;
  text-align: center
}

.app-t2{
  font-family: 'Montserrat';
  font-style: normal;
  font-size: 9px;
  color: #434A5E;
  text-align: center
}

.agenda-title{
  color: #28628B;
  text-align: center
}

.btn-outline-primary {
  --bs-btn-color: #28628B !important;
  --bs-btn-border-color: #28628B !important;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #28628B !important;
  --bs-btn-hover-border-color: #28628B !important;
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #28628B !important;
  --bs-btn-active-border-color: #28628B !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #28628B !important;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #28628B !important;
  --bs-gradient: none;
}

.number-devis{
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  color: #000000;
  position: absolute;
  right: 5px;
  top: 5px;
}

.title-tab-devis{
  font-size: 12px !important;
  font-weight: normal !important;
}

.mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) .mdc-evolution-chip__text-label {
  color: var(--mdc-chip-label-text-color, currentColor);
  font-size: 12px !important;
}

::ng-deep.mat-menu-panel {
  max-width: none !important;
}

.user-info{
  width: 340px;
  background-color: #F7F8F9;
  background-clip: border-box;
  border: 1px solid rgb(225 225 225 / 13%);;
  border-radius: 0.25rem;
  margin: 10px;
  border-top-left-radius: 25px;
  color: #000;
  border-top-right-radius: 25px;
}

.mat-mdc-menu-panel.mat-mdc-menu-panel.my-class {
  min-width: 0px !important;
  max-width: none !important;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  position: relative;
  background: #ffffff !important;
  border-radius: 25px !important;
}

.user-phone{
    font-size: 13px;
    position: relative;
    bottom: 22px;
    color: #3a3939;
}

.notdata{
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    color: #e13167;
}

.error_field{
  color: red;
  font-size: 12px;
  font-family: 'Roboto' !important;
}

.file-input {
  display: none;
}



.example-full-width {
  width: 100%;
}

.example-full-login {
  width: 75%;
}

.example-full {
  width: 40%;
}

.cal-week-view .cal-event {
  background-color: #d1e8ff;
  border-color: #1e90ff;
  color: #ffffff !important;
}

.card-color {
    //background-color: red;
    //padding-left: 19px;
    padding-left: 20px;
    border-radius: 5px;
    margin-right: 12px;
    position: relative;
    bottom: 3px;
}

.box-header{
  color: rgba(0,0,0,.87) !important;
  font-size: 12px;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  //visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 350px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #fff; /* Black background color */
  color: #333; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 80%; /* Center the snackbar */
  bottom: 20px; /* 30px from the bottom */
  border: 1px solid rgba(0,0,0,.125);
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

.full-screen-modal .mat-dialog-container {
  padding: 1em;
  width: 100%;
  height: 100%;
}

.hide-navbar{
  display : none !important ;
}

@media print {
  /* Styles spécifiques pour l'impression */
  body {
    background-color: white;
  }
}

.breadcrumbs {
  display: flex;
  flex: 1;
  line-height: 24px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -.2px;
  color: rgba(0,0,0,.54);
  overflow: hidden;
}

.breadcrumbs-container {
  margin: 0;
  padding: 0;
  list-style-type: none;
  cursor: default;
  display: flex;
  overflow: hidden;
}

.breadcrumbs-item {
  padding-right: 2px;
  overflow: hidden;
  display: flex;
  line-height: 33px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -.2px;
  text-align: left;
  color: rgba(0,0,0,.54);
  flex: 0 1 auto;
  min-width: 35px;
  margin-top: auto;
  text-overflow: ellipsis;
}

.breadcrumbs-item-anchor {
  box-sizing: border-box;
  color: inherit;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 0 1 auto;
  padding: 0 2px;
  text-align: center;
  cursor: pointer;
}

/*.mat-icon {
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
  height: 24px;
  width: 24px;
}*/

.breadcrumbs-item-chevron {
  opacity: 1;
  margin-top: 9px;
  font-size: 17px;
}

.breadcrumbs-item.adf-active {
  color: rgba(0,0,0,.87);
}

.breadcrumbs-item-current {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}


.box-folder {
  overflow: hidden;
  display: flex;
  line-height: 33px;
  font-size: 14px;
  letter-spacing: -.2px;
  text-align: left;
  flex: 0 1 auto;
  min-width: 35px;
  margin-top: auto;
  text-overflow: ellipsis;
}

.msg-reset-success{
    border-radius: 0px !important;
    border-left: 5px solid #0c9b4c !important;
    font-family: "Roboto" !important;
    font-style: normal !important;
    font-size: 14px !important;
    color: #0c9b4c;
}

.msg-reset-error{
  border-radius: 0px !important;
  border-left: 5px solid #ae102a !important;
  font-family: "Roboto" !important;
  font-style: normal !important;
  font-size: 15px !important;
  text-align: center;
  color: #ae102a;
}

.msg-reset{
  border-radius: 0px !important;
  border-left: 5px solid #28628B !important;
  font-family: "Roboto" !important;
  font-style: normal !important;
  font-size: 14px !important;
}

.text-profil{
    color: #444746;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.1px;
    line-height: 16px;
    text-transform: none;
    font-family: "Google Sans Text","Google Sans",Roboto,Arial,sans-serif;
    hyphens: auto;
    word-break: break-word;
    word-wrap: break-word;
}

.bg-light-customer {
  --bs-bg-opacity: 1;
  background-color: #fff !important;
  border-bottom: 1px solid #e0e1dd !important;
}

.link-c{
    font-size: 14px !important;
    line-height: 34px !important;
    color: #616161 !important;
    display: inline-block !important;
    padding-right: 30px !important;
    vertical-align: middle !important;
}


.btn-navbar{
    align-items: center !important;
    border-radius: 3px !important;
    display: flex !important;
    justify-content: center !important;
    line-height: 1.3333333 !important;
    margin: auto !important;
    min-height: 48px !important;
    text-transform: none !important;
    width: 100% !important;
    background: #28628B !important;
    color: #fff !important;
}

// Menus apps

.user-inf{
    font-size: 12px;
    color: #726e6e;
    position: relative;
    top: 14px;
    width: 109px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    float: none;
    /* display: contents; */
    display: inline-block;
    left: 6px;
}

.dot {
  height: 35px;
  width: 35px;
  background-color: #28628B;
  border-radius: 50%;
  //display: inline-block;
}

.dot-span{
  //font-weight: 700;
  position: relative;
  bottom: 5px;
  //top: 8px;
  //left: 6px;
  color: #fff;
  text-align: center;
}

.profile{
  padding-left: 20px;
}

.title-cc{
    min-height: 56px;
    font-weight: 700;
    //padding: 8px 26px 8px 70px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    transition: ease-out 0.5s;
    padding-left: 30px;
}

.dashboard {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
}

.dashboard-app {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  margin-top: 49px;
  height: 100vh;
  border-top-left-radius: 3px; /* Ajoutez la valeur de border-radius souhaitée pour le coin supérieur gauche */
  border-bottom-left-radius: 3px;
  /*box-shadow: var(
  --shadow4,
  0 0 2px var(--shadowAmbient, rgba(0, 0, 0, 0.12)),
  0 0 4px var(--shadowKey, rgba(0, 0, 0, 0.14))
 );*/
}

.dashboard-content {
  flex-grow: 2;
  padding: 25px;
}

.dashboard-nav {
  min-width: 238px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
  background-color: #373193;
}

.dashboard-compact .dashboard-nav {
  display: none;
}

.dashboard-nav header {
  min-height: 84px;
  padding: 8px 27px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.dashboard-nav header .menu-toggle {
  display: none;
  margin-right: auto;
}

.dashboard-nav a {
  color: #515151;
}

.dashboard-nav a:hover {
  text-decoration: none;
  color: #28628B;
}

.dashboard-nav {
  //background-color: #443ea2;
  background-color: #ffffff !important;
  border-right: 1px solid #efeded !important;
}

.dashboard-nav a {
  color: #000000;
}

.brand-logo {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #515151;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.brand-logo:focus, .brand-logo:active, .brand-logo:hover {
  color: #dbdbdb;
  text-decoration: none;
}

.brand-logo i {
  color: #d2d1d1;
  font-size: 27px;
  margin-right: 10px;
}

.dashboard-nav-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.dashboard-nav-item {
  min-height: 56px;
  padding: 8px 20px 8px 70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  letter-spacing: 0.02em;
  transition: ease-out 0.5s;
  font-size: 13px;
}

.dashboard-nav-item i {
  width: 36px;
  font-size: 14px;
  margin-left: -40px;
}

.dashboard-nav-item:hover {
  background: rgba(255, 255, 255, 0.04);
}

/*.active {
  background: #f6f6f6;;
}*/

.dashboard-nav-dropdown {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.dashboard-nav-dropdown.show {
  background: rgba(255, 255, 255, 0.04);
}

.dashboard-nav-dropdown.show > .dashboard-nav-dropdown-toggle {
  font-weight: bold;
}

.dashboard-nav-dropdown.show > .dashboard-nav-dropdown-toggle:after {
  -webkit-transform: none;
  -o-transform: none;
  transform: none;
}

.dashboard-nav-dropdown.show > .dashboard-nav-dropdown-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.dashboard-nav-dropdown-toggle:after {
  content: "";
  margin-left: auto;
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid rgba(81, 81, 81, 0.8);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.dashboard-nav .dashboard-nav-dropdown-toggle:after {
  border-top-color: rgba(255, 255, 255, 0.72);
}

.dashboard-nav-dropdown-menu {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.dashboard-nav-dropdown-item {
  min-height: 40px;
  padding: 8px 20px 8px 70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  transition: ease-out 0.5s;
}

.dashboard-nav-dropdown-item:hover {
  background: rgba(255, 255, 255, 0.04);
}

.menu-toggle {
  position: relative;
  width: 42px;
  height: 42px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #443ea2;
}

.menu-toggle:hover, .menu-toggle:active, .menu-toggle:focus {
  text-decoration: none;
  color: #875de5;
}

.menu-toggle i {
  font-size: 20px;
}

.dashboard-toolbar {
  min-height: 84px;
  background-color: #dfdfdf;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 8px 27px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}

.nav-item-divider {
  height: 1px;
  margin: 1rem 0;
  overflow: hidden;
  background-color: #efeded;
}

@media (min-width: 992px) {
  .dashboard-app {
      margin-left: 69px;
  }

  .dashboard-compact .dashboard-app {
      margin-left: 0;
  }
}


@media (max-width: 768px) {
  .dashboard-content {
      padding: 15px 0px;
  }
}

@media (max-width: 992px) {
  .dashboard-nav {
      display: none;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 1070;
  }

  .dashboard-nav.mobile-show {
      display: block;
  }
}

@media (max-width: 992px) {
  .dashboard-nav header .menu-toggle {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
  }
}

@media (min-width: 992px) {
  .dashboard-toolbar {
      left: 238px;
  }

  .dashboard-compact .dashboard-toolbar {
      left: 0;
  }
}

.card1{
  background-color: #28628B !important;
  border-radius: 9px !important;
  box-shadow: none !important;
  height: 300px !important;
}

.card2{
  background-color: #48ae4d !important;
  border-radius: 9px !important;
  box-shadow: none !important;
  height: 300px !important;
}

.card3{
  background-color: #53a3db !important;
  border-radius: 9px !important;
  box-shadow: none !important;
  height: 300px !important;
}

.btncard1{
  border-radius: 40px !important;
  width: 150px;
  height: 44px !important;
  align-items: center !important;
  background-color: #fff !important;
}

.btncard2{
  border-radius: 40px !important;
  width: 173px;
  height: 44px !important;
  align-items: center !important;
  background-color: #fff !important;
}

.chat-box {
    position: fixed;
    bottom: 0;
    width: 87%;
}

.chat-input{
  width: 100% !important;
  border-radius: 7px !important;
  border-color: #efeded !important;
  padding: 12px 20px;
  /* margin: 8px 0; */
  display: inline-block;
  border: 0 solid #efeded !important;
  box-sizing: border-box;
}

.chat-user-name{
  font-size: 15px;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, "Noto Sans", Arial, "Odoo Unicode Support Noto", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #4f4e4ee3;
}
.chat-date{
  --text-opacity: 1;
  color: rgba(55, 65, 81, 0.76) !important;
  opacity: 0.75 !important;
  font-size: 0.8125rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, "Noto Sans", Arial, "Odoo Unicode Support Noto", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.chat-user{
  width: 36px;
  height: 36px;
  background-color: #224168;
  border-radius: 0.25rem !important;
}
.chat-receveid{
  width: 36px;
  height: 36px;
  background-color: #4ca6df;
  border-radius: 0.25rem !important;
}
.chat-short-name{
  font-size: 19px;
  font-weight: bold;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, "Noto Sans", Arial, "Odoo Unicode Support Noto", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  padding-left: 9px;
  position: relative;
  top: 7px;
}

.chat-content{
  margin-bottom: 30px;
  padding-top: 100px;
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}

.th-chat{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, "Noto Sans", Arial, "Odoo Unicode Support Noto", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.td-chat{
  font-size: 13px;
  color: #575555;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, "Noto Sans", Arial, "Odoo Unicode Support Noto", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.td-chat-button{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, "Noto Sans", Arial, "Odoo Unicode Support Noto", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
  font-size: 13px !important;
}

.title-move{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, "Noto Sans", Arial, "Odoo Unicode Support Noto", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
  color: #444746 !important;
  font-size: 18px !important;
}

.folder-move{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, "Noto Sans", Arial, "Odoo Unicode Support Noto", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
  color: rgb(60,64,67) !important;
  font-size: 14px !important;
}
.folder-icon-move{
  color: rgb(60,64,67) !important;
  font-size: 19px !important;
}

.move-item{
  height: 41px !important;
  margin-bottom: 10px !important;
}

.move-item:hover{
  background-color: #ece8e895 !important;
  cursor: pointer !important;
  border-radius: 5px 60px 60px 5px !important;
}
.move-item.selected {
  background-color: rgb(190 209 238 / 58%) !important;;
  cursor: pointer !important;
  border-radius: 5px 60px 60px 5px !important;
}

.move-btn{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, "Noto Sans", Arial, "Odoo Unicode Support Noto", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
  font-size: 13px !important;
}

.channel-projet-btn{
    position: fixed;
    bottom: 20px;
    float: right;
    right: 45px;
}
.chat-popup {
  opacity: 0;
}

.chat-header{
  border-bottom: 1px rgba(0,0,0,.12) solid;
  height: 50px;
  padding: 14px 7px 10px 7px;
  position: fixed;
  width: 25%;
  background-color: white;
}

.chat-input-projet{
    border-radius: 30px !important;
    font-size: 14px !important;
    width: 230px !important;
    height: 46px !important;
    background: #dee2e6 !important;
}

.chat-content-projet{
  color: #000 !important;
  font-size: 14px !important;
  font-weight: normal !important;
  padding: 0px !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, "Noto Sans", Arial, "Odoo Unicode Support Noto", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

.chat-message-user{
  background-color: #28628B !important;
  border-color: #28628B !important;
  color: #fff !important;
  font-size: 13px !important;
  border-radius: 80px !important;
}

.chat-message-user-not{
  background-color: #dee2e6 !important;
  border-color: #dee2e6 !important;
  color: #000 !important;
  font-size: 13px !important;
  border-radius: 80px !important;
}

// Devis
.info-tab{
  color: #000;
  font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, "Noto Sans", Arial, "Odoo Unicode Support Noto", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

.th-devis{
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, "Noto Sans", Arial, "Odoo Unicode Support Noto", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}




// End apps






/* Importing Bootstrap SCSS file. */
@import 'assets/css/menus_mlka.scss';
@import 'bootstrap/scss/bootstrap';
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import "~@ng-select/ng-select/themes/default.theme.css";


