.custom-chart {
    border-radius: 9px;
  }

  .canvasjs-chart-credit{
    display: none !important;
  }


  [matBadgeColor=stock]{
    .mat-badge-content{
        background: #28628B !important; 
        color: #fff !important
    }
}

.mat-badge-content {
  width: auto;
  display: grid;
  min-width: 37px;
  min-height: 37px;
  text-align: center;
  align-items: center;
  padding: 5px 3px;
  top: -16px !important;
  right: -40px !important;
}