<app-navbar></app-navbar>
<div class="container">
  <div class="content-top">
    <div class="row" style="margin-bottom: 30px;">

       <div class="col">
           <div class="row">
            <div class="col">
              <p class="title-projet-page">Nom du Projet  <button class="btn" type="button" [routerLink]="['/projet']"> - Devis</button></p>
            </div>
           </div><!--row-->
       </div><!--col-->
    </div><!--row-->
  </div><!--content-top-->
  <div class="type-projet">
    <div class="row">
      <div class="col">
        <div class="card content-card">
          <div class="card-body">
            <span class="number-devis">567 j</span>
            <p class="number-card">61</p>
            <p class="title-card">Total Main d'oeuvre</p>
          </div>
        </div>
      </div><!--col-->
      <div class="col">
        <div class="card content-card">
          <div class="card-body">
            <span class="number-devis">349 j</span>
            <p class="number-card">28</p>
            <p class="title-card">Total Equipements</p>
          </div>
        </div>
      </div><!--col-->
      <div class="col">
        <div class="card content-card">
          <div class="card-body">
            <span class="number-devis">153 j</span>
            <p class="number-card">10</p>
            <p class="title-card">Total Autre</p>
          </div>
        </div>
      </div><!--col-->
      <div class="col">
        <div class="card content-card">
          <div class="card-body">
            <span class="number-devis">2€ Unité</span>
            <p class="number-card">8.318 €</p>
            <p class="title-card">Prix Total Main d'oeuvre</p>
          </div>
        </div>
      </div><!--col-->
      <div class="col">
        <div class="card content-card">
          <div class="card-body">
            <span class="number-devis">2€ Unité</span>
            <p class="number-card">1.624 €</p>
            <p class="title-card">Prix Total Equipements</p>
          </div>
        </div>
      </div><!--col-->
      <div class="col">
        <div class="card content-card">
          <div class="card-body">
            <span class="number-devis">2€ Unité</span>
            <p class="number-card">504 €</p>
            <p class="title-card">Prix Total Autres</p>
          </div>
        </div>
      </div><!--col-->
    </div><!--row-->
  </div><!--type projets-->

  <div>
    <div class="row">
      <div class="col">
        <p class="lot-title" style="padding-top: 10px;">Liste des tâches</p>
      </div>
      <div class="col">
        <div class="d-flex flex-row-reverse bd-highlight" style="margin-bottom: 25px;">
          <div class="p-2 bd-highlight">
            <button type="button" class="btn btn-projet"><i class="fa-solid fa-plus"></i> Nouvelle Tâche</button>
          </div>
          <div class="p-2 bd-highlight" style="width: 45%;"><input type="text" class="form-control input-search" id="exampleFormControlInput1" placeholder="Taper le nom d'un tâche"></div>
        </div>
      </div>
    </div><!--row-->
    <table class="table table-bordered">
      <thead style="background-color: #C4C4C4;">
        <tr>
          <th scope="col" class="title-tab-devis">Tâches</th>
          <th scope="col"  class="title-tab-devis">Nombre de Team</th>
          <th scope="col"  class="title-tab-devis">Nombre de jour</th>
          <th scope="col"  class="title-tab-devis">Main d'oeuvre</th>
          <th scope="col"  class="title-tab-devis">Equipements</th>
          <th scope="col"  class="title-tab-devis">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Déchargement des containers</td>
          <td>1</td>
          <td>25</td>
          <td>
            <mat-chip-listbox aria-label="Fish selection">
              <mat-chip-option>1 Chef chantier</mat-chip-option>
              <mat-chip-option>6 Ouvrier qualifié</mat-chip-option>
              <mat-chip-option>6 Manoeuvre</mat-chip-option>
            </mat-chip-listbox>
          </td>
          <td>
            <mat-chip-listbox aria-label="Fish selection">
              <mat-chip-option>1 Opérateur</mat-chip-option>
              <mat-chip-option>1 Chariot Manitou</mat-chip-option>
            </mat-chip-listbox>
          </td>
          <td>
            <button class="btn btn-projet dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Action</button>
          </td>
        </tr>
        <tr>
          <td>Assemblage des modules</td>
          <td>2</td>
          <td>32</td>
          <td>
            <mat-chip-listbox aria-label="Fish selection">
              <mat-chip-option>1 Chef chantier</mat-chip-option>
              <mat-chip-option>6 Ouvrier qualifié</mat-chip-option>
              <mat-chip-option>6 Manoeuvre</mat-chip-option>
            </mat-chip-listbox>
          </td>
          <td>
            <mat-chip-listbox aria-label="Fish selection">
              <mat-chip-option>1 Opérateur</mat-chip-option>
              <mat-chip-option>6 Chariot Manitou</mat-chip-option>
            </mat-chip-listbox>
          </td>
          <td>
            <button class="btn btn-projet dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Action</button>
          </td>
        </tr>
        <tr>
          <td>Manutention des modules et assemblage</td>
          <td>1</td>
          <td>25</td>
          <td>
            <mat-chip-listbox aria-label="Fish selection">
              <mat-chip-option>1 Chef chantier</mat-chip-option>
              <mat-chip-option>6 Ouvrier qualifié</mat-chip-option>
              <mat-chip-option>6 Manoeuvre</mat-chip-option>
            </mat-chip-listbox>
          </td>
          <td>
            <mat-chip-listbox aria-label="Fish selection">
              <mat-chip-option>3 Opérateur</mat-chip-option>
              <mat-chip-option>2 Grue mobile</mat-chip-option>
            </mat-chip-listbox>
          </td>
          <td>
            <button class="btn btn-projet dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Action</button>
          </td>
        </tr>

      </tbody>
    </table>


  </div>
</div>
