<app-navbar-user></app-navbar-user>
<div class="container" style="padding-top: 110px;">
  <h1 class="text-center" style="margin-bottom: 50px;">
    <span class="title-sign">Bienvenue chez MLKA GROUPE</span>
  </h1>
  <div class="row justify-content-md-center">
    <div class="col-lg-7 col-md-7 col-md-auto">
      <p style="text-align: center;color: #359f0c;">Un e-mail a été envoyé avec les informations de votre compte.</p>
      <p class="desc">
        Nous sommes ravis de vous accueillir chez MLKA GROUPE, votre partenaire de confiance pour le suivi, la fourniture et l'installation de bâtiments préfabriqués. Nous vous remercions de vous être inscrit(e) sur notre plateforme et de nous avoir choisi pour répondre à vos besoins en construction.
      </p>
      <div class="row" style="margin-bottom: 10px;">
        <div class="col">
          <a href="https://mlka.app/entreprise/dashboard">
            <mat-card class="click" style="border-radius: 0 !important;">
              <mat-card-content>
                <span><img src="assets/images/zone.png"></span>
                <span class="module-title">Métrés</span>
              </mat-card-content>
            </mat-card>
          </a>
        </div>
        <div class="col">
          <a href="https://mlka-market.com/connexion?back=my-account">
            <mat-card class="click" style="border-radius: 0 !important;">
              <mat-card-content>
                <span><img src="assets/images/marketplace.png"></span>
                <span class="module-title">MarketPlace</span>
              </mat-card-content>
            </mat-card>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <a href="https://mlka-hld.fr/">
            <mat-card class="click" style="border-radius: 0 !important;">
              <mat-card-content>
                <span><img src="assets/images/cube.png"></span>
                <span class="module-title">Services</span>
              </mat-card-content>
            </mat-card>
          </a>
        </div>
        <div class="col">
          <a href="https://mlka-innov.fr/">
            <mat-card class="click" style="border-radius: 0 !important;">
              <mat-card-content>
                <span><img src="assets/images/innovation.png"></span>
                <span class="module-title">Réemploi</span>
              </mat-card-content>
            </mat-card>
          </a>
        </div>
      </div>

    </div>
  </div>
</div><!--container-->
