<input type="file" class="file-input" accept='image/png,image/jpeg,image/jpg,image/gif,.pdf,.docx,.xlsx,.pptx' (change)="onFileSelected($event)" #fileUpload>
<button type="button"  (click)="fileUpload.click()" class="btn btn-projet"><i class="fa-solid fa-cloud-arrow-down"></i> Charger</button>

<div id="snackbar" *ngIf="progress">
    <br/>
    <div class="progress">
      <div class="progress-bar" role="progressbar" [style.width]="progress + '%'">{{progress}}%</div>
    </div>
    <br/>
    <p style="font-size: 12px;" *ngIf="progress<100">Fichier {{fileName}} est en cours de chargement...</p>
    <p style="font-size: 12px;color: rgb(16, 93, 38);" *ngIf="progress==100">Fichier {{fileName}} est chargé avec succès</p>
  </div>
