<app-navbar>
  <div class="container">
    <div class="content-top">
      <div class="row">
        <div class="col">
          <p class="title-projet-page">Projet : {{projet?.nom}} <button class="btn" type="button" [routerLink]="['/entreprise/dashboard']"><i class="fa-solid fa-arrow-left" style="color:#28628B;"></i></button></p>
        </div>
        <div class="col">
           <div align="right">
            <i class="fa-solid fa-city" style="font-size: 30px;color: #666C7E;"></i>
           </div>
        </div>
      </div><!--row-->
      <div class="row">
        <div class="col">
          <hr class="entreprise">
        </div>
      </div><!--row-->
      <div class="row">
        <div class="col">

          <mat-stepper orientation="vertical">
            <mat-step [stepControl]="firstFormGroup" errorMessage="Veuillez remplir les champs est obligatoire.">
              <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Informations Primaires du projet</ng-template>
                <ng-template matStepContent>
                  <div class="row">
                    <div class="col">

                      <div style="margin-bottom: 15px;">
                        <mat-form-field class="example-full-width">
                          <mat-label>Nom du projet</mat-label>
                          <input  matInput type="text" formControlName="projet"  [(ngModel)]="projet.projet"  required>
                        </mat-form-field>
                        <div *ngIf="firstFormGroup.get('projet').hasError(champ_validation.nom[0].type) && (firstFormGroup.get('projet').dirty || firstFormGroup.get('projet').touched)">
                          <p class="error_field">{{champ_validation.nom[0].message}}</p>
                        </div>
                      </div><!--div-->

                    </div><!--col-->
                  </div>
                  
                  <div class="row" style="margin-bottom: 15px;">
                    <div class="col-2">
                      <mat-form-field class="example-full-width">
                        <mat-label>Genre</mat-label>
                        <mat-select formControlName="genre"  [(ngModel)]="projet.genre" aria-label="Default select example">
                          <mat-option value="Mr">Mr</mat-option>
                          <mat-option value="Mme">Mme</mat-option>
                        </mat-select>
                      </mat-form-field>                      
                    </div>
                    <div class="col">
                       <mat-form-field class="example-full-width">
                        <mat-label>Nom du responsable</mat-label>
                        <input  matInput type="text" formControlName="nom"  [(ngModel)]="projet.nom">
                      </mat-form-field>
                    </div>
                    <div class="col">
                      <mat-form-field class="example-full-width">
                        <mat-label>Prénom du responsable</mat-label>
                        <input  matInput type="text" formControlName="prenom"  [(ngModel)]="projet.prenom">
                      </mat-form-field>
                    </div>
                  </div>
                  <div style="margin-bottom: 15px;">
                   <mat-form-field class="example-full-width">
                      <mat-label>Url du plan</mat-label>
                      <input  matInput type="text" formControlName="plan"  [(ngModel)]="projet.plan">
                    </mat-form-field>
                  </div><!--div-->
                  <div align="right">
                    <button mat-button matStepperNext class="btn-entreprise">Suivant <i class="fa-solid fa-chevron-right"></i></button>
                  </div>
                </ng-template>
              </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup">
              <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Coordonnées du projet</ng-template>
                <ng-template matStepContent>
                  <div class="row">
                    <div class="col">

                      <div style="margin-bottom: 15px;">
                        <mat-form-field class="example-full-width">
                          <mat-label>Url du plan</mat-label>
                          <input  matInput type="text" formControlName="pays"  [(ngModel)]="projet.pays" [matAutocomplete]="auto">
                          <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let pays of paysFiltres | async" [value]="pays.name">
                              {{pays?.emoji}} {{pays?.name}}
                            </mat-option>
                          </mat-autocomplete>
                        </mat-form-field>
                      </div><!--div-->
                      <div style="margin-bottom: 15px;">
                        <mat-form-field class="example-full-width">
                          <mat-label>Ville</mat-label>
                          <input  matInput type="text" formControlName="ville"  [(ngModel)]="projet.ville">
                        </mat-form-field>
                      </div><!--div-->
                      <div style="margin-bottom: 15px;">
                        <mat-form-field class="example-full-width">
                          <mat-label>Code Postal</mat-label>
                          <input  matInput type="text" formControlName="postal"  [(ngModel)]="projet.postal">
                        </mat-form-field>
                      </div><!--div-->

                    </div><!--col-->
                    <div class="col">

                      <div style="margin-bottom: 15px;">
                       <mat-form-field class="example-full-width">
                          <mat-label>Numéro</mat-label>
                          <input  matInput type="text" formControlName="adresse"  [(ngModel)]="projet.adresse">
                        </mat-form-field>
                      </div><!--div-->
                      <div style="margin-bottom: 15px;">
                        <mat-form-field class="example-full-width">
                          <mat-label>Rue</mat-label>
                          <input  matInput type="text" formControlName="rue"  [(ngModel)]="projet.rue">
                        </mat-form-field>
                      </div><!--div-->
                   </div>
                  </div>
                  <div align="right">
                    <button mat-button matStepperPrevious class="btn-entreprise-back" style="margin-right: 10px;"><i class="fa-solid fa-chevron-left"></i> PRECEDENT</button>
                    <button mat-button matStepperNext class="btn-entreprise">SUIVANT <i class="fa-solid fa-chevron-right"></i></button>
                  </div>
                </ng-template>
              </form>
            </mat-step>
            <mat-step [stepControl]="threeFormGroup">
              <form [formGroup]="threeFormGroup">

              <ng-template matStepLabel>Information Supplémentaires du projet</ng-template>
              <div class="row" style="padding-top: 13px;margin-bottom: 5px;">
                <div class="col-md-3">
                  <div class="card card-dot-blue" style="margin-bottom: 10px;" *ngIf="!selectedImage">
                    <div class="card card-dot-blue" *ngIf="!projet?.photo">
                      <div class="card-body">
                        <img src="assets/images/galerie.png">
                      </div>
                    </div><!--card-->
                    <img [src]="image" *ngIf="projet?.photo" class="card-img-projet">
                 </div>
                 <div *ngIf="selectedImage"  style="margin-bottom: 10px;">
                    <img [src]="selectedImage" class="card-img-projet">
                 </div>
                  <div align="right">
                    <input type="file" class="file-input" accept='image/*' (change)="onFileSelected($event)" #fileUpload>
                    <button type="button" (click)="fileUpload.click()" class="btn btn-projet"><i class="fa-solid fa-cloud-arrow-down"></i> charger</button>
                  </div>
                </div><!--col-->
                <div class="col-md-9"></div>
              </div><!--row-->
              <div>
                <div style="margin-bottom: 15px;">
                  <mat-form-field class="example-full-width">
                    <mat-label>Budget Prévisionnel du projet</mat-label>
                    <input  matInput type="text" formControlName="budget" [(ngModel)]="projet.budget">
                  </mat-form-field>
                </div><!--div-->
                <div style="margin-bottom: 15px;">
                  <mat-form-field class="example-full-width">
                    <mat-label>Devise du projet</mat-label>
                    <input  matInput type="text" formControlName="devise" [(ngModel)]="projet.devis" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                      <mat-option *ngFor="let dev of devisFiltres | async" [value]="dev.symbole">
                        {{dev.nom}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </div><!--div-->
                <div style="margin-bottom: 15px;">
                  <mat-form-field class="example-full-width">
                    <mat-label>Site d'offre</mat-label>
                    <input  matInput type="text" formControlName="site_offre" [(ngModel)]="projet.site_offre">
                  </mat-form-field>
                </div><!--div-->
                <div style="margin-bottom: 15px;">
                  <mat-form-field class="example-full-width">
                    <mat-label>Numéro d'offre</mat-label>
                    <input  matInput type="text" formControlName="numero_offre" [(ngModel)]="projet.numero_offre">
                  </mat-form-field>
                </div><!--div-->
                <div style="margin-bottom: 15px;">
                  <mat-form-field class="example-full-width">
                    <mat-label>Date limite remise d'offre</mat-label>
                    <input  matInput type="date" formControlName="date_limite"  [(ngModel)]="jours">
                  </mat-form-field>
                </div><!--div-->
              </div>

              </form>
              <div align="right">
                <button mat-button matStepperPrevious class="btn-entreprise-back" style="margin-right: 10px;"><i class="fa-solid fa-chevron-left"></i> PRECEDENT</button>
                <button mat-button  class="btn-entreprise" (click)="updateProjet()" [disabled]="firstFormGroup.invalid">VALIDER</button>
              </div>
            </mat-step>
          </mat-stepper>


        </div><!--col-->
      </div><!--row-->
    </div>
  </div>
</app-navbar>

