<div class="container">
  <div class="content-top-child">

    <div class="d-flex flex-row-reverse bd-highlight" style="margin-bottom: 30px;">
      <div class="p-2 bd-highlight">
        <button type="button" class="btn btn-projet"><i class="fa-solid fa-cloud-arrow-down"></i> Charger</button>
      </div>
      <div class="p-2 bd-highlight">
        <button type="button" class="btn btn-piece">Nouveau Dossier</button>
      </div>
      <div class="p-2 bd-highlight" style="width: 45%;"><input type="text" class="form-control input-search" id="exampleFormControlInput1" placeholder="Rechercher par nom de dossier ou fichier"></div>
    </div>

    <div class="row" style="margin-bottom: 15px;">
      <div class="col-6"><p class="box-title">Nom</p></div>
      <div class="col"><p class="box-title">Modifié</p></div>
      <div class="col"><p class="box-title">Partagé avec</p></div>
      <div class="col"><p class="box-title">Taille</p></div>
    </div><!--row-->

    <div class="row" style="margin-bottom: 10px">
      <div class="col-6"><p class="box-title"><img src="assets/images/dossier.png" style="margin-right: 10px;margin-top: -4px;"><span>Dossier 1</span></p></div>
      <div class="col"><p class="box-title">17 Avril 2023</p></div>
      <div class="col">
          <p class="box-title">
          <img src="assets/images/p1.png">
          <img src="assets/images/p2.png">
          <img src="assets/images/p3.png">
        </p>
    </div>
      <div class="col"><p class="box-title">2G</p></div>
    </div><!--row-->
    <div class="row" style="margin-bottom: 10px">
      <div class="col-6"><p class="box-title"><img src="assets/images/dossier.png" style="margin-right: 10px;margin-top: -4px;"><span>Dossier 2</span></p></div>
      <div class="col"><p class="box-title">17 Avril 2023</p></div>
      <div class="col">
          <p class="box-title">
          <img src="assets/images/p1.png">
          <img src="assets/images/p2.png">
          <img src="assets/images/p3.png">
        </p>
    </div>
      <div class="col"><p class="box-title">2G</p></div>
    </div><!--row-->
    <div class="row" style="margin-bottom: 10px">
      <div class="col-6"><p class="box-title"><img src="assets/images/pdf.png" style="margin-right: 10px;margin-top: -4px;"><span>Fichier 1</span></p></div>
      <div class="col"><p class="box-title">17 Avril 2023</p></div>
      <div class="col">
          <p class="box-title">
          <img src="assets/images/p1.png">
          <img src="assets/images/p2.png">
          <img src="assets/images/p3.png">
        </p>
    </div>
      <div class="col"><p class="box-title">12MB</p></div>
    </div><!--row-->
    <div class="row">
      <div class="col-6"><p class="box-title"><img src="assets/images/doc.png" style="margin-right: 10px;margin-top: -4px;"><span>Fichier 2</span></p></div>
      <div class="col"><p class="box-title">17 Avril 2023</p></div>
      <div class="col">
          <p class="box-title">
          <img src="assets/images/p1.png">
          <img src="assets/images/p2.png">
          <img src="assets/images/p3.png">
        </p>
    </div>
      <div class="col"><p class="box-title">12MB</p></div>
    </div><!--row-->

  </div><!--content-->

</div>
